<form class="form-horizontal rounded-bottom taskProgressOBox noborder">
    <div class="ibox">
        <div class="ibox-content">
            <div class="col-md-12">
                <div class="col-md-2">
                    <label>
                        <b>{{$labelText}}:</b>
                    </label>
                </div>
                {{if taskScheduleChangesList && taskScheduleChangesList.length>0}}
                <div class="col-md-7">
                      {{_momentFormat(taskScheduleChangesList[0].startTime,'YYYY/MM/DD')}}
                    {{if (taskScheduleChangesList[0].startTime!=null && taskScheduleChangesList[0].startTime!='')
                    || (taskScheduleChangesList[0].endTime!=null && taskScheduleChangesList[0].endTime!='')}}

                    <span>~</span>
                    {{/if}}
                      {{_momentFormat(taskScheduleChangesList[0].endTime,'YYYY/MM/DD')}}
                    {{if (taskScheduleChangesList[0].startTime!=null && taskScheduleChangesList[0].startTime!='')
                    && (taskScheduleChangesList[0].endTime!=null && taskScheduleChangesList[0].endTime!='')}}
                    {{if taskScheduleChangesList[0].allDay!=null}}
                    <span>&nbsp;( <span class="diffDaysTxt">{{taskScheduleChangesList[0].allDay}}</span>天 )</span>
                    {{/if}}
                    {{/if}}

                </div>
                <div class="col-md-3">
                    <a href="javascript:void(0)" data-action="addScheduleProgressChange"
                       class="btn-u btn-u-xs rounded {{taskScheduleChangesList && taskScheduleChangesList.length>1?'hide':''}}"
                       data-id="{{taskScheduleChangesList[0].id}}" data-type="{{taskScheduleChangesList[0].type}}" data-list-type="1"
                       data-start-time="{{taskScheduleChangesList[0].startTime}}" data-end-time="{{taskScheduleChangesList[0].endTime}}">
                        {{taskScheduleChangesList[0].type==3?'修改':'变更'}}
                    </a>

                    <!--<a href="javascript:void(0)" data-action="delScheduleProgressChange" data-seq="0" data-id="{{taskScheduleChangesList[0].id}}"
                       class="btn-u btn-u-xs btn-u-red rounded {{if taskScheduleChangesList && taskScheduleChangesList.length>1}}hide{{/if}}" >删除</a>-->
                </div>
                {{/if}}
                <div class="clearfix"></div>
            </div>
            {{each taskScheduleChangesList as v }}
            {{if $index>0}}
            <div class="col-md-12">
                <div class="col-md-2">
                    <label class="" style="text-align: right">
                        <b>第{{$index}}次变更:</b>
                    </label>
                </div>
                <div class="col-md-7">
                      {{_momentFormat(v.startTime,'YYYY/MM/DD')}}
                    {{if (v.startTime!=null && v.startTime!='') || (v.endTime!=null && v.endTime!='')}}
                    <span>~</span>
                    {{/if}}
                      {{_momentFormat(v.endTime,'YYYY/MM/DD')}}
                    {{if (v.startTime!=null && v.startTime!='') && (v.endTime!=null && v.endTime!='')}}
                    {{if v.timeDiffStr!=null}}
                    <span>&nbsp;( <span class="diffDaysTxt">{{v.timeDiffStr}}</span>天 )</span>
                    {{/if}}
                    {{/if}}
                </div>
                <div class="col-md-3">
                    <a href="javascript:void(0)" data-action="addScheduleProgressChange"
                       class="btn-u btn-u-xs rounded {{taskScheduleChangesList && taskScheduleChangesList.length!=$index+1?'hide':''}}"
                       data-id="{{v.id}}" data-type="{{v.type}}" data-start-time="{{v.startTime}}" data-end-time="{{v.endTime}}">
                        {{v.type==3?'修改':'变更'}}
                    </a>

                   <!-- <a href="javascript:void(0)" data-action="delScheduleProgressChange" data-id="{{v.id}}"
                       class="btn-u btn-u-xs btn-u-red rounded {{if taskScheduleChangesList && taskScheduleChangesList.length!=$index+1}}hide{{/if}}">删除</a>-->

                </div>
                <div class="col-md-10 col-md-offset-2 ">
                    <label class="" style="position: relative;line-height:18px;word-break: break-all;">
                        <b>变更原因：</b> <span class="memo-span">{{v.memo}}</span>
                    </label>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</form>
