<form style="padding-top: 1px;">
<table class="tree table table-bordered tree-box">
    <thead>
    <tr>
        <th width="40%" class="b-r-none" style="padding-left: 38px;">设计任务</th>
        <th width="20%" class="b-r-none b-l-none">设计组织</th>
        <th width="14%" class="b-r-none b-l-none">开始时间</th>
        <th width="14%" class="b-r-none b-l-none">结束时间</th>
        <th width="12%" class="b-l-none">任务状态</th>
    </tr>
    </thead>
    <tbody>
    {{each taskIssueList as t ti}}
    <tr class="tree-box-tr treegrid-{{t.taskId}} {{if t.taskPid!=null && t.taskPid!=''}}treegrid-parent-{{t.taskPid}}{{/if}}" data-i="{{ti}}"
        data-id="{{t.taskId}}" data-pid="{{t.taskPid}}" data-company-id="{{t.companyId}}" data-publish-id="{{t.publishId}}">

        <td class="treeTd pt-relative v-middle b-r-none" height="40" >
            {{if t.taskState=='3'||t.taskState=='4'}}<i class="fa fa-check fc-v1-green"></i>{{/if}}

            <span class="show-span taskName pt-relative" data-string="{{t.taskName}}">{{t.taskName}}</span>
            {{if t.issuePlanList!=null && t.issuePlanList.length>0}}
                <a class="tree-td-a" href="javascript:void(0);" data-action="viewPlanTime" id="viewPlanTime{{t.taskId}}"><i class="fa fa-star-half-empty"></i></a>
            {{/if}}
        </td>
        <td class="v-middle b-r-none b-l-none">
            <sapn class="show-span" data-id="{{t.id}}" data-p-id="{{t.taskPid}}" data-depart-id="{{t.departId}}">
                {{if t.departName!=null && t.departName!=''}}
                    {{t.departName}}
                    <i class="iconfont rounded icon-2fengongsi m-r-xs" data-toggle="tooltip" data-original-title="{{t.companyName}}"></i>
                {{else}}
                    {{t.companyName}}
                {{/if}}
            </sapn>
        </td>
        <td class="v-middle b-r-none b-l-none">
            <span class="show-span">
                {{if t.planStartTime==null || t.planStartTime==''}}
                    <span class="fc-v1-grey">--</span>
                {{else}}
                    {{t.planStartTime}}
                {{/if}}
            </span>
        </td>
        <td class="v-middle b-r-none b-l-none">
            <span class="show-span">
                {{if t.planEndTime==null || t.planEndTime==''}}
                    <span class="fc-v1-grey">--</span>
                {{else}}
                    {{t.planEndTime}}
                {{/if}}
            </span>
        </td>
        <td class="v-middle b-l-none">
            <!--根据状态改变样式-->
            {{if t.taskState === 7}}
                <span class="text-danger">{{t.stateHtml}}</span>
            {{else if t.stateHtml ===3}}
                <span class="text-success">{{t.stateHtml}}</span>
            {{else if t.stateHtml ===2}}
                <span class="text-danger">{{t.stateHtml}}</span>
            {{else}}
                <span>{{t.stateHtml}}</span>
            {{/if}}
        </td>
    </tr>
    {{/each}}

    {{if !(taskIssueList && taskIssueList.length>0)}}
    <tr>
        <td colspan="5" class="text-center v-middle">
            <div class="m-b-xl m-t-md">
                <img src="{{_url('/assets/img/default/without_data.png')}}">
                <span class="fc-dark-blue dp-block">没有相关签发任务</span>
            </div>
        </td>
    </tr>
    {{/if}}

    </tbody>
</table>
</form>