<tr class="row-edit edit-box">
    <td class="b-r-none "></td>
    <td class="b-r-none b-l-none"></td>
    <td class="b-r-none b-l-none" colspan="2">
        <input placeholder="设计任务" class="form-control" type="text" name="taskName" style="width: 80%;display: inline-block;">
        <span><span class="wordCount">0</span>/<span>50</span></span>
    </td>
    <td class="b-r-none b-l-none">
        <div class="btn-group org-select-box">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="company-name" data-company-id="{{allCompanyList[0].id}}" data-depart-id="">
                    {{allCompanyList==null || allCompanyList.length==0?'':allCompanyList[0].companyName}}
                </span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="max-height: 155px;overflow-y: auto;overflow-x: hidden;">
                {{each allCompanyList as s}}
                <li>
                    <a class="{{currentCompanyId == s.id && departList!=null && departList.length>1?'p-r-lg':''}}" href="javascript:void(0);" data-action="choseOrg" data-type="{{s.companyType}}" data-chose-type="company" data-company-id="{{s.id}}">{{s.companyName}}</a>
                    {{if currentCompanyId == s.id && departList!=null && departList.length>1}}
                    <a class="open-depart-btn" title="选择部门">
                        <i class="fa fa-angle-double-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        {{each departList as d}}
                        {{if currentCompanyId!=d.id}}
                        <li>
                            <a href="javascript:void(0);" data-action="choseOrg"  data-chose-type="depart" data-company-id="{{d.id}}">{{d.departName}}</a>
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </div>

    </td>
    <td class="b-r-none b-l-none" colspan="2">
        <div class="input-group dp-inline-block">
            <input type="text" class="form-control timeInput startTime input-sm" id="ipt_startTime" name="startTime" data-appointmentStartTime = ""
                   placeholder="开始日期" readonly onFocus="startTimeFun(this,m_inputProcessTime_onpicked)" value="" style="width: 110px;">
            <span class="input-group-addon no-padding">
                <i class="icon-sm icon-append fa fa-calendar" style="height: 28px;line-height: 28px;"></i>
            </span>
        </div>
        <div class="input-group dp-inline-block">
            <input type="text" class="form-control timeInput endTime input-sm" id="ipt_endTime" name="endTime" data-appointmentEndTime = ""
                   placeholder="结束日期" readonly onFocus="endTimeFun(this,m_inputProcessTime_onpicked)" value="" style="width: 110px;">
            <span class="input-group-addon no-padding">
                <i class="icon-sm icon-append fa fa-calendar" style="height: 28px;line-height: 28px;"></i>
            </span>
        </div>
    </td>
    <td></td>
    <td class="b-l-none">
        <button class="btn btn-primary btn-sm" data-action="submit">创建</button>
        <button class="btn btn-default btn-sm" data-action="cancel">取消</button>
    </td>
</tr>
<tr class="row-edit edit-box">
    <td class="b-r-none b-t-none" colspan="2"></td>
    <td class="b-r-none b-l-none b-t-none v-middle" colspan="7">
        <input placeholder="任务描述" class="form-control" type="text" name="taskRemark" >
    </td>
    <td class="b-l-none b-t-none"></td>
</tr>
