<div class="btn-group edit-box reign-edit-box edit-org-box">
    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="company-name" data-company-id="{{selectedCompanyId}}" data-depart-id="{{selectedDepartId==null?'':selectedDepartId}}">
            {{selectedCompanyText}}
        </span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" style="max-height: 155px;overflow-y: auto;overflow-x: hidden;">
        {{each allCompanyList as s}}
            <li>
                <a class="{{currentCompanyId == s.id && departList!=null && departList.length>1?'p-r-lg':''}}" href="javascript:void(0);" data-action="choseOrg" data-type="{{s.companyType}}" data-chose-type="company" data-company-id="{{s.id}}">{{s.companyName}}</a>
                {{if currentCompanyId == s.id && departList!=null && departList.length>1}}
                    <a class="open-depart-btn no-padding" title="选择部门">
                        <i class="fa fa-angle-double-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        {{each departList as d}}
                            {{if currentCompanyId!=d.id}}
                                <li>
                                    <a href="javascript:void(0);" data-action="choseOrg"  data-chose-type="depart" data-company-id="{{d.id}}">{{d.departName}}</a>
                                </li>
                            {{/if}}
                        {{/each}}
                    </ul>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
