<form class="form-horizontal rounded-bottom taskProgressOBox noborder">
    <div class="ibox">
        <div class="ibox-content">
            <ul class="todo-list small-list bg-white">
                <li class="design_item">
                    <label>新的设计负责人：{{companyUserName}}</label>
                    {{if !isFirstSetDesign}}
                    <p>因你在项目中有以下设计任务，请选择是否进行移交，你可以选择：</p>
                    <p>1.移交，勾选移交任务并点击保存按钮；2.不移交，直接点击保存按钮。</p>
                    {{/if}}
                </li>
                {{if allTaskList!=null && allTaskList.length>0}}
                <li class="design_item">
                    <label class="i-checks dp-inline-block">
                        <input name="allChoseCk" class="checkbox" type="checkbox" value=""  />
                        全选
                    </label>
                </li>
                {{/if}}
                {{each allTaskList as p i}}
                    {{each p.taskList as t ti}}
                        <li class="design_item" data-i="{{ti}}">
                            <label class="i-checks dp-inline-block">
                                <input name="taskCk" class="checkbox" type="checkbox" value="{{t.id}}"  />
                                {{t.taskName}}
                            </label>
                        </li>
                    {{/each}}
                {{/each}}
            </ul>
        </div>
    </div>
</form>
