<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            {{each issuePlanList as p i}}
            <div class="col-md-12">
                <span>{{p.fromCompanyName}}</span>
                <span> > </span>
                <span>{{p.companyName}}</span>
                <span>{{p.planStartTime}}
                    {{if p.changeTime}}
                         <a href="javascript:void(0);" data-action="viewProgressChange" id="viewPlanTimeByTask1{{p.id}}" data-i="{{i}}"
                            data-id="{{p.id}}" data-pid="{{p.taskPid}}" data-company-id="{{p.companyId}}" data-publish-id="{{p.publishId}}"><i class="fa fa-info-circle"></i></a>
                    {{/if}}
                </span>
                <span>-</span>
                <span>{{p.planEndTime}}
                     {{if p.changeTime}}
                        <a href="javascript:void(0);" data-action="viewProgressChange" id="viewPlanTimeByTask2{{p.id}}" data-i="{{i}}"
                            data-id="{{p.id}}" data-pid="{{p.taskPid}}" data-company-id="{{p.companyId}}" data-publish-id="{{p.publishId}}"><i class="fa fa-info-circle"></i></a>
                     {{/if}}
                </span>
                <span>
                    {{if p.taskState==1}}
                        进行中
                    {{else if p.taskState==2}}
                        超时进行
                    {{else if p.taskState==3}}
                        已完成
                    {{else if p.taskState==4}}
                        超时完成
                    {{else if p.taskState==5}}
                        未开始
                    {{/if}}
                </span>
            </div>
            {{/each}}
        </div>
    </div>
</div>