<form class="m_taskIssue_list task-list-box">
    <table class="tree table table-bordered table-striped tree-box">
        <thead>
        <tr>
            <th width="3%" class="b-r-none">
                {{if taskIssueList!=null && taskIssueList.length>0 && (isOrgManager==1 || isAssistant==1)}}
                <div class="list-check-box">
                    <label class="i-checks fw-normal m-b-none">
                        <input name="taskAllCk" type="checkbox"  />
                        <span class="i-checks-span"></span>
                    </label>
                </div>
                {{/if}}
            </th>
            <th width="3%" class="b-r-none b-l-none">
                <div class="list-action-box">
                    {{if isOrgManager==1 || isAssistant==1}}
                    <div class="btn-group batchOperation" id="batchAllOperation">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="ic-operation-batch"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0);" data-action="batchPublishTask" class="">批量发布任务</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="" data-action="batchDelTask" data-canbedelete="">批量删除</a>
                            </li>
                        </ul>
                    </div>
                    {{/if}}
                </div>
            </th>
            <th width="24%" class="b-r-none b-l-none v-middle" style="padding-left: 38px;">
                <span>设计任务</span>
                {{if isOrgManager==1 && currentCompanyId == projectCompanyId}}
                    <button class="btn btn-link" data-action="addDesignTask" title="添加设计任务"><i class="fa fa-plus"></i></button>
                {{/if}}
            </th>
            <th width="5%" class="b-r-none">任务描述</th>
            <th width="15%" class="b-r-none v-middle">设计组织</th>
            <th width="20%" class="b-r-none v-middle">计划进度</th>
            <th width="10%" class="b-r-none v-middle">进度提示</th>
            <th width="10%" class="b-r-none v-middle">完成时间</th>
            <th width="10%" class="v-middle">任务状态</th>
        </tr>
        </thead>
        <tbody>
        {{each taskIssueList as t ti}}
        <tr class="tree-box-tr treegrid-{{t.id}} {{if t.taskPid!=null && t.taskPid!=''}}treegrid-parent-{{t.taskPid}}{{/if}} {{t.taskState=='3'||t.taskState=='4'?'completeDate-tr':''}}" data-i="{{ti}}"
            data-id="{{t.id}}" data-pid="{{t.taskPid}}" data-company-id="{{t.companyId}}" data-publish-id="{{t.publishId}}">

            <td class="v-middle b-r-none l-h-14">
                <div class="list-check-box">
                    <label class="i-checks fw-normal m-b-none">
                        <input name="taskCk" type="checkbox"  />
                        <span class="i-checks-span"></span>
                    </label>
                </div>
            </td>
            <td class="b-r-none b-l-none">
                <div class="list-action-box">
                    <div class="btn-group singleOperation" style="display: none;">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="ic-operation"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {{if t.addChild && (isOrgManager==1 || isAssistant==1)}}
                                <li>
                                    <a href="javascript:void(0);" data-action="addSubTask">添加子任务</a>
                                </li>
                            {{/if}}
                            {{if t.taskStatus==2 && (isOrgManager==1 || isAssistant==1)}}
                            <li>
                                <a href="javascript:void(0);" data-action="publishTask">发布任务</a>
                            </li>
                            {{/if}}
                            <!-- 上个任务，是否跟当前是同级 是＝可向上移动 -->
                            {{if !t.first && (isOrgManager==1 || isAssistant==1)}}
                            <li>
                                <a href="javascript:void(0);" data-action="moveUp">向上移动</a>
                            </li>
                            {{/if}}
                            <!-- 下个任务，是否跟当前是同级 是＝可向下移动 -->
                            {{if !t.last && (isOrgManager==1 || isAssistant==1)}}
                            <li>
                                <a href="javascript:void(0);" data-action="moveDown">向下移动</a>
                            </li>
                            {{/if}}
                            {{if t.canBeDelete && (isOrgManager==1 || isAssistant==1)}}
                            <li>
                                <a href="javascript:void(0);" data-action="delTask" data-canbedelete="{{t.canBeDelete?'1':'0'}}">删除</a>
                            </li>
                            {{/if}}
                        </ul>
                    </div>
                    {{if (isOrgManager==1 || isAssistant==1) && t.isHasChild==1}}
                    <div class="btn-group batchOperation" style="display: none;">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="ic-operation-batch"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0);" data-action="batchPublishTask" >批量发布任务</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-action="batchDelTask" data-canbedelete="{{t.canBeDelete?'1':'0'}}">批量删除</a>
                            </li>
                        </ul>
                    </div>
                    {{/if}}
                </div>
            </td>
            <td class="treeTd pt-relative v-middle b-r-none b-l-none" height="40" >
                <!--{{if t.taskState=='3'||t.taskState=='4'}}<span class="pull-left"><i class="fa fa-check fc-v1-green"></i></span>{{/if}}-->

                <span class="show-span taskName pt-relative" data-string="{{t.taskName}}">{{t.taskName}}</span>

                {{if t.issuePlanList!=null && t.issuePlanList.length>0 }}
                        <a class="tree-td-a" href="javascript:void(0);" data-action="viewPlanTime" id="viewPlanTime{{t.id}}">
                            <i class="fa fa-star-half-empty"></i>
                        </a>
                {{/if}}


                {{if t.canBeEdit && (isOrgManager==1 || isAssistant==1)}}
                    <a class="tree-td-a" href="javascript:void(0);" data-action="taskNameEdit" data-deal-type="edit" style="display: none;">
                        <i class="ic-edit"></i>
                    </a>
                {{/if}}
            </td>
            <td class="b-r-none v-middle">

                {{if t.taskRemark==null || t.taskRemark==''}}
                    {{if t.canBeEdit && (isOrgManager==1 || isAssistant==1)}}
                        <span class="fc-v1-grey show-span">未设置</span>
                    {{else}}
                        <span class="fc-v1-grey">--</span>
                    {{/if}}
                {{else}}
                    <span class="edit-span-box wh-16" >
                        <a data-action="viewTaskRemarkEdit" id="viewTaskRemarkEdit{{ti}}"> <i class="ic-describe"></i></a>
                    </span>
                {{/if}}

                {{if t.canBeEdit && (isOrgManager==1 || isAssistant==1)}}
                    <span class="edit-span-box wh-16">
                        <a href="javascript:void(0);"  data-action="taskRemarkEdit" id="taskRemarkEdit{{ti}}" data-deal-type="edit" style="display: none;">
                            <i class="ic-edit"></i>
                        </a>
                    </span>
                {{/if}}
            </td>
            <td class="v-middle b-r-none ">
                <span class="show-span" data-company-id="{{t.companyId}}" data-depart-id="{{t.departId}}">
                    {{if t.departName!=null && t.departName!=''}}
                        {{t.departName}}
                        <i class="iconfont rounded icon-2fengongsi m-r-xs" data-toggle="tooltip" data-original-title="{{t.companyName}}"></i>
                    {{else}}
                        {{t.companyName}}
                    {{/if}}
                </span>
                {{if t.issueLevel<2 && t.taskStatus == 2 && (isOrgManager==1 || isAssistant==1)}}
                    <a class="" href="javascript:void(0);" data-action="choseDesignOrg" data-deal-type="edit" style="display: none;">
                        <i class="ic-edit"></i>
                    </a>
                {{/if}}
            </td>
            <td class="v-middle b-r-none ">
                <span class="show-span" data-type="planTime" data-start-time="{{t.planStartTime}}" data-end-time="{{t.planEndTime}}">
                    {{if (t.planStartTime==null || t.planStartTime=='') && (t.planEndTime==null || t.planEndTime=='')}}
                        <span class="fc-v1-grey">未设置</span>
                    {{else}}
                        {{_momentFormat(t.planStartTime,'YYYY/MM/DD')}} - {{_momentFormat(t.planEndTime,'YYYY/MM/DD')}}
                        {{if _isNullOrBlank(t.planStartTime) || _isNullOrBlank(t.planEndTime)}}
                            | 共 - 天
                        {{else}}
                             | 共 {{_timeDifference(t.planStartTime,t.planEndTime)}} 天
                        {{/if}}
                        {{if t.changeTime && t.taskState!=7}}
                              <a href="javascript:void(0);" data-action="viewProgressChange" id="viewProgressByChange1{{t.id}}"><i class="fa fa-info-circle"></i></a>
                        {{/if}}
                    {{/if}}
                </span>
                {{if (t.fromCompanyId==currentCompanyId || (t.fromCompanyId==null && t.companyId == currentCompanyId)) && (isOrgManager==1 || isAssistant==1)}}
                    <a href="javascript:void(0);" data-action="startTimeEdit" data-status="{{t.taskStatus}}" data-start-time="{{t.planStartTime}}" data-end-time="{{t.planEndTime}}"
                        data-deal-type="edit" style="display: none;">
                        <i class="ic-edit"></i>
                    </a>
                {{/if}}
            </td>
            <td>
                {{if t.taskState==2 || t.taskState==4}}
                <span class="text-danger">{{t.statusText}}</span>
                {{else}}
                <span class="text-warning">{{t.statusText}}</span>
                {{/if}}
            </td>
            <td class="v-middle  b-l-none">
                <span>{{_momentFormat(t.completeDate,'YYYY/MM/DD')}}</span>
            </td>
            <td class="v-middle b-l-none">
                <!--根据状态改变样式-->
                {{if t.taskState === 7}}
                <span class="text-danger">{{t.stateHtml}}</span>
                {{else if t.taskState ===3}}
                <span class="text-success">{{t.stateHtml}}</span>
                {{else if t.taskState ===2}}
                <span class="text-danger">{{t.stateHtml}}</span>
                {{else}}
                <span>{{t.stateHtml}}</span>
                {{/if}}
                <!--{{if t.taskStatus==2 && (isOrgManager==1 || isAssistant==1)}}
                    <a href="javascript:void(0);" data-action="publishTask" class="icon-publish-task" style="display: none;">
                        <i class="fa fa-flag"></i>
                    </a>
                {{/if}}-->
            </td>
        </tr>
        {{/each}}

        {{if !(taskIssueList && taskIssueList.length>0)}}
        <tr class="no-data-tr">
            <td colspan="9" class="text-center v-middle">
                <div class="m-b-xl m-t-md">
                    <img src="{{_url('/assets/img/default/without_data.png')}}">
                    <span class="fc-dark-blue dp-block">您还没有相关签发任务</span>
                </div>
            </td>
        </tr>
        {{/if}}

        </tbody>
    </table>
</form>