.task-list-box .tooltip *{
    word-wrap:break-word
}
.task-list-box td.treeTd {
    padding: 0 !important;
    vertical-align: middle !important;
}

.task-list-box a.taskNameSpan, .task-list-box span.taskName, .task-list-box span.taskRemark {
    word-break: break-all;
    display: inline-block;
    height: 26px;
    line-height: 25px;
}
.task-list-box span.m-w-300{
    max-width: 300px;
}
@media (max-width: 1366px) {
    .task-list-box span.m-w-300{
        max-width: 150px;
    }
}

.task-list-box td.treeTd .btn.disabled, td.treeTd .btn[disabled], td.treeTd fieldset[disabled] .btn {
    cursor: default;
    filter: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}
.task-list-box .edit-box .dropdown-menu .dropdown-menu{
    display: none;
    position: relative;
    box-shadow: none;
    width: 100%;
}
.task-list-box .edit-box .dropdown-menu .dropdown-menu a{
    padding-left:25px;
}
.task-list-box .open-depart-btn{
    position: absolute;right: 0px;top: 0px;width: 30px;height: 30px;line-height: 25px;text-align: center;cursor: pointer;
}
.task-list-box button.disabled{
    width: 100%;
    text-align: left;
    font-size: 12px;
    cursor: not-allowed;
}
.task-list-box .list-action-box{
    display: block;
    width: 20px;
}
.task-list-box .list-action-box button.dropdown-toggle,
.task-list-box .list-action-box button.dropdown-toggle:hover,
.task-list-box .list-action-box button.dropdown-toggle:focus{
    line-height: 14px;
    margin-top: -1px;
    padding:0;
    border: none;
    background: none;
}
.task-list-box .list-action-box .btn-group .dropdown-menu>li>a{
    padding: 2px 13px;
    margin: 0;
}
.task-list-box .list-check-box{
    display: inline-block;
}
.task-list-box .b-r-none{
    border-right:none ;
}
.task-list-box .b-l-none{
    border-left:none ;
}
.task-list-box .b-t-none{
    border-top:none ;
}
.task-list-box .b-m-none{
    border-bottom:none ;
}
.task-list-box tr.row-edit td.td-class1{
    border-left:none ;
    border-bottom:none ;
    border-right:none ;
    vertical-align: middle;
}
.task-list-box .table-striped>tbody>tr:nth-of-type(odd){
    background-color: #fff;
}
/*.task-list-box .table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}*/
.task-list-box table > tbody > tr.tr-hover {
    background-color: #f5f5f5;
}
.task-list-box .treeTd span.treegrid-indent,
.task-list-box .treeTd span.treegrid-expander,
.task-list-box .treeTd span.show-span{
    float: left;
}
.task-list-box .treeTd .fa-minus-square-o,
.task-list-box .treeTd .fa-plus-square-o{
    font-size: 21px;
    margin-top: 3px;
    color: #999;
}
.task-list-box .treeTd .icon-iconfontttpodicon2{
    font-size: 18px;
    margin-top: 0px;
    color: #999;
}
.task-list-box .treeTd .icon-shouqi{
    font-size: 20px;
    margin-top: -1px;
    margin-left: 9px;
    margin-right: 1px;
    color: #999;
}
.task-list-box .treeTd .tree-td-a{
    margin: 5px 0px 0 2px;
    float: left;
}
.task-list-box table>tbody>tr.chose-operable{
    background-color:#E4EAF7;
}
.task-list-box button[data-action="addDesignTask"]{
    margin-top: -1px;
    padding: 0 5px;
}
.task-list-box a.tree-td-a.editable{
    border-bottom:none;
}
#content-right .task-list-box .table>thead>tr>th.l-h-14,
#content-right .task-list-box .table>tbody>tr>td.l-h-14{
    line-height: 14px;
}
.task-list-box .dropdown-menu>li>a.p-r-lg{
    padding-right: 30px;
}