<!--面包屑-->
<div class="no-margin p-sm breadcrumb-box" >
    <div class="col-md-6 text-left f-s-m p-w-md">
        <span>系统管理员：</span>
        {{ if rolePermissions.systemManager!=null && rolePermissions.systemManager.id==currentCompanyUserId}}
            <a id="sysManagerA" data-action="transferSysManager">{{rolePermissions.systemManager==null?'':rolePermissions.systemManager.userName}}</a>
            <a title="系统管理员" data-action="transferSysManager"><i class="fa fa-retweet"></i></a>
        {{else}}
            {{rolePermissions.systemManager==null?'':rolePermissions.systemManager.userName}}
        {{/if}}
    </div>
    <div class="clearfix"></div>
</div>
<div class="ibox m-roleList">
    <div class="ibox-content">
        <table class="table  table-bordered">
            <thead style="background: #f5f5f5;">
            <tr>
                <th width="15%" class="text-center">权限组</th>
                <th width="25%" class="text-center">操作权限</th>
                <th width="25%" class="text-center">权限描述</th>
                <th width="35%" class="text-center">人员</th>
            </tr>
            </thead>
            {{each rolePermissions.roleList as role i}}
            <tbody p-code="{{role.code}}">
                <tr style="background-clip: padding-box;" role-code="{{role.code}}">
                    <td rowspan="{{role.permissionList.length}}" id="{{role.id}}" class="text-center vmiddle v_a_middle pTarget">
                        <span class="dp-block pt-relative">
                            <span data-type="roleName">{{role.name}}</span>
                            {{if role.code != 'SystemManager'}}
                            <a href="javascript:void(0);" class="btn-u btn-u-dark-blue btn-u-xs rounded add-button margin-left-5 hide pt-absolute" style="padding: 2px 6px;"
                               data-action="addMemberBtn">添加人员</a>
                            {{/if}}
                        </span>
                    </td>
                    <td class="vmiddle" p-code="{{role.permissionList[0].code}}" id="{{role.permissionList[0].id}}">
                    <span class="dp-block pt-relative">
                        <span data-type="roleName">{{role.permissionList[0].name}}</span>
                        {{if role.permissionList[0].code != 'sys_enterprise_logout'}}
                        <a href="javascript:void(0);" class="btn-u btn-u-dark-blue btn-u-xs rounded add-button hide " style="padding: 2px 6px;"
                           data-action="addMemberBtn" >添加人员</a>
                        {{/if}}
                    </span>
                    </td>
                    <td class="vmiddle">

                    </td>
                    <td p-code="{{role.permissionList[0].code}}" data-type="roleUsersTd">
                        {{each role.permissionList[0].companyUserList as user j}}
                        {{if role.permissionList[0].code != 'sys_enterprise_logout'}}
                        <span class="user-span pt-relative p-4"userId="{{user.userId}}" roleId="{{role.permissionList[0].id}}">
                            <span class="user-name curp btn-link" data-action="chooseRoleByDialog">{{user.userName}}</span>
                            <span>{{j==role.permissionList[0].companyUserList.length-1?'&nbsp;&nbsp;':'&nbsp;'}}</span>
                            <span class="user-del hide pt-absolute" style="top: -2px;right: 2px;" data-action="deleteRoleUser"><i class="fa fa-times fc-red curp "></i></span>
                        </span>
                        {{else}}
                        <span class="p-4" >
                            <span class="user-name " p-code="{{role.permissionList[0].code}}" userId="{{user.userId}}" data-company-user-id="{{user.companyUserId}}">{{user.userName}}</span>
                            <span>{{j==role.permissionList[0].companyUserList.length-1?'&nbsp;&nbsp;':'&nbsp;'}}</span>
                        </span>
                        {{/if}}
                        {{/each}}
                    </td>
                </tr>
                {{each role.permissionList as mem a}}
                {{if a>0}}
                    <tr style="background-clip: padding-box;">
                        <td class="vmiddle" p-code="{{mem.code}}" id="{{mem.id}}">
                            <span class="dp-block pt-relative">
                                <span data-type="roleName">{{mem.name}}</span>
                                {{if mem.code != 'sys_enterprise_logout'}}
                                <a href="javascript:void(0);" class="btn-u btn-u-dark-blue btn-u-xs rounded add-button hide" style="padding: 2px 6px;" data-action="addMemberBtn" >添加人员</a>
                                {{/if}}
                            </span>
                        </td>
                        <td>

                        </td>
                        {{if isDialogShow==null||isDialogShow==1}}
                        <td p-code="{{mem.code}}" data-type="roleUsersTd">
                            {{each mem.companyUserList as user b}}
                            {{if mem.code != 'sys_enterprise_logout'}}
                            <span class="user-span p-4 pt-relative" userId="{{user.userId}}" roleId="{{mem.id}}">
                                <span class="user-name curp btn-link" data-action="chooseRoleByDialog">{{user.userName}}</span>
                                <span>{{b==mem.companyUserList.length-1?'&nbsp;&nbsp;':'&nbsp;'}}</span>
                                <span class="user-del hide" style="position:absolute;top: -2px;right: 2px;" data-action="deleteRoleUser">
                                    <i class="fa fa-times fc-red curp "></i>
                                </span>
                            </span>
                            {{else}}
                            <span class="p-4">
                                <span class="user-name" p-code="{{mem.code}}" userId="{{user.userId}}" data-company-user-id="{{user.companyUserId}}">{{user.userName}}</span>
                                <span>{{b==mem.companyUserList.length-1?'&nbsp;&nbsp;':'&nbsp;'}}</span>
                            </span>
                            {{/if}}
                            {{/each}}
                        </td>
                        {{/if}}
                    </tr>
                {{/if}}
                {{/each}}
            </tbody>
            {{/each}}
        </table>
    </div>
</div>
<script>
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_minimal-green',
        radioClass: 'iradio_minimal-green'
    });
</script>
