<table class="table table-hover">
    <thead>
    <tr>
        <th>流程名称</th>
        <th>说明</th>
        <th>适用团队</th>
        <th>关联团队</th>
        <th>修改人</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="7">
            收款计划流程
            <button class="btn btn-link" data-action="add" data-action-type="0" title="添加收款计划流程"><i class="fa fa-plus"></i></button>
        </td>
    </tr>
    {{if receiveProcessList!=null && receiveProcessList.length>0}}
    {{each receiveProcessList as r i}}
    <tr data-process-type="{{r.processType}}" data-i="{{i}}" data-id="{{r.id}}" data-process-id="{{r.processId}}">
        <td>
            <label class="i-checks">
                {{if r.status==1}}
                    <input class="ck"  name="iCheck{{r.id}}" type="radio" checked  />
                {{else}}
                    <input class="ck"  name="iCheck{{r.id}}" type="radio" />
                {{/if}}
                {{r.processName}}
            </label>
            <a href="javascript:void(0);" data-action="itemEdit"><i class="icon iconfont icon-bianji"></i></a>
        </td>
        <td>{{r.description}}</td>
        <td>{{r.companyName}}</td>
        <td>{{r.relationCompanyName}}</td>
        <td>{{r.updateUserName}}</td>
        <td>
            {{if r.isTemplate!='1' }}
            <button  class="btn btn-primary btn-xs " data-action="edit" data-action-type="0">编辑</button>
            <button  class="btn btn-danger btn-xs " data-action="del" data-action-type="0">删除</button>
            {{/if}}
        </td>
    </tr>
    {{/each}}
    {{else}}
    <tr class="no-data-tr">
        <td colspan="6" class="text-center v-middle">
            暂无数据
        </td>
    </tr>
    {{/if}}
    <tr>
        <td colspan="7">
            付款计划流程
            <button class="btn btn-link" data-action="add" data-action-type="1" title="添加付款计划流程"><i class="fa fa-plus"></i></button>
        </td>
    </tr>
    {{if payProcessList!=null && payProcessList.length>0}}
    {{each payProcessList as r i}}
    <tr data-process-type="{{r.processType}}" data-i="{{i}}" data-id="{{r.id}}" data-process-id="{{r.processId}}">
        <td>
            <label class="i-checks">
                {{if r.status==1}}
                <input class="ck"  name="iCheck{{r.id}}" type="radio" checked  />
                {{else}}
                <input class="ck"  name="iCheck{{r.id}}" type="radio" />
                {{/if}}
                {{r.processName}}
            </label>
        </td>
        <td>{{r.description}}</td>
        <td>{{r.companyName}}</td>
        <td>{{r.relationCompanyName}}</td>
        <td>{{r.updateUserName}}</td>
        <td>
            {{if r.isTemplate!='1' }}
            <button class="btn btn-primary btn-xs " data-action="edit" data-action-type="1">编辑</button>
            <button class="btn btn-danger btn-xs " data-action="del" data-action-type="1">删除</button>
            {{/if}}
        </td>
    </tr>
    {{/each}}
    {{else}}
    <tr class="no-data-tr">
        <td colspan="6" class="text-center v-middle">
            暂无数据
        </td>
    </tr>
    {{/if}}
    </tbody>
</table>