::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: #b4babf;
    border-radius: 7px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    width: 15px;
}

::-webkit-scrollbar:hover {
    background-color: transparent;
}

.ui-dialog-footer button.ui-dialog-autofocus {
    border: none !important;
}

/*Space
------------------------------------*/
.no-border {
    border: none;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

/*Text Colors
------------------------------------*/
.color-sea { color: #1abc9c;}
.color-red { color: #e74c3c;}
.color-aqua { color: #27d7e7;}
.color-blue { color: #3498db;}
.color-grey { color: #95a5a6;}
.color-dark { color: #555;}
/*.color-dark1 { color: #444;}*/
.color-darker { color: #444;}
.color-green { color: #72c02c;}
.color-brown { color: #9c8061;}
.color-light { color: #ffffff;}
.color-orange { color: #e67e22;}
.color-yellow { color: #f1c40f;}
.color-green1 { color: #2ecc71;}
.color-purple { color: #9b6bcc;}
.color-inherit { color: inherit;}
.color-dark-blue { color: #4765a0;}
.color-light-grey { color: #585f69;}
.color-light-green { color: #79d5b3;}
.color-teal { color: #18ba9b;}

/*Others
------------------------------------*/
.overflow-auto { overflow: auto;}
.overflow-scroll { overflow: scroll;}
.overflow-hidden { overflow: hidden;}

.clear-both { clear: both;}
.curp{cursor: pointer;}

/*Display*/
.dp-none { display: none;}
.dp-block { display: block;}
.dp-table { display: table;}
.dp-inline-block { display: inline-block;}
.dp-table-cell {
    display: table-cell;
    vertical-align: middle;
}

/*Font Size*/
.text-light {
    font-weight: 200;
}
.text-normal {
    font-weight: 400;
}
.text-bold {
    font-weight: 600;
}

/*Rounded and Circle Classes
------------------------------------*/
.no-rounded { border-radius: 0;}
.rounded { border-radius: 4px;}
.rounded-x { border-radius: 50%;}
.rounded-2x { border-radius: 10px;}
.rounded-3x { border-radius: 15px;}
.rounded-4x { border-radius: 20px;}
.rounded-sm { border-radius: 2px;}
.rounded-md { border-radius: 3px;}
.rounded-top { border-radius: 4px 4px 0 0;}
.rounded-left { border-radius: 4px 0 0 4px;}
.rounded-right { border-radius: 0 4px 4px 0;}
.rounded-bottom { border-radius: 0 0 4px 4px;}

/*margin-left  ------------------------------------*/
.margin-left-5 { margin-left: 5px;  }

/*margin-top  ------------------------------------*/
.margin-top-5 { margin-top: 5px;  }
.margin-top-10 { margin-top: 10px;  }
.margin-top-15 { margin-top: 15px;  }
.margin-top-20 { margin-top: 20px;  }
.margin-top-25 { margin-top: 25px;  }
.margin-top-30 { margin-top: 30px;  }
.margin-top-35 { margin-top: 35px;  }
.margin-top-40 { margin-top: 40px;  }
.margin-top-45 { margin-top: 45px;  }
.margin-top-50 { margin-top: 50px;  }


/* margin-bottom  ------------------------------------*/
.margin-bottom-5  { margin-bottom:5px;}
.margin-bottom-10 { margin-bottom:10px;}
.margin-bottom-15 { margin-bottom:15px;}
.margin-bottom-20 { margin-bottom:20px;}
.margin-bottom-25 { margin-bottom:25px;}
.margin-bottom-30 { margin-bottom:30px;}
.margin-bottom-35 { margin-bottom:35px;}
.margin-bottom-40 { margin-bottom:40px;}
.margin-bottom-45 { margin-bottom:45px;}
.margin-bottom-50 { margin-bottom:50px;}
.margin-bottom-55 { margin-bottom:55px;}
.margin-bottom-60 { margin-bottom:60px;}
.margin-bottom-70 { margin-bottom:70px;}
.margin-bottom-80 { margin-bottom:80px;}
.margin-bottom-90 { margin-bottom:90px;}
.margin-bottom-100 { margin-bottom:100px;}

@media (max-width: 768px) {
    .sm-margin-bottom-10 {
        margin-bottom: 10px;
    }
    .sm-margin-bottom-20 {
        margin-bottom: 20px;
    }
    .sm-margin-bottom-30 {
        margin-bottom: 30px;
    }
    .sm-margin-bottom-40 {
        margin-bottom: 40px;
    }
    .sm-margin-bottom-50 {
        margin-bottom: 50px;
    }
    .sm-margin-bottom-60 {
        margin-bottom: 60px;
    }
}

@media (max-width: 992px) {
    .md-margin-bottom-10 {
        margin-bottom: 10px;
    }
    .md-margin-bottom-20 {
        margin-bottom: 20px;
    }
    .md-margin-bottom-30 {
        margin-bottom: 30px;
    }
    .md-margin-bottom-40 {
        margin-bottom: 40px;
    }
    .md-margin-bottom-50 {
        margin-bottom: 50px;
    }
    .md-margin-bottom-60 {
        margin-bottom: 60px;
    }
}

/*Button Styles
------------------------------------*/
.btn-u {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #72c02c;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}
.btn-u:hover {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn-u:focus{
    outline: none;
}

.btn-u.btn-block {
    text-align: center;
}

.btn-u-sm,
a.btn-u-sm {
    padding: 3px 12px;
}

.btn-u-md,
a.btn-u-md {
    padding: 10px 20px;
}

.btn-u-lg,
a.btn-u-lg {
    font-size: 18px;
    padding: 10px 25px;
}

.btn-u-xs,
a.btn-u-xs {
    font-size: 12px;
    padding: 2px 12px;
    line-height: 18px;
}

/*Button Groups*/
.btn-group .dropdown-menu > li > a {
    padding: 3px 13px;
}

.btn-group > .btn-u,
.btn-group-vertical > .btn-u {
    float: left;
    position: relative;
}

.btn-group > .btn-u:first-child {
    margin-left: 0;
}

/*For FF Only*/
@-moz-document url-prefix() {
    .footer-subscribe .btn-u {
        padding-bottom: 4px;
    }
}
@media (max-width: 768px) {
    @-moz-document url-prefix() {
        .btn-u {
            padding-bottom: 6px;
        }
    }
}

/*Buttons Color*/
.btn-u:hover,
.btn-u:focus,
.btn-u:active,
.btn-u.active,
.open .dropdown-toggle.btn-u {
    background: #5fb611;
}
.btn-u-split.dropdown-toggle {
    border-left: solid 1px #5fb611;
}

.btn-u.btn-u-blue {
    background: #3498db;
}
.btn-u.btn-u-blue:hover,
.btn-u.btn-u-blue:focus,
.btn-u.btn-u-blue:active,
.btn-u.btn-u-blue.active,
.open .dropdown-toggle.btn-u.btn-u-blue {
    background: #2980b9;
}
.btn-u.btn-u-split-blue.dropdown-toggle {
    border-left: solid 1px #2980b9;
}

.btn-u.btn-u-red {
    background: #e74c3c;
}
.btn-u.btn-u-red:hover,
.btn-u.btn-u-red:focus,
.btn-u.btn-u-red:active,
.btn-u.btn-u-red.active,
.open .dropdown-toggle.btn-u.btn-u-red {
    background: #c0392b;
}
.btn-u.btn-u-split-red.dropdown-toggle {
    border-left: solid 1px #c0392b;
}

.btn-u.btn-u-orange {
    background: #e67e22;
}
.btn-u.btn-u-orange:hover,
.btn-u.btn-u-orange:focus,
.btn-u.btn-u-orange:active,
.btn-u.btn-u-orange.active,
.open .dropdown-toggle.btn-u.btn-u-orange {
    background: #d35400;
}
.btn-u.btn-u-split-orange.dropdown-toggle {
    border-left: solid 1px #d35400;
}

.btn-u.btn-u-sea {
    background: #1abc9c;
}
.btn-u.btn-u-sea:hover,
.btn-u.btn-u-sea:focus,
.btn-u.btn-u-sea:active,
.btn-u.btn-u-sea.active,
.open .dropdown-toggle.btn-u.btn-u-sea {
    background: #16a085;
}
.btn-u.btn-u-split-sea.dropdown-toggle {
    border-left: solid 1px #16a085;
}

.btn-u.btn-u-green {
    background: #2ecc71;
}
.btn-u.btn-u-green:hover,
.btn-u.btn-u-green:focus,
.btn-u.btn-u-green:active,
.btn-u.btn-u-green.active,
.open .dropdown-toggle.btn-u.btn-u-green {
    background: #27ae60;
}
.btn-u.btn-u-split-green.dropdown-toggle {
    border-left: solid 1px #27ae60;
}

.btn-u.btn-u-yellow {
    background: #f1c40f;
}
.btn-u.btn-u-yellow:hover,
.btn-u.btn-u-yellow:focus,
.btn-u.btn-u-yellow:active,
.btn-u.btn-u-yellow.active,
.open .dropdown-toggle.btn-u.btn-u-yellow {
    background: #f39c12;
}
.btn-u.btn-u-split-yellow.dropdown-toggle {
    border-left: solid 1px #f39c12;
}

.btn-u.btn-u-default {
    background: #95a5a6;
}
.btn-u.btn-u-default:hover,
.btn-u.btn-u-default:focus,
.btn-u.btn-u-default:active,
.btn-u.btn-u-default.active,
.open .dropdown-toggle.btn-u.btn-u-default {
    background: #7f8c8d;
}
.btn-u.btn-u-split-default.dropdown-toggle {
    border-left: solid 1px #7f8c8d;
}

.btn-u.btn-u-purple {
    background: #9b6bcc;
}
.btn-u.btn-u-purple:hover,
.btn-u.btn-u-purple:focus,
.btn-u.btn-u-purple:active,
.btn-u.btn-u-purple.active,
.open .dropdown-toggle.btn-u.btn-u-purple {
    background: #814fb5;
}
.btn-u.btn-u-split-purple.dropdown-toggle {
    border-left: solid 1px #814fb5;
}

.btn-u.btn-u-aqua {
    background: #27d7e7;
}
.btn-u.btn-u-aqua:hover,
.btn-u.btn-u-aqua:focus,
.btn-u.btn-u-aqua:active,
.btn-u.btn-u-aqua.active,
.open .dropdown-toggle.btn-u.btn-u-aqua {
    background: #26bac8;
}
.btn-u.btn-u-split-aqua.dropdown-toggle {
    border-left: solid 1px #26bac8;
}

.btn-u.btn-u-brown {
    background: #9c8061;
}
.btn-u.btn-u-brown:hover,
.btn-u.btn-u-brown:focus,
.btn-u.btn-u-brown:active,
.btn-u.btn-u-brown.active,
.open .dropdown-toggle.btn-u.btn-u-brown {
    background: #81674b;
}
.btn-u.btn-u-split-brown.dropdown-toggle {
    border-left: solid 1px #81674b;
}

.btn-u.btn-u-dark-blue {
    background: #4765a0;
}
.btn-u.btn-u-dark-blue:hover,
.btn-u.btn-u-dark-blue:focus,
.btn-u.btn-u-dark-blue:active,
.btn-u.btn-u-dark-blue.active,
.open .dropdown-toggle.btn-u.btn-u-dark-blue {
    background: #324c80;
}
.btn-u.btn-u-split-dark.dropdown-toggle {
    border-left: solid 1px #324c80;
}

.btn-u.btn-u-light-green {
    background: #79d5b3;
}
.btn-u.btn-u-light-green:hover,
.btn-u.btn-u-light-green:focus,
.btn-u.btn-u-light-green:active,
.btn-u.btn-u-light-green.active,
.open .dropdown-toggle.btn-u.btn-u-light-green {
    background: #59b795;
}
.btn-u.btn-u-split-light-green.dropdown-toggle {
    border-left: solid 1px #59b795;
}

.btn-u.btn-u-dark {
    background: #555;
}
.btn-u.btn-u-dark:hover,
.btn-u.btn-u-dark:focus,
.btn-u.btn-u-dark:active,
.btn-u.btn-u-dark.active,
.open .dropdown-toggle.btn-u.btn-u-dark {
    background: #333;
}
.btn-u.btn-u-split-dark.dropdown-toggle {
    border-left: solid 1px #333;
}

.btn-u.btn-u-light-grey {
    background: #585f69;
}
.btn-u.btn-u-light-grey:hover,
.btn-u.btn-u-light-grey:focus,
.btn-u.btn-u-light-grey:active,
.btn-u.btn-u-light-grey.active,
.open .dropdown-toggle.btn-u.btn-u-light-grey {
    background: #484f58;
}
.btn-u.btn-u-split-light-grey.dropdown-toggle {
    border-left: solid 1px #484f58;
}

/*Bordered Buttons*/
.btn-u.btn-brd {
    color: #555;
    background: none;
    padding: 5px 13px;
    border: solid 1px transparent;
}
.btn-u.btn-brd-width-2 {
    padding: 7px 18px;
    border-width: 2px;
}
.btn-u.btn-brd:hover {
    background: none;
}
.btn-u.btn-brd:focus {
    background: none;
}
.btn-u.btn-brd.btn-brd-hover:hover {
    color: #fff !important;
}

.btn-u.btn-brd {
    border-color: #72c02c;
}
.btn-u.btn-brd:hover {
    color: #5fb611;
    border-color: #5fb611;
}
.btn-u.btn-brd.btn-brd-hover:hover {
    background: #5fb611;
}

.btn-u.btn-brd.btn-u-blue {
    border-color: #3498db;
}
.btn-u.btn-brd.btn-u-blue:hover {
    color: #2980b9;
    border-color: #2980b9;
}
.btn-u.btn-brd.btn-u-blue.btn-brd-hover:hover {
    background: #2980b9;
}

.btn-u.btn-brd.btn-u-red {
    border-color: #e74c3c;
}
.btn-u.btn-brd.btn-u-red:hover {
    color: #c0392b;
    border-color: #c0392b;
}
.btn-u.btn-brd.btn-u-red.btn-brd-hover:hover {
    background: #c0392b;
}

.btn-u.btn-brd.btn-u-orange {
    border-color: #e67e22;
}
.btn-u.btn-brd.btn-u-orange:hover {
    color: #d35400;
    border-color: #d35400;
}
.btn-u.btn-brd.btn-u-orange.btn-brd-hover:hover {
    background: #d35400;
}

.btn-u.btn-brd.btn-u-sea {
    border-color: #1abc9c;
}
.btn-u.btn-brd.btn-u-sea:hover {
    color: #16a085;
    border-color: #16a085;
}
.btn-u.btn-brd.btn-u-sea.btn-brd-hover:hover {
    background: #16a085;
}

.btn-u.btn-brd.btn-u-green {
    border-color: #2ecc71;
}
.btn-u.btn-brd.btn-u-green:hover {
    color: #27ae60;
    border-color: #27ae60;
}
.btn-u.btn-brd.btn-u-green.btn-brd-hover:hover {
    background: #27ae60;
}

.btn-u.btn-brd.btn-u-yellow {
    border-color: #f1c40f;
}
.btn-u.btn-brd.btn-u-yellow:hover {
    color: #f39c12;
    border-color: #f39c12;
}
.btn-u.btn-brd.btn-u-yellow.btn-brd-hover:hover {
    background: #f39c12;
}

.btn-u.btn-brd.btn-u-default {
    border-color: #95a5a6;
}
.btn-u.btn-brd.btn-u-default:hover {
    color: #7f8c8d;
    border-color: #7f8c8d;
}
.btn-u.btn-brd.btn-u-default.btn-brd-hover:hover {
    background: #7f8c8d;
}

.btn-u.btn-brd.btn-u-dark {
    border-color: #555;
}
.btn-u.btn-brd.btn-u-dark:hover {
    color: #333;
    border-color: #333;
}
.btn-u.btn-brd.btn-u-dark.btn-brd-hover:hover {
    background: #333;
}

.btn-u.btn-brd.btn-u-light-grey {
    border-color: #585f69;
}
.btn-u.btn-brd.btn-u-light-grey:hover {
    color: #484f58;
    border-color: #484f58;
}
.btn-u.btn-brd.btn-u-light-grey.btn-brd-hover:hover {
    background: #484f58;
}

.btn-u.btn-brd.btn-u-purple {
    border-color: #9b6bcc;
}
.btn-u.btn-brd.btn-u-purple:hover {
    color: #814fb5;
    border-color: #814fb5;
}
.btn-u.btn-brd.btn-u-purple.btn-brd-hover:hover {
    background: #814fb5;
}

.btn-u.btn-brd.btn-u-aqua {
    border-color: #27d7e7;
}
.btn-u.btn-brd.btn-u-aqua:hover {
    color: #26bac8;
    border-color: #26bac8;
}
.btn-u.btn-brd.btn-u-aqua.btn-brd-hover:hover {
    background: #26bac8;
}

.btn-u.btn-brd.btn-u-brown {
    border-color: #9c8061;
}
.btn-u.btn-brd.btn-u-brown:hover {
    color: #81674b;
    border-color: #81674b;
}
.btn-u.btn-brd.btn-u-brown.btn-brd-hover:hover {
    background: #81674b;
}

.btn-u.btn-brd.btn-u-dark-blue {
    border-color: #4765a0;
}
.btn-u.btn-brd.btn-u-dark-blue:hover {
    color: #324c80;
    border-color: #324c80;
}
.btn-u.btn-brd.btn-u-dark-blue.btn-brd-hover:hover {
    background: #324c80;
}

.btn-u.btn-brd.btn-u-light-green {
    border-color: #79d5b3;
}
.btn-u.btn-brd.btn-u-light-green:hover {
    color: #59b795;
    border-color: #59b795;
}
.btn-u.btn-brd.btn-u-light-green.btn-brd-hover:hover {
    background: #59b795;
}

.btn-u.btn-brd.btn-u-light {
    color: #fff;
    border-color: #fff;
}
.btn-u.btn-brd.btn-u-light:hover {
    border-color: #fff;
}
.btn-u.btn-brd.btn-u-light.btn-brd-hover:hover {
    background: #fff;
    color: #555 !important;
}

/* dark blue style------------------------------------*/
.btn-u {
    background: #4765a0;
}
.btn-u:hover,
.btn-u:focus,
.btn-u:active,
.btn-u.active,
.open .dropdown-toggle.btn-u {
    background: #324c80;
    color: #fff;
}

/* Buttons Color */
.btn-u-split.dropdown-toggle {
    border-left: solid 1px #324c80;
}

/* Bordered Buttons */
.btn-u.btn-brd {
    border-color: #4765a0;
}
.btn-u.btn-brd:hover {
    color: #324c80;
    border-color: #324c80;
}
.btn-u.btn-brd.btn-brd-hover:hover {
    background: #324c80;
}

/*--------------------------------------------------
	[53. Tagline Boxes]
----------------------------------------------------*/
/*Tagline Boxes*/
.tag-box  {
    padding: 20px;
    background: #fff;
    margin-bottom: 30px;
}

.tag-box h2 {
    font-size: 20px;
    line-height: 25px;
}

.tag-box p {
    margin-bottom: 0;
}

.tag-box.tag-text-space p {
    margin-bottom: 10px;
}

/*Tagline Boxes v1*/
.tag-box-v1 {
    border: solid 1px #eee;
    border-top: solid 2px #72c02c;
}

/*Tagline Boxes v2*/
.tag-box-v2 {
    background: #fafafa;
    border: solid 1px #eee;
    border-left: solid 2px #72c02c;
}

/*Tagline Boxes v3*/
.tag-box-v3 {
    border: solid 2px #eee;
}

/*Tagline Boxes v4*/
.tag-box-v4 {
    border: dashed 1px #bbb;
}

/*Tagline Boxes v5*/
.tag-box-v5 {
    margin: 20px 0;
    text-align: center;
    border: dashed 1px #ccc;
}

.tag-box-v5 span {
    color: #555;
    font-size: 28px;
    margin-bottom: 0;
}

/*Tagline Boxes v6*/
.tag-box-v6 {
    background: #fafafa;
    border: solid 1px #eee;
}

/*Tagline Boxes v7*/
.tag-box-v7 {
    border: solid 1px #eee;
    border-bottom: solid 2px #72c02c;
}

/*--------------------------------------------------
	[24. Box Shadows]
----------------------------------------------------*/
.shadow-wrapper {
    z-index: 1;
    position: relative;
}

/*!*Common Style*!
.box-shadow {
    background: #fff;
    position: relative;
}

.box-shadow:after,
.box-shadow:before {
    top: 80%;
    left: 5px;
    width: 50%;
    z-index: -1;
    content: "";
    bottom: 15px;
    max-width: 300px;
    background: #999;
    position: absolute;
}*/

/*Effect 1*/
.shadow-effect-1 {
    box-shadow: 0 10px 6px -6px #bbb;
}

/*Effect 2,3,4*/
.shadow-effect-2 {
    position: relative;
}

.shadow-effect-2:after,
.shadow-effect-2:before,
.shadow-effect-3:before,
.shadow-effect-4:after {
    transform: rotate(-3deg);
    box-shadow: 0 15px 10px #999;
}

.shadow-effect-2:after,
.shadow-effect-4:after {
    left: auto;
    right: 5px;
    transform: rotate(3deg);
}

/*Effect 5*/
.shadow-effect-5 {
    box-shadow: 0 0 2px #ccc;
}




/*Heading Sizes
------------------------------------*/
h2.heading-md {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

h2.heading-sm,
h3.heading-md {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

h3.heading-md {
    line-height: 22px;
    font-weight: 400;
}

h3.heading-sm {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

h2.heading-xs {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

h3.heading-xs {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0;
}


/*Progress Bar
------------------------------------*/
.progress {
    border-radius: 0;
}

.progress-u {
    box-shadow: none;
}

.progress-u .progress-bar {
    box-shadow: none;
}

/*progress-bar (sizes)*/
.progress-lg {
    height: 25px;
}
.progress-lg p {
    padding-top: 3px;
}

.progress-sm {
    height: 12px;
}

.progress-xs {
    height: 7px;
}

.progress-xxs {
    height: 3px;
}

/*progress-bar (colors)*/
.progress {
    background: #e5e5e5;
}

.progress-bar-u {
    background: #72c02c;
}

.progress-bar-blue {
    background: #3498db;
}

.progress-bar-orange {
    background: #e67e22;
}

.progress-bar-red {
    background: #e74c3c;
}

.progress-bar-purple {
    background: #9b6bcc;
}

.progress-bar-aqua {
    background: #27d7e7;
}

.progress-bar-brown {
    background: #9c8061;
}

.progress-bar-dark-blue {
    background: #4765a0;
}

.progress-bar-light-green {
    background: #79d5b3;
}

.progress-bar-dark {
    background: #555;
}

/*Progress Bar Animation
------------------------------------*/
.progress {
    position: relative;
}

.progress .progress-bar {
    overflow: hidden;
    line-height: 20px;
}

.progress-box .progress-bar {
    transition: all 3s ease-in;
}

/*Vertical Progress Bar*/
.progress.vertical {
    float: left;
    width: 100%;
    height: 200px;
    margin-right: 20px;
}

.progress.vertical.bottom {
    position: relative;
}

.progress.vertical .progress-bar {
    height: 0;
    width: 100%;
    transition: height 3s ease;
}

.progress.vertical.bottom .progress-bar {
    bottom: 0;
    position: absolute;
}

/*Font Awesome Icon Styles*/
i.icon-custom {
    color: #555;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
    border: solid 1px #555;
}

i.icon-sm {
    width: 35px;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
}

i.icon-md {
    width: 55px;
    height: 55px;
    font-size: 22px;
    line-height: 55px;
}

i.icon-lg {
    width: 60px;
    height: 60px;
    font-size: 31px;
    line-height: 60px;
    margin-bottom: 10px;
}

i.icon-2x {
    font-size: 30px;
}
i.icon-3x {
    font-size: 40px;
}
i.icon-4x {
    font-size: 50px;
}

/*Line Icons*/
i.icon-line {
    font-size: 17px;
}
i.icon-sm.icon-line {
    font-size: 14px;
}
i.icon-md.icon-line {
    font-size: 22px;
}
i.icon-lg.icon-line {
    font-size: 28px;
}

i.icon-2x.icon-line {
    font-size: 27px;
}
i.icon-3x.icon-line {
    font-size: 36px;
}
i.icon-4x.icon-line {
    font-size: 47px;
}

/*Icon Styles For Links*/
.link-icon,
.link-bg-icon {
    color: #555;
}

.link-icon:hover,
.link-bg-icon:hover {
    border: none;
    text-decoration: none;
}

.link-icon:hover i {
    color: #72c02c;
    background: none;
    border: solid 1px #72c02c;
}

.link-bg-icon:hover i {
    color: #72c02c;
    background: #72c02c;
    border-color: #72c02c;
    color: #fff !important;
}

/*Icons Color*/
i.icon-color-u,
i.icon-color-red,
i.icon-color-sea,
i.icon-color-dark,
i.icon-color-grey,
i.icon-color-blue,
i.icon-color-green,
i.icon-color-yellow,
i.icon-color-orange,
i.icon-color-purple,
i.icon-color-aqua,
i.icon-color-brown,
i.icon-color-dark-blue,
i.icon-color-light-grey,
i.icon-color-light-green {
    background: none;
}

i.icon-color-u {
    color: #72c02c;
    border: solid 1px #72c02c;
}
i.icon-color-blue {
    color: #3498db;
    border: solid 1px #3498db;
}
i.icon-color-red {
    color: #e74c3c;
    border: solid 1px #e74c3c;
}
i.icon-color-sea {
    color: #1abc9c;
    border: solid 1px #1abc9c;
}
i.icon-color-green {
    color: #2ecc71;
    border: solid 1px #2ecc71;
}
i.icon-color-yellow {
    color: #f1c40f;
    border: solid 1px #f1c40f;
}
i.icon-color-orange {
    color: #e67e22;
    border: solid 1px #e67e22;
}
i.icon-color-grey {
    color: #95a5a6;
    border: solid 1px #95a5a6;
}
i.icon-color-purple {
    color: #9b6bcc;
    border: solid 1px #9b6bcc;
}
i.icon-color-aqua {
    color: #27d7e7;
    border: solid 1px #27d7e7;
}
i.icon-color-brown {
    color: #9c8061;
    border: solid 1px #9c8061;
}
i.icon-color-dark-blue {
    color: #4765a0;
    border: solid 1px #4765a0;
}
i.icon-color-light-green {
    color: #79d5b3;
    border: solid 1px #79d5b3;
}
i.icon-color-light {
    color: #fff;
    border: solid 1px #fff;
}
i.icon-color-light-grey {
    color: #585f69;
    border: solid 1px #585f69;
}

/*Icons Backgroun Color*/
i.icon-bg-u,
i.icon-bg-red,
i.icon-bg-sea,
i.icon-bg-dark,
i.icon-bg-darker,
i.icon-bg-grey,
i.icon-bg-blue,
i.icon-bg-green,
i.icon-bg-yellow,
i.icon-bg-orange,
i.icon-bg-purple,
i.icon-bg-aqua,
i.icon-bg-brown,
i.icon-bg-dark-blue,
i.icon-bg-light-grey,
i.icon-bg-light-green {
    color: #fff;
    border-color: transparent;
}

i.icon-bg-u {
    background: #72c02c;
}
i.icon-bg-blue {
    background: #3498db;
}
i.icon-bg-red {
    background: #e74c3c;
}
i.icon-bg-sea {
    background: #1abc9c;
}
i.icon-bg-green {
    background: #2ecc71;
}
i.icon-bg-yellow {
    background: #f1c40f;
}
i.icon-bg-orange {
    background: #e67e22;
}
i.icon-bg-grey {
    background: #95a5a6;
}
i.icon-bg-dark {
    background: #555;
}
i.icon-bg-darker {
    background: #333;
}
i.icon-bg-purple {
    background: #9b6bcc;
}
i.icon-bg-aqua {
    background: #27d7e7;
}
i.icon-bg-brown {
    background: #9c8061;
}
i.icon-bg-dark-blue {
    background: #4765a0;
}
i.icon-bg-light-green {
    background: #79d5b3;
}
i.icon-bg-light {
    background: #fff;
    border-color: transparent;
}
i.icon-bg-light-grey {
    background: #585f69;
    border-color: transparent;
}

/*Block Headline*/
.headline {
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
}

.headline h2 {
    font-size: 20px;
}

.headline h2,
.headline h3,
.headline h4 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom:2px solid #4765a0;
}

.headline-md {
    margin-bottom: 15px;
}

.headline-md h2 {
    font-size: 21px;
}