<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserMapper">
    <resultMap id="BaseShowMap" type="com.maoding.core.base.dto.BaseShowDTO" >
        <id column="company_user_id" property="id" jdbcType="VARCHAR" />
        <result column="user_name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getUserIdByCompanyNameAndUserName" parameterType="java.util.Map" resultType="java.lang.String">
        select b.id
        from
            maoding_web_company_user a
            inner join maoding_web_account b on (a.user_id=b.id)
            inner join maoding_web_company h on (a.company_id=h.id)
            left join maoding_web_business_partner i on (h.id=i.company_id)
            left join maoding_web_org_auth j on ((j.deleted is null or j.deleted=0) and h.id=j.id)
        where
            (b.status is null or b.status='0')
            and (h.status is null or h.status='0')
            and (a.user_name=#{userName} or b.user_name=#{userName})
            and (h.company_name=#{companyName} or h.company_short_name=#{companyName} or i.nick_name=#{companyName} or j.org_name=#{companyName})
        limit 1
    </select>

    <select id="listBaseShowByQuery" parameterType="com.maoding.user.dto.UserQueryDTO" resultMap="BaseShowMap">
        select distinct account.*,member_list.company_user_id
        from
        maoding_web_account account
        <if test="parentTaskId != null">
            inner join maoding_web_member_list member_list on (member_list.deleted = 0 and member_list.account_id = account.id)
            inner join maoding_web_project_task task on (
            task.task_status = '0'
                and (member_list.node_id = task.id or member_list.target_id = task.id)
                and task.id = #{parentTaskId}
            )
            inner join maoding_web_project_task sub_task on (
                task.task_status = '0'
                and position(task.task_path in sub_task.task_path) > 0
            )
        </if>
        where account.status = '0'
    </select>
</mapper>