<form class="form-horizontal m_cost_collectionPlan_add m-r m-l ">
    <div class="form-group">
        <label class="col-24-md-5 control-label">{{title}}类型：</label>
        <div class="col-24-md-19">
            <select class="form-control" name="feeType" style="width: 100%;">
                <option value="">请选择</option>
                {{if doType==0}}
                <option value="1">合同回款</option>
                {{/if}}
                <option value="2">技术审查费</option>
                <option value="3">合作设计费</option>
                {{if doType==0}}
                <option value="5">其他收入</option>
                {{else}}
                <option value="4">其他支出</option>
                {{/if}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-24-md-5 control-label no-pd-left">计划{{title}}金额：</label>
        <div class="col-24-md-19">
            <div class="input-group">
                <input class="form-control" type="text" name="fee"> <span class="input-group-addon">万元</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-24-md-5 control-label">
            {{if doType==1}}
            收款单位：
            {{else}}
            付款单位：
            {{/if}}
        </label>
        <div class="col-24-md-19">
            <select class="form-control full-width" name="receivingUnit" readonly="" >

            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-24-md-5 control-label">关联合同：</label>
        <div class="col-24-md-19">
            <div class="input-group select2-multiple">
                <select class="js-example-disabled-results form-control" name="projectContract" multiple="multiple" readonly="" style="width: 392px;">

                </select>
                <div class="input-group-btn">
                    <button tabindex="-1" class="web-uploader btn btn-primary" type="button" data-action="upload"></button>
                </div>
            </div>
        </div>
    </div>
</form>