<div class="panel-body popover-box no-borders no-padding">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="10">
                <div class="row">
                    <div class="col-md-3">{{pageText.title}}</div>
                    <div class="col-md-3">
                        计划收款金额：
                        <span class="text-navy ">
                            {{if isManager==1 && operateCompanyId==currentCompanyId}}
                                <a href="javascript:void(0);" class="totalContract {{totalCost!=null && totalCost-0>0?'':'withoutSet'}}" data-value="{{totalCost}}">
                                    {{totalCost!=null && totalCost-0>0?_expNumberFilter(totalCost):'未设置'}}</a>
                            {{else}}
                                {{totalCost==null||totalCost-0==0?'0':_expNumberFilter(totalCost)}}
                            {{/if}}
                            &nbsp;{{_isNullOrBlank(totalCost==null)?'':'万元'}}
                        </span>
                    </div>
                    <div class="col-md-3">
                        <span class="pull-left">合同附件：</span>
                        {{if attachList!=null && attachList.length>0}}
                            {{each attachList as a}}
                                <span class="bg-v1-grey b-r-sm p-xxs m-r-xs f-s-12 pull-left" style="padding: 3px 5px;">
                                    <a href="{{a.fileFullPath}}" target="_blank">{{a.fileName}}</a>
                                    <a class="curp" href="javascript:void(0)" data-id="{{a.id}}" data-action="delAttach">
                                        <i class="fa fa-times color-red"></i>
                                    </a>
                                </span>
                            {{/each}}
                        {{else}}
                            <span class="pull-left m-r-xs">暂无上传文件</span>
                        {{/if}}
                        {{if isManager==1 && operateCompanyId==currentCompanyId}}
                        <a href="javascript:void(0)" id="filePicker" data-action="recordAttach" class="upload-icon pull-left" title="请上传PDF文件"></a>
                        {{/if}}
                    </div>
                    <div class="col-md-3">
                        付款单位：{{companyName}}
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th colspan="3" class="text-center v-middle">节点信息</th>
            <th colspan="2" class="text-center v-middle">收款信息</th>
            <th colspan="2" class="text-center v-middle">开票信息</th>
            <th colspan="3" class="text-center v-middle">到账明细</th>
        </tr>
        <tr>
            <th width="18%"  class="text-center v-middle">回款节点</th>
            <th width="7%"  class="text-center v-middle">比例</th>
            <th width="9%"  class="text-center v-middle">金额（万元）</th>
            <th width="9%"  class="text-center">发起人</th>
            <th width="9%"  class="text-center">金额（万元）</th>

            <th width="8%"  class="text-center">发票号码</th>
            <th width="6%"  class="text-center">发票类型</th>

            <th width="13%"  class="text-center">到账金额（万元）</th>
            <th width="9%"  class="text-center">到账日期</th>
            <th width="12%" class="text-center">应收（万元）</th>
        </tr>
        </thead>
        <tbody class="border-no-t">
        {{each pointList as p i}}
        <tr data-i="{{i}}" data-id="{{p.id}}" data-fee="{{p.fee}}" data-backFee="{{p.backFee}}">
            <!--以下是节点描述-->
            <td class="feeDescription" rowspan="{{p.pointDetailList.length==0?1:p.pointDetailList.length}}">
                {{if isManager==1 && operateCompanyId==currentCompanyId}}
                    <span class="feeDescription pt-relative l-h-22" data-string="{{p.feeDescription}}">
                        <a href="javascript:void(0)" data-action="editContract" data-edit-type="1" data-id="{{p.id}}">{{p.feeDescription}}</a>
                    </span>
                {{else}}
                    <span class="feeDescription pt-relative" data-string="{{p.feeDescription}}">
                        {{p.feeDescription}}
                    </span>
                {{/if}}
                {{if isManager==1 && p.backFee-0!=p.fee && (p.fee!=null && p.fee-0>0)  && startReceiveFlag==1}}
                    <a href="javascript:void(0)" class="btn btn-primary btn-xs pull-right" data-action="initiatedContract" data-id="{{p.id}}" >发起回款</a>
                {{/if}}
                {{if isManager==1 && p.id!=null && operateCompanyId==currentCompanyId}}
                    <a href="javascript:void(0)" class="btn btn-danger btn-xs pull-right m-r-xs" data-action="delCostPoint" data-id="{{p.id}}" >删除</a>
                {{/if}}
            </td>
            <!--以下是比例-->
            <td rowspan="{{p.pointDetailList.length==0?1:p.pointDetailList.length}}" class="text-center feeProportion {{p.pid==null?'f-w-bold':''}}" data-value="{{p.feeProportion}}">
                {{if isManager==1 && totalCost!=null && totalCost-0>0 && operateCompanyId==currentCompanyId}}
                    <a href="javascript:void(0)" class="border-b-dashed {{p.feeProportion!=null && p.feeProportion-0>0?'':'withoutSet'}}" data-action="editContract" data-edit-type="2" data-id="{{p.id}}">
                        {{!(p.feeProportion!=null && p.feeProportion-0>0)?'未设置':p.feeProportion+'%'}}
                    </a>
                {{else}}
                    {{p.feeProportion==null || p.feeProportion-0==0?'0':p.feeProportion+'%'}}
                {{/if}}
            </td>
            <!--以下是金额-->
            <td rowspan="{{p.pointDetailList.length==0?1:p.pointDetailList.length}}" class="text-center fee {{p.pid==null?'f-w-bold':''}}" data-value="{{p.fee}}">
                {{if isManager==1 && totalCost!=null && totalCost-0>0 && operateCompanyId==currentCompanyId}}
                    <a href="javascript:void(0)" class="border-b-dashed {{p.fee!=null && p.fee-0>0?'':'withoutSet'}}" data-action="editContract" data-edit-type="3" data-id="{{p.id}}" >
                        {{p.fee!=null && p.fee-0>0?_expNumberFilter(p.fee):'未设置'}}
                    </a>
                {{else}}
                    {{p.fee!=null && p.fee-0>0?_expNumberFilter(p.fee):'0'}}
                {{/if}}
            </td>
            <!--以下是发起人-->
            <td class="text-center">
                {{if p.pointDetailList!=null && p.pointDetailList.length>0}}
                    <span data-toggle="tooltip" data-placement="top" title="{{p.pointDetailList[0].createDate}}">
                        {{p.pointDetailList[0].userName}}
                    </span>
                {{/if}}
            </td>
            <!--以下是金额-->
            <td class=" totalPaidFee text-center" data-value="{{p.pointDetailList.length>0?p.pointDetailList[0].fee:''}}">
                <div>
                    {{if p.pointDetailList!=null && p.pointDetailList.length>0}}
                        {{if isManager==1 && (p.pointDetailList[0].paymentList==null || p.pointDetailList[0].paymentList.length==0) && p.pointDetailList[0].companyId==currentCompanyId}}
                            <a href="javascript:void(0)" data-action="editContract" data-edit-type="4" data-id="{{p.pointDetailList[0].id}}" data-point-id="{{p.id}}">
                                {{_expNumberFilter(p.pointDetailList[0].fee)}}
                            </a>
                        {{else}}
                            {{_expNumberFilter(p.pointDetailList[0].fee)}}
                        {{/if}}
                        {{if p.pointDetailList[0]!=null && p.pointDetailList[0].id!=null && isManager==1 && p.pointDetailList[0].companyId==currentCompanyId}}
                            <a href="javascript:void(0)" class="btn btn-danger btn-xs pull-right" data-action="delCostPointDetail" data-id="{{p.pointDetailList[0].id}}">删除</a>
                        {{/if}}
                    {{/if}}
                </div>
            </td>
            <!-- 发票信息 -->
            <td class="text-center {{ p.pointDetailList!=null && p.pointDetailList[0] && (!_isNullOrBlank(p.pointDetailList[0].invoiceNo) || !_isNullOrBlank(p.pointDetailList[0].roleMap.invoiceConfirm))?'':'bg-muted'}}">
                {{if p.pointDetailList!=null && p.pointDetailList.length>0 && !_isNullOrBlank(p.pointDetailList[0].invoice) && !_isNullOrBlank(p.pointDetailList[0].roleMap.invoiceConfirm)}}

                    <a href="javascript:void(0)" class="btn btn-primary btn-xs" data-action="confirmInvoice" data-id="{{p.pointDetailList[0].id}}" data-invoice="{{p.pointDetailList[0].invoice}}">确认开票</a>

                {{else if p.pointDetailList!=null && p.pointDetailList.length>0}}

                    {{p.pointDetailList[0].invoiceNo}}

                {{/if}}
            </td>
            <td class="text-center {{ p.pointDetailList!=null && p.pointDetailList[0] && (!_isNullOrBlank(p.pointDetailList[0].invoiceNo) || !_isNullOrBlank(p.pointDetailList[0].roleMap.invoiceConfirm))?'':'bg-muted'}}">
                {{if p.pointDetailList!=null && p.pointDetailList.length>0 && p.pointDetailList[0].invoiceType==1}}
                    普票
                {{else if p.pointDetailList!=null && p.pointDetailList.length>0 && p.pointDetailList[0].invoiceType==2}}
                    专票
                {{/if}}
            </td>
            <!--以下是到账节点-->
            <td class="text-center no-padding" colspan="2">

                {{if p.pointDetailList!=null  && p.pointDetailList.length>0 && p.pointDetailList[0].paymentList.length>0}}
                    {{each p.pointDetailList[0].paymentList as v vi}}
                        <div class="{{ p.pointDetailList[0].paymentList.length==vi+1 && !(p.pointDetailList[0].roleMap!=null && p.pointDetailList[0].roleMap.financialForFee!=null)?'l-h-38':'paid-detail-box'}}">
                            <div class="bPaidFee">
                                <span>{{_expNumberFilter(v.fee)}}</span>
                                {{if isFinancial=="1" && p.pointDetailList[0].companyId==currentCompanyId}}
                                    <a href="javascript:void(0)" class="btn btn-danger btn-xs pull-right m-r-xs" data-action="delPaidFee" data-id="{{v.id}}">删除</a>
                                {{/if}}
                            </div>
                            <div class="paid-date">{{_momentFormat(v.paidDate,'YYYY/MM/DD')}}</div>
                            <div class="clearfix"></div>
                        </div>
                    {{/each}}
                {{/if}}
                {{if p.pointDetailList.length>0 && p.pointDetailList[0].roleMap!=null && p.pointDetailList[0].roleMap.financialForFee!=null}}
                    <span data-toggle="tooltip" data-placement="top" title="添加到账金额" class="l-h-38">
                        <a class="btn btn-outline full-width no-padding" href="javascript:void(0)" data-id="{{p.pointDetailList[0].roleMap.financialForFee}}"
                           data-limit="{{p.pointDetailList.length>0?p.pointDetailList[0].notReceiveFee:''}}" data-action="costConfirm" type="button" >
                            <i class="fa fa-plus color-dark-blue f-s-20" ></i>
                        </a>
                    </span>
                {{/if}}
            </td>
            <td class="text-center">
                {{if p.pointDetailList!=null && p.pointDetailList.length>0}}
                    {{_expNumberFilter(p.pointDetailList[0].notReceiveFee)}}
                {{/if}}
            </td>
        </tr>
        {{if p.pointDetailList!=null && p.pointDetailList.length>1}}
        {{each p.pointDetailList as c ci}}
        {{if ci>0}}
        <tr data-id="{{p.id}}" data-fee="{{p.fee}}" data-backFee="{{p.backFee}}">
            <!--以下是发起人-->
            <td class="text-center">
                <span data-toggle="tooltip" data-placement="top" title="{{c.createDate}}">
                    {{c.userName}}
                </span>
            </td>
            <!--以下是金额-->
            <td class=" totalPaidFee text-center"  data-value="{{c.fee}}">
                <div>
                    {{if isManager==1 && (c.paymentList==null || c.paymentList.length==0) && c.companyId==currentCompanyId}}
                        <a href="javascript:void(0)" data-action="editContract" data-edit-type="4" data-id="{{c.id}}" data-point-id="{{p.id}}">
                            {{_expNumberFilter(c.fee)}}
                        </a>
                    {{else}}
                        {{_expNumberFilter(c.fee)}}
                    {{/if}}
                    {{if c.id!=null && isManager==1 && c.companyId==currentCompanyId}}
                        <a href="javascript:void(0)" class="btn btn-danger btn-xs pull-right" data-action="delCostPointDetail" data-id="{{c.id}}">删除</a>
                    {{/if}}
                </div>
            </td>

            <!-- 发票信息 -->
            <td class="text-center {{!_isNullOrBlank(c.invoiceNo) || !_isNullOrBlank(c.roleMap.invoiceConfirm)?'':'bg-muted'}}">
                {{if !_isNullOrBlank(c.invoice) && !_isNullOrBlank(c.roleMap.invoiceConfirm)}}
                    <a href="javascript:void(0)" class="btn btn-primary btn-xs" data-action="confirmInvoice" data-id="{{c.id}}" data-invoice="{{c.invoice}}">确认开票</a>
                {{else}}
                    {{c.invoiceNo}}
                {{/if}}
            </td>
            <td class="text-center {{!_isNullOrBlank(c.invoiceNo) || !_isNullOrBlank(c.roleMap.invoiceConfirm)?'':'bg-muted'}}">
                {{if c.invoiceType==1}}
                    普票
                {{else if c.invoiceType==2}}
                    专票
                {{/if}}
            </td>

            <!--以下是到账节点-->
            <td class="text-center no-padding" colspan="2">
                {{if c.paymentList.length>0}}
                    {{each c.paymentList as v vi}}
                        <div class="{{ c.paymentList.length==vi+1 && !(c.roleMap!=null && c.roleMap.financialForFee!=null)?'l-h-38':'paid-detail-box'}}" >
                            <div class="bPaidFee">
                                <span>{{_expNumberFilter(v.fee)}}</span>
                                {{if isFinancial=="1" && c.companyId==currentCompanyId}}
                                    <a href="javascript:void(0)" class="btn btn-danger btn-xs pull-right m-r-xs" data-action="delPaidFee" data-id="{{v.id}}">删除</a>
                                {{/if}}
                            </div>
                            <div class="paid-date">{{_momentFormat(v.paidDate,'YYYY/MM/DD')}}</div>
                            <div class="clearfix"></div>
                        </div>
                    {{/each}}
                {{/if}}
                {{if c.roleMap!=null && c.roleMap.financialForFee!=null }}
                    <span data-toggle="tooltip" data-placement="top" title="添加到账金额" class="l-h-38">
                        <a class="btn btn-outline full-width no-padding" data-id="{{c.roleMap.financialForFee}}" data-limit="{{c.notReceiveFee}}" href="javascript:void(0)" data-action="costConfirm" type="button" >
                            <i class="fa fa-plus color-dark-blue f-s-20" ></i>
                        </a>
                    </span>
                {{/if}}
            </td>
            <td class="text-center">{{_expNumberFilter(c.notReceiveFee)}}</td>
        </tr>
        {{/if}}
        {{/each}}
        {{/if}}
        {{/each}}

        {{if isManager==1 && totalCost!=null && totalCost-0>0 && operateCompanyId==currentCompanyId}}
        <tr>
            <td colspan="10" align="center">
                <span data-toggle="tooltip" data-placement="top" title="添加回款节点">
                    <a class="btn btn-outline full-width border-dashed" href="javascript:void(0)" data-action="addContract" type="button" >
                        <i class="fa fa-plus color-dark-blue f-s-20" ></i>
                    </a>
                </span>
            </td>
        </tr>
        {{/if}}

        <tr class="gray-bg">
            <td class="text-center">合计</td>
            <td class="text-center f-w-bold">{{total.feeProportion==null || total.feeProportion-0==0?'0':total.feeProportion+'%'}}</td>
            <td class="text-center f-w-bold">{{total.fee==null || total.fee-0==0?0:_expNumberFilter(total.fee)}}</td>
            <td></td>
            <td class="text-center">{{total.backMoney==null || total.backMoney-0==0?0:_expNumberFilter(total.backMoney)}}</td>
            <td></td>
            <td></td>
            <td class="text-center">{{total.toTheMoney==null || total.toTheMoney-0==0?0:_expNumberFilter(total.toTheMoney)}}</td>
            <td></td>
            <td class="text-center">{{total.receivedUncollected==null || total.receivedUncollected-0==0?0:_expNumberFilter(total.receivedUncollected)}}</td>
        </tr>
        </tbody>

    </table>
</div>
