<div class="ibox">
    <div class="ibox-title border-fff">
        <span class="dp-inline-block f-s-md l-h-16">组织选择</span>
    </div>
    <div class="ibox-content no-pd">
        <ul class="todo-list small-list m-invite-group">
            <li><p class="f-s-m l-h-14 m-t-sm">
                请选择&nbsp;<span class="fc-v1-yellow">你已创建的组织</span>&nbsp;或&nbsp;<span class="fc-v1-yellow">新创建一个组织</span>&nbsp;成为&nbsp;<span class="fc-v1-yellow">“{{a_companyName}}”</span>&nbsp;的事业合伙人</p></li>
            {{each companyList as c i}}
            {{if c.flag===1}}
            <li class="unselectable" data-action="selectOrg" data-memo="{{c.memo}}">
                <div class="ibox-content box-shadow border"
                     style="padding: 10px 20px 5px;height:90px;">
                    <div class="dp-inline-block p-h-sm">
                        <p class="fc-v1-grey f-s-md l-h-16">{{c.companyName}}</p>
                        <p class="f-s-xs l-h-12 fc-v1-grey">{{c.memo}}</p>
                    </div>
                    {{if c.filePath!=null && c.filePath!=''}}
                        <img alt="image" class="img-circle pull-right img-responsive hidden-xs" width="90"
                             src="{{c.filePath}}">
                    {{else}}
                        <img alt="image" class="img-circle pull-right img-responsive hidden-xs" width="90"
                             src="{{_url('/assets/img/default/org_default_headPic.png')}}">
                    {{/if}}
                </div>
            </li>
            {{else}}
            <li class="selectable" data-action="selectOrgApply" data-company-id="{{c.id}}" data-company-name="{{c.companyName}}">
                <div class="ibox-content box-shadow border"
                     style="padding: 10px 20px 5px;height:90px;">
                    <div class="dp-inline-block p-h-sm">
                        <p class="f-s-md l-h-16">{{c.companyName}}</p>
                        <p class="f-s-xs l-h-12 fc-v1-grey">企业负责人:{{c.systemManager}}</p>
                    </div>
                    {{if c.filePath!=null && c.filePath!=''}}
                        <img alt="image" class="img-circle pull-right img-responsive hidden-xs" width="90"
                             src="{{c.filePath}}">
                    {{else}}
                        <img alt="image" class="img-circle pull-right img-responsive hidden-xs" width="90"
                             src="{{_url('/assets/img/default/org_default_headPic.png')}}">
                    {{/if}}
                </div>
            </li>
            {{/if}}
            {{/each}}
            <li class="selectable">
                <a href="javascript:void(0)">
                    <div class="ibox-content box-shadow border" style="padding: 0;">
                        <p style="font-size: 16px;line-height: 16px;">
                            <a href="javascript:void(0)" data-action="createOrg" style="padding: 20px 20px 15px;display: inline-block;width: 100%;">创建新组织</a>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>