<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th width="13%">日期</th>
            <th width="13%"><span class="th-span-pr">应收（元）</span></th>
            <th width="14%">
                收支分类子项
                <a class="icon-filter pull-right" id="filter_feeType" ><i class="icon iconfont icon-shaixuan"></i></a>
            </th>
            <th width="20%">备注</th>
            <th width="13%">
                收款组织
                <a class="icon-filter pull-right" id="filter_toCompanyId"><i class="icon iconfont icon-shaixuan"></i></a>
            </th>
            <th width="13%">
                付款组织
                <a class="icon-filter pull-right" id="filter_fromCompanyId"><i class="icon iconfont icon-shaixuan"></i></a>
            </th>
            <th width="14%">
                关联项目
                <a class="icon-filter pull-right" id="filter_projectName" ><i class="icon iconfont icon-shaixuan"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        {{each dataList as d}}
        <tr >
            <td>{{_momentFormat(d.createDate,'YYYY/MM/DD')}}</td>
            <td class="text-right">
                <a class="td-span-pr" href="javascript:void(0);" data-action="viewDetail" data-id="{{d.id}}">{{_expNumberFilter(d.profitFee)}}</a>
            </td>
            <td>{{d.feeTypeName}}</td>
            <td>{{d.feeName}}</td>
            <td>
                {{if d.toCompanyName!=null && d.toCompanyName!=''}}
                    {{d.toCompanyName}}
                {{else}}
                --
                {{/if}}
            </td>
            <td>
                {{if d.fromCompanyName!=null && d.fromCompanyName!=''}}
                {{d.fromCompanyName}}
                {{else}}
                --
                {{/if}}
            </td>
            <td>
                <a href="javascript:void(0);" data-action="goExpensesPage" data-project-id="{{d.projectId}}" data-type="{{d.feeType}}">{{d.projectName}}</a>
            </td>
        </tr>
        {{/each}}
        {{if !(dataList && dataList.length>0)}}
        <tr>
            <td colspan="6" class="text-center v-middle">
                <div class="m-b-xl m-t-md">
                    <img src="{{_url('/assets/img/default/without_data.png')}}">
                    <span class="fc-dark-blue dp-block">没有相关数据</span>
                </div>
            </td>
        </tr>
        {{/if}}
    </tbody>
</table>
<div class="pt-absolute ">
    <span>总应收金额：</span>
    <span>
        {{ if _isBlank(receivaleSum)}}
            <span class="fc-v1-green">0</span>
        {{else if  (receivaleSum+'').indexOf('-')>-1}}
            <span class="fc-v1-red">{{_expNumberFilter(receivaleSum)}}</span>
        {{else}}
            <span class="fc-v1-green">{{_expNumberFilter(receivaleSum)}}</span>
        {{/if}}
        元
    </span>
</div>