<div class="m-b-sm">
    <span>当前余额：</span>
    <span>
        {{ if _isBlank(summary.sumBalance)}}
            <span class="fc-v1-green">0</span>
        {{else if  (summary.sumBalance+'').indexOf('-')>-1}}
            <span class="fc-v1-red">{{_expNumberFilter(summary.sumBalance)}}</span>
        {{else}}
            <span class="fc-v1-green">{{_expNumberFilter(summary.sumBalance)}}</span>
        {{/if}}
        元 &nbsp;&nbsp;
    </span>
</div>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th width="12%">日期</th>
            <th width="13%">
                <span class="th-span-pr">金额（元）</span>
                <a class="icon-filter pull-right" id="filterProfitType"><i class="icon iconfont icon-shaixuan"></i></a>
            </th>
            <th width="12%">
                收支分类
                <a class="icon-filter pull-right" id="filterFeeType"><i class="icon iconfont icon-shaixuan"></i></a>
            </th>
            <th width="12%">
                分类子项
                <a class="icon-filter pull-right" id="filterSubFeeType"><i class="icon iconfont icon-shaixuan"></i></a>
            </th>
            <th width="16%">备注</th>
            <th width="13%">
                收款组织
                <a class="icon-filter pull-right" id="filterToCompany"><i class="icon iconfont icon-shaixuan"></i></a>
            </th>
            <th width="13%">
                付款组织
                <a class="icon-filter pull-right" id="filterFromCompany"><i class="icon iconfont icon-shaixuan"></i></a>
            </th>
            <th width="14%">
                关联项目
                <a class="icon-filter pull-right" id="filterProjectName"><i class="icon iconfont icon-shaixuan"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        {{each dataList as d}}
        <tr>
            <td>{{_momentFormat(d.profitDate,'YYYY/MM/DD')}}</td>
            <td class="text-right">
                {{if (d.profitFee+'').indexOf('-')>-1 }}
                    <span class="fc-v1-red td-span-pr">{{_expPositiveNumberFilter(d.profitFee)}}</span>
                {{else}}
                    <span class="fc-v1-green td-span-pr">{{_expNumberFilter(d.profitFee)}}</span>
                {{/if}}
            </td>
            <td>{{d.feeTypeParentName}}</td>
            <td>{{d.feeTypeName}}</td>
            <td>{{d.feeName}}</td>
            <td>
                {{if d.toCompanyName!=null && d.toCompanyName!=''}}
                    {{d.toCompanyName}}
                {{else}}
                    --
                {{/if}}
            </td>
            <td>
                {{if d.fromCompanyName!=null && d.fromCompanyName!=''}}
                    {{d.fromCompanyName}}
                {{else}}
                    --
                {{/if}}
            </td>
            <td>{{d.projectName}}</td>
        </tr>
        {{/each}}
        {{if !(dataList && dataList.length>0)}}
        <tr>
            <td colspan="8" class="text-center v-middle">
                <div class="m-b-xl m-t-md">
                    <img src="{{_url('/assets/img/default/without_data.png')}}">
                    <span class="fc-dark-blue dp-block">没有相关数据</span>
                </div>
            </td>
        </tr>
        {{/if}}
    </tbody>
</table>
<div class="pt-absolute ">

    <span>合计金额：</span>
    <span>
        {{ if _isBlank(summary.amount)}}
            <span class="fc-v1-green">0</span>
        {{else if  (summary.amount+'').indexOf('-')>-1}}
            <span class="fc-v1-red">{{_expNumberFilter(summary.amount)}}</span>
        {{else}}
            <span class="fc-v1-green">{{_expNumberFilter(summary.amount)}}</span>
        {{/if}}
        元 &nbsp;&nbsp;
    </span>
    <span>收入：</span>
    <span>
        {{ if _isBlank(summary.gain)}}
            <span class="fc-v1-green">0</span>
        {{else if  (summary.gain+'').indexOf('-')>-1}}
            <span class="fc-v1-red">{{_expNumberFilter(summary.gain)}}</span>
        {{else}}
            <span class="fc-v1-green">{{_expNumberFilter(summary.gain)}}</span>
        {{/if}}
        元 &nbsp;&nbsp;
    </span>
    <span>支出：</span>
    <span>
        {{ if _isBlank(summary.pay)}}
            <span class="fc-v1-green">0</span>
        {{else if  (summary.pay+'').indexOf('-')>-1}}
            <span class="fc-v1-red">{{_expPositiveNumberFilter(summary.pay)}}</span>
        {{else}}
            <span class="fc-v1-green">{{_expNumberFilter(summary.pay)}}</span>
        {{/if}}
        元 &nbsp;&nbsp;
    </span>

</div>