<div class="ibox m_payments_setFields no-margin">
    <div class="ibox-title" style="min-height: 30px;padding:7px 15px 2px;">
        <h4>可选字段</h4>
    </div>
    <div class="ibox-content no-padding">
        {{each fieldsList as f fi}}
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="dd-list">
                    <li>
                        {{if f.expTypeValue!=null && f.expTypeValue!=''}}
                        <label class="i-checks fw-normal no-margin col-md-6">
                            <input name="typeValueCk" type="checkbox" value="{{f.expTypeValue}}" data-key="{{f.expTypeKey}}" data-level="{{f.level}}"/>
                            <span class="i-checks-span">{{f.expTypeValue}}</span>
                        </label>
                        {{/if}}
                        {{if f.childList!=null && f.childList.length>0}}
                        <ul class="dd-list">
                            {{each f.childList as c ci}}
                            <li>
                                {{if c.expTypeValue!=null && c.expTypeValue!=''}}
                                <label class="i-checks fw-normal no-margin col-md-6 ">
                                    <input name="typeValueCk" type="checkbox" value="{{c.expTypeValue}}" data-key="{{c.expTypeKey}}" data-level="{{c.level}}"/>
                                    <span class="i-checks-span">{{c.expTypeValue}}</span>
                                </label>
                                {{/if}}
                                {{if c.childList!=null && c.childList.length>0}}
                                <ul class="dd-list">
                                    {{each c.childList as cc cci}}
                                    <li>
                                        {{if cc.expTypeValue!=null && cc.expTypeValue!=''}}
                                        <label class="i-checks fw-normal no-margin col-md-6">
                                            <input name="typeValueCk" type="checkbox" value="{{cc.expTypeValue}}" data-key="{{cc.expTypeKey}}" data-level="{{cc.level}}"/>
                                            <span class="i-checks-span">{{cc.expTypeValue}}</span>
                                        </label>
                                        {{/if}}
                                    </li>
                                    {{/each}}
                                    <div class="clearfix"></div>
                                </ul>
                                {{/if}}
                            </li>
                            {{/each}}
                            <div class="clearfix"></div>
                        </ul>
                        {{/if}}
                    </li>
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
</div>

