<!-- 发起审批 STRAT-->
<div class="ibox ibox_min_height">
    <div class="ibox-title secondary-menu-outbox">
        <div class="row">
            <div class="col-md-6">
                <!--面包屑-->
                <div class="no-margin p-h-sm breadcrumb-box" >
                    <ol class="breadcrumb">
                        <li>
                            审批管理
                        </li>
                        <li class="active fa fa-angle-right">
                            <strong>发起审批</strong>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 text-right p-w-sm">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="ibox-content">
        {{if dataList && dataList.length>0}}
            {{each dataList as p i}}
                {{if p.formList && p.formList.length>0}}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4 class="title-line">{{p.groupName}}</h4>
                            <div class="row">
                                {{if p.formList && p.formList.length>0}}
                                    {{each p.formList as c ci }}
                                    <div class="col-md-2 m-b-sm">
                                        <span class="badge badge-primary p-sm b-r-xl">
                                            <i class="fa fa-calendar f-s-xl"></i>
                                        </span>
                                        <a class="btn btn-link" data-action="initiate" data-form-id="{{c.formId}}" data-issystem="{{c.isSystem}}">{{c.name}}</a>
                                    </div>
                                    {{/each}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        {{/if}}
        <!--<div class="panel panel-default">
            <div class="panel-body">
                <h4 class="title-line">行政审批</h4>
                <div class="row">
                    <div class="col-md-2">
                        <span class="badge badge-primary p-sm b-r-xl">
                            <i class="fa fa-calendar f-s-xl"></i>
                        </span>
                        <a class="btn btn-link" data-action="leaveApplication">请假申请</a>
                    </div>
                    <div class="col-md-2">
                        <span class="badge badge-primary p-sm b-r-xl">
                            <i class="fa fa-calendar f-s-xl"></i>
                        </span>
                        <a class="btn btn-link" data-action="travelApplication">出差申请</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="title-line">财务审批</h4>
                <div class="row">
                    <div class="col-md-2">
                        <span class="badge badge-primary p-sm b-r-xl">
                            <i class="fa fa-calendar f-s-xl"></i>
                        </span>
                        <a class="btn btn-link" data-action="reimbursementApplication">报销申请</a>
                    </div>
                    <div class="col-md-2">
                        <span class="badge badge-primary p-sm b-r-xl">
                            <i class="fa fa-calendar f-s-xl"></i>
                        </span>
                        <a class="btn btn-link" data-action="feeApplication">费用申请</a>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
<!-- 发起审批 END-->