<form class="form-horizontal p-sm overflow-y-auto m-b-lg">
    <div class="form-group">
        <label class="col-sm-2 text-right">关联项目：</label>
        <div class="col-sm-10">
            {{costPayDetail.projectName}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 text-right">收款单位：</label>
        <div class="col-sm-10">
            {{costPayDetail.toCompanyName}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 text-right">节点描述：</label>
        <div class="col-sm-10">
            {{costPayDetail.feeDescription}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 text-right">金额：</label>
        <div class="col-sm-10">
            {{_expNumberFilter(costPayDetail.fee)}} 万元
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 text-right">比例：</label>
        <div class="col-sm-10">
            {{costPayDetail.feeProportion}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 text-right">发起人：</label>
        <div class="col-sm-10">
            {{costPayDetail.userName}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 text-right">描述：</label>
        <div class="col-sm-10">
            {{costPayDetail.pointDetailDescription}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 text-right">附件：</label>
        <div class="col-sm-10">
            {{if attachList!=null && attachList.length>0}}
                {{each attachList as a i}}
                     <span class="label m-r-xs" style="background: #ecf0f1;padding: 5px 10px;">
                         <a href="javascript:void(0)" data-action="preview" data-net-file-id="{{a.id}}"  data-src="{{a.fileFullPath}}" data-name="{{a.fileName}}">
                            {{a.fileName}}
                         </a>
                     </span>
                {{/each}}
            {{/if}}
        </div>
    </div>
    <div class="hr-line-dashed m-t-none m-b-sm"></div>
    <div class="form-group">
        <label class="col-sm-2 text-right">审批人：</label>
        <div class="col-sm-10">
            <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation timeline-box no-margins full-width">
                {{if auditList!=null && auditList.length>0}}
                {{each auditList as s i}}
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-circle-o"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        {{if s.approveStatus=='1'}}
                        <h2 class="text-success">{{s.userName}}</h2>
                        {{else if s.approveStatus=='2' || s.approveStatus=='3'}}
                        <h2 class="text-danger">{{s.userName}}</h2>
                        {{else}}
                        <h2>{{s.userName}}</h2>
                        {{/if}}
                        <p class="no-margins">
                            {{s.companyName}}
                        </p>
                        <span class="vertical-date">
                            {{if s.approveStatus=='1'}}
                                <span class="text-success">{{s.approveStatusName}}&nbsp;&nbsp;{{_momentFormat(s.expDate,'YYYY/MM/DD')}} </span>
                            {{else if s.approveStatus=='2' || s.approveStatus=='3'}}
                                <span class="text-danger">{{s.approveStatusName}}&nbsp;&nbsp;{{_momentFormat(s.expDate,'YYYY/MM/DD')}} </span>
                            {{else}}
                                <span>{{s.approveStatusName}}&nbsp;&nbsp;{{_momentFormat(s.expDate,'YYYY/MM/DD')}} </span>
                            {{/if}}
                            <br>
                            <small>
                                {{if s.approveStatusName=='发起申请'}}
                                    {{typeStr}}备注：{{s.remark}}
                                {{/if}}
                                {{if s.approveStatusName=='退回'}}
                                    退回原因：{{s.remark}}
                                {{/if}}
                            </small>
                        </span>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</form>
<div class="footer fixed_full text-right">
    <button class="btn btn-default" data-action="cancel">取消</button>
    {{if auditFlag!=null && auditFlag=='1'}}
        <button class="btn btn-primary" data-action="agree">同意</button>
        <button class="btn btn-success" data-action="returnBack">退回</button>
    {{/if}}
</div>


