<form class="form-horizontal p-sm overflow-y-auto" style="{{dialogHeight}}">
    <div class="form-group">
        <label class="col-sm-2 text-right">申请人：</label>
        <div class="col-sm-10">
            {{userName}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 text-right">申请时间：</label>
        <div class="col-sm-10">
            {{_momentFormat(submitTime,'YYYY/MM/DD')}}
        </div>
    </div>
    {{if doType==3}}
    <div class="form-group">
        <label class="col-sm-2 text-right">{{title}}类型：</label>
        <div class="col-sm-10">
            {{leaveTypeName}}
        </div>
    </div>
    {{/if}}
    {{if doType==4}}
    <div class="form-group">
        <label class="col-sm-2 text-right">出差地点：</label>
        <div class="col-sm-10">
            {{address}}
        </div>
    </div>
    {{/if}}
    <div class="form-group">
        <label class="col-sm-2 text-right">开始时间：</label>
        <div class="col-sm-10">
            {{_momentFormat(startTime,'A')}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 text-right">结束时间：</label>
        <div class="col-sm-10">
            {{_momentFormat(endTime,'A')}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 text-right">{{title}}天数：</label>
        <div class="col-sm-10">
           {{leaveTime}}天
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 text-right">{{title}}事由：</label>
        <div class="col-sm-10">
            {{remark}}
        </div>
    </div>
    <div class="hr-line-dashed m-t-none m-b-sm"></div>
    <div class="form-group">
        <label class="col-sm-2 text-right">附件：</label>
        <div class="col-sm-10">
            {{if attachList!=null && attachList.length>0}}
            {{each attachList as a i}}
            <span class="label m-r-xs" style="background: #ecf0f1;padding: 5px 10px;">
                         <a href="javascript:void(0)" data-action="preview" data-net-file-id="{{a.id}}"  data-src="{{a.fileFullPath}}" data-name="{{a.fileName}}">
                            {{a.fileName}}
                         </a>
                     </span>
            {{/each}}
            {{/if}}
        </div>
    </div>
    <div class="hr-line-dashed m-t-none m-b-sm"></div>
    <div class="form-group">
        <label class="col-sm-2 text-right">审批人：</label>
        <div class="col-sm-10">
            <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation timeline-box no-margins full-width">
                {{if auditList!=null && auditList.length>0}}
                {{each auditList as s i}}
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-circle-o"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        {{if s.approveStatus=='1'}}
                        <h2 class="text-success">{{s.userName}}</h2>
                        {{else if s.approveStatus=='2' || s.approveStatus=='3'}}
                        <h2 class="text-danger">{{s.userName}}</h2>
                        {{else}}
                        <h2>{{s.userName}}</h2>
                        {{/if}}
                        <p class="no-margins">
                            {{s.companyName}}
                        </p>
                        <span class="vertical-date">
                            {{if s.approveStatus=='1'}}
                                <span class="text-success">{{s.approveStatusName}}&nbsp;&nbsp;{{_momentFormat(s.approveDate,'YYYY/MM/DD')}} </span>
                            {{else if s.approveStatus=='2' || s.approveStatus=='3'}}
                                <span class="text-danger">{{s.approveStatusName}}&nbsp;&nbsp;{{_momentFormat(s.approveDate,'YYYY/MM/DD')}} </span>
                            {{else}}
                                <span>{{s.approveStatusName}}&nbsp;&nbsp;{{_momentFormat(s.approveDate,'YYYY/MM/DD')}} </span>
                            {{/if}}
                            <br>
                            <small>
                                {{if s.approveStatusName=='发起申请'}}
                                    {{typeStr}}备注：{{s.remark}}
                                {{/if}}
                                {{if s.approveStatusName=='退回'}}
                                    退回原因：{{s.remark}}
                                {{/if}}
                            </small>
                        </span>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="hr-line-dashed m-t-none m-b-sm"></div>
    <div class="form-group">
        <label class="col-sm-2 text-right">抄送人：</label>
        <div class="col-sm-10">
            {{if ccCompanyUserList!=null && ccCompanyUserList.length>0}}
            {{each ccCompanyUserList as u ui}}
            <div class="approver-outbox">
                <div class="approver-box text-center pull-left m-r-sm">
                    <div class="img-circle">
                        <img alt="image" class="img-circle" src="{{_isNullOrBlank(u.fileFullPath)?_url('/assets/img/head_default.png'):u.fileFullPath}}" width="50" height="50">
                    </div>
                    <div class="m-t-xs">{{u.userName}}</div>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
</form>
<div class="footer fixed_full text-right">
    <button class="btn btn-default" data-action="cancel">取消</button>
    {{if (approveStatus==0 || approveStatus==5) && currentAuditPerson.companyUserId == currentCompanyUserId && currentAuditPerson.approveStatus == 0 }}
        <button class="btn btn-primary" data-action="agree">同意</button>
        <button class="btn btn-success" data-action="returnBack">退回</button>
    {{/if}}
    {{if companyUserId == currentCompanyUserId && approveStatus == 0 }}
        <button class="btn btn-danger" data-action="cancellation">撤销</button>
    {{/if}}
</div>
