<form class="form-horizontal m">
    <div class="panel panel-default">
        <div class="panel-body">
            {{if data.doType==3}}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{data.title}}类型<span class="fc-red">*</span>：</label>
                <div class="col-sm-10">
                    <select class="form-control full-width" name="leaveType" >

                    </select>
                </div>
            </div>
            {{/if}}
            {{if data.doType==4}}
            <div class="form-group">
                <label class="col-sm-2 control-label">出差地点<span class="fc-red">*</span>：</label>
                <div class="col-sm-10">
                    <input placeholder="请输入出差地点" class="form-control" type="text" name="address" value="{{dataInfo?dataInfo.address:''}}">
                </div>
            </div>
            {{/if}}
            <div class="form-group">
                <label class="col-sm-2 control-label">开始时间<span class="fc-red">*</span>：</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" id="ipt_startTime" name="leaveStartTime" placeholder="开始时间" readonly
                               onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'ipt_endTime\')}',dateFmt:'yyyy-MM-dd HH:mm'})" value="{{dataInfo?_momentFormat(dataInfo.startTime,'YYYY-MM-DD HH:mm'):''}}">
                        <span class="input-group-addon ">
                            <i class="icon-append fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">结束时间<span class="fc-red">*</span>：</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" id="ipt_endTime" name="leaveEndTime" placeholder="开始时间" readonly
                               onFocus="WdatePicker({minDate:'#F{$dp.$D(\'ipt_startTime\')}',dateFmt:'yyyy-MM-dd HH:mm'})" value="{{dataInfo?_momentFormat(dataInfo.endTime,'YYYY-MM-DD HH:mm'):''}}">
                        <span class="input-group-addon ">
                            <i class="icon-append fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{data.title}}天数<span class="fc-red">*</span>：</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input placeholder="请输入{{data.title}}天数" class="form-control" type="text" name="leaveTime" value="{{dataInfo?dataInfo.leaveTime:''}}">
                        <span class="input-group-addon">天</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{data.title}}事由：</label>
                <div class="col-sm-10">
                    <textarea placeholder="请输入{{data.title}}事由" class="form-control" type="text" name="remark">{{dataInfo?dataInfo.remark:''}}</textarea>
                </div>
            </div>
            {{if data.doType==4}}
            <div class="form-group">
                <label class="col-sm-2 control-label">关联项目：</label>
                <div class="col-sm-10">
                    <select class="form-control full-width" name="projectId" >
                        {{each data.projectList as p }}
                            {{if dataInfo && dataInfo.projectId && dataInfo.projectId==p.id}}
                                <option value="{{p.id}}" selected >{{p.projectName}}</option>
                            {{else}}
                                <option value="{{p.id}}">{{p.projectName}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">附件：</label>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-md-12 m-b-sm">
                    <span id="showFileLoading"> </span>
                </div>
                <div class="col-md-12 m-b-sm">
                    <span class="uploadmgrContainer"> </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group m-b-none">
        <div class="col-md-12">
            <span class="uploadmgrContainer"></span>
        </div>
    </div>
    <div class="hr-line-dashed m-t-none m-b-sm"></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">审批人：</label>
        <div class="col-sm-10">

            <div id="approverBox">

            </div>
            {{if data.processFlag=='1'}}
            <div class="approver-box text-center pull-left">
                <a class="btn btn-default btn-circle circle-lg" type="button" data-action="addApprover" title="添加审批人">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            {{/if}}

            <!-- 验证 -->
            <div class="row clearfix">
                <div class="col-sm-10 p-t-xs">
                    <input type="hidden" name="approver" >
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">抄送人：</label>
        <div class="col-sm-10">
            <div id="ccUserListBox">

            </div>
            <div class="approver-box text-center pull-left">
                <a class="btn btn-default btn-circle circle-lg" type="button" data-action="addCcUser" title="添加抄送人">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
</form>
