{{if userList!=null && userList.length>0}}
    {{each userList as u ui}}
    <div class="approver-outbox">
        <div class="approver-box text-center pull-left">
            <div class="img-circle">
                <img alt="image" class="img-circle" src="{{_isNullOrBlank(u.fileFullPath)?_url('/assets/img/head_default.png'):u.fileFullPath}}" width="50" height="50">
            </div>
            <div class="m-t-xs">{{u.userName}}</div>
        </div>
    </div>
    {{if ui+1 < userList.length }}
    <div class="arrow-icon p-h-m pull-left m-l-sm m-r-sm">
        <i class="fa fa-long-arrow-right"></i>
    </div>
    {{/if}}
    {{/each}}
{{else}}
    <div class="approver-box text-center">
        <a class="btn btn-default btn-circle " type="button" data-action="addReview">
            <i class="fa fa-plus"></i>
        </a>
        <div class="m-t-xs">添加</div>
    </div>
{{/if}}
