<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CompanyMapper">
    <select id="getCompanyUserIdByCompanyIdAndUserId" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT a.id
        FROM
            maoding_web_company_user a
        WHERE
            a.company_id = #{companyId} AND a.user_id = #{userId}
        LIMIT 1
    </select>
    <select id="listUserIdByCompanyIdAndPermissionId" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT a.user_id
        FROM
            maoding_web_user_permission a
        WHERE
            a.company_id = #{companyId} AND a.permission_id = #{permissionId}
        ORDER BY a.seq
    </select>
    <select id="getCompanyUserByCompanyNameAndUserName" parameterType="java.util.Map"
            resultType="com.maoding.org.dto.CompanyUserDTO">
        SELECT
            a.id AS id,
            h.id AS company_id,
            b.id AS user_id
        FROM
            maoding_web_company_user a
            INNER JOIN maoding_web_account b ON (a.user_id = b.id)
            INNER JOIN maoding_web_company h ON (a.company_id = h.id)
            LEFT JOIN maoding_web_business_partner i ON (h.id = i.company_id)
            LEFT JOIN maoding_web_org_auth j ON ((j.deleted IS NULL OR j.deleted = 0) AND h.id = j.id)
        WHERE
            (b.status IS NULL OR b.status = '0')
            AND (h.status IS NULL OR h.status = '0')
            AND (a.user_name = #{userName} OR b.user_name = #{userName})
            AND
            (h.company_name = #{companyName} OR h.company_short_name = #{companyName} OR i.nick_name = #{companyName} OR
             j.org_name = #{companyName})
        LIMIT 1
    </select>
    <select id="getCompanyIdByCompanyNameAndUserName" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT h.id
        FROM
            maoding_web_company_user a
            INNER JOIN maoding_web_account b ON (a.user_id = b.id)
            INNER JOIN maoding_web_company h ON (a.company_id = h.id)
            LEFT JOIN maoding_web_business_partner i ON (h.id = i.company_id)
            LEFT JOIN maoding_web_org_auth j ON ((j.deleted IS NULL OR j.deleted = 0) AND h.id = j.id)
        WHERE
            (b.status IS NULL OR b.status = '0')
            AND (h.status IS NULL OR h.status = '0')
            AND (a.user_name = #{userName} OR b.user_name = #{userName})
            AND
            (h.company_name = #{companyName} OR h.company_short_name = #{companyName} OR i.nick_name = #{companyName} OR
             j.org_name = #{companyName})
        LIMIT 1
    </select>
    <select id="getCompanyIdByCompanyNameForA" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT a.id
        FROM
            maoding_web_project_construct a
        WHERE
            (a.company_name = #{companyName}) AND (a.company_id = #{relateCompanyId})
        LIMIT 1
    </select>
    <select id="getCompanyIdByCompanyNameForB" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT h.id
        FROM
            (SELECT
                 x.id                 AS id,
                 x.company_name       AS company_name,
                 x.company_short_name AS company_short_name
             FROM
                 maoding_web_company x
             WHERE (x.status IS NULL OR x.status = '0')
             UNION
             SELECT
                 x.id                 AS id,
                 x.company_name       AS company_name,
                 x.company_short_name AS company_short_name
             FROM
                 maoding_web_company_relation a
                 INNER JOIN maoding_web_company x ON (a.org_pid = x.id)
             WHERE
                 (x.status IS NULL OR x.status = '0')
             UNION
             SELECT
                 x.id                 AS id,
                 x.company_name       AS company_name,
                 x.company_short_name AS company_short_name
             FROM
                 maoding_web_company_relation a
                 INNER JOIN maoding_web_company_relation b ON (a.org_pid = b.org_id)
                 INNER JOIN maoding_web_company x ON (b.org_pid = x.id)
             WHERE
                 (x.status IS NULL OR x.status = '0')
             UNION
             SELECT
                 x.id                 AS id,
                 x.company_name       AS company_name,
                 x.company_short_name AS company_short_name
             FROM
                 maoding_web_company_relation a
                 INNER JOIN maoding_web_company_relation b ON (a.org_pid = b.org_id)
                 INNER JOIN maoding_web_company_relation c ON (b.org_pid = c.org_id)
                 INNER JOIN maoding_web_company x ON (c.org_pid = x.id)
             WHERE
                 (x.status IS NULL OR x.status = '0')
            ) h
            LEFT JOIN maoding_web_business_partner i ON (h.id = i.company_id)
            LEFT JOIN maoding_web_org_auth j ON ((j.deleted IS NULL OR j.deleted = 0) AND h.id = j.id)
        WHERE
            (h.company_name = #{companyName} OR h.company_short_name = #{companyName} OR i.nick_name = #{companyName} OR
             j.org_name = #{companyName})
        LIMIT 1
    </select>
    <select id="getRootCompanyId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT h.id
        FROM
            (SELECT
                 x.id                 AS id,
                 0                    AS search_deep,
                 x.company_name       AS company_name,
                 x.company_short_name AS company_short_name
             FROM
                 maoding_web_company x
             WHERE (x.status IS NULL OR x.status = '0')
                   AND (x.id = #{relateCompanyId})
             UNION
             SELECT
                 x.id                   AS id,
                 if(x.id IS NULL, 0, 1) AS search_deep,
                 x.company_name         AS company_name,
                 x.company_short_name   AS company_short_name
             FROM
                 maoding_web_company_relation a
                 INNER JOIN maoding_web_company x ON (a.org_pid = x.id)
             WHERE
                 (x.status IS NULL OR x.status = '0')
                 AND (a.org_id = #{relateCompanyId})
             UNION
             SELECT
                 x.id                   AS id,
                 if(x.id IS NULL, 0, 2) AS search_deep,
                 x.company_name         AS company_name,
                 x.company_short_name   AS company_short_name
             FROM
                 maoding_web_company_relation a
                 INNER JOIN maoding_web_company_relation b ON (a.org_pid = b.org_id)
                 INNER JOIN maoding_web_company x ON (b.org_pid = x.id)
             WHERE
                 (x.status IS NULL OR x.status = '0')
                 AND (a.org_id = #{relateCompanyId})
             UNION
             SELECT
                 x.id                   AS id,
                 if(x.id IS NULL, 0, 3) AS search_deep,
                 x.company_name         AS company_name,
                 x.company_short_name   AS company_short_name
             FROM
                 maoding_web_company_relation a
                 INNER JOIN maoding_web_company_relation b ON (a.org_pid = b.org_id)
                 INNER JOIN maoding_web_company_relation c ON (b.org_pid = c.org_id)
                 INNER JOIN maoding_web_company x ON (c.org_pid = x.id)
             WHERE
                 (x.status IS NULL OR x.status = '0')
                 AND (a.org_id = #{relateCompanyId})
            ) h
        ORDER BY h.search_deep DESC
        LIMIT 1
    </select>
    <select id="getCompanyIdByOrgPidAndCompanyId" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT t.id
        FROM
            maoding_web_company t
            LEFT JOIN `maoding_web_company_relation` re
                ON t.`id` = re.`org_id`
        WHERE re.org_pid = #{orgPid}
              AND t.`company_name` = #{companyName}
    </select>
    <select id="getParentCompanyByName" parameterType="java.lang.String"
            resultType="com.maoding.org.entity.CompanyEntity">
        SELECT
            t.id,
            t.company_name
        FROM
            maoding_web_company t
        WHERE t.company_name = #{companyName} LIMIT 1
    </select>

    <resultMap id="CompanyMap" type="com.maoding.org.dto.CompanyDTO" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="major_type" property="majorType" jdbcType="VARCHAR" />
        <result column="certificate" property="certificate" jdbcType="VARCHAR" />
        <result column="main_field" property="mainField" jdbcType="VARCHAR" />
        <result column="is_authentication" property="isAuthentication" jdbcType="VARCHAR" />
        <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
        <result column="reject_reason" property="rejectReason" jdbcType="VARCHAR" />
        <result column="company_type" property="companyType" jdbcType="VARCHAR" />
        <result column="company_email" property="companyEmail" jdbcType="VARCHAR" />
        <result column="company_short_name" property="companyShortName" jdbcType="VARCHAR" />
        <result column="company_fax" property="companyFax" jdbcType="VARCHAR" />
        <result column="server_type" property="serverType" jdbcType="VARCHAR" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="county" property="county" jdbcType="VARCHAR" />
        <result column="legal_representative" property="legalRepresentative" jdbcType="VARCHAR" />
        <result column="company_phone" property="companyPhone" jdbcType="VARCHAR" />
        <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="business_license_number" property="businessLicenseNumber" jdbcType="VARCHAR" />
        <result column="organization_code_number" property="organizationCodeNumber" jdbcType="VARCHAR" />
        <result column="micro_url" property="microUrl" jdbcType="VARCHAR" />
        <result column="micro_template" property="microTemplate" jdbcType="VARCHAR" />
        <result column="file_path" property="filePath" jdbcType="VARCHAR" />
        <result column="file_group" property="fileGroup" jdbcType="VARCHAR" />
        <result column="company_comment" property="companyComment" jdbcType="VARCHAR" />
        <result column="relation_type" property="relationType" jdbcType="VARCHAR" />
        <result column="sys_role" property="sysRole" jdbcType="VARCHAR" />
    </resultMap>


        <!-- 查询相关甲方 -->
    <select id="listCompanyA" resultMap="CompanyMap" parameterType="com.maoding.org.dto.CompanyQueryDTO">

    </select>

    <!-- 查询相关合作方 -->
    <select id="listCompanyCooperate" resultMap="CompanyMap" parameterType="com.maoding.org.dto.CompanyQueryDTO">
        select distinct company_list.*
        from maoding_web_company company_list
            inner join maoding_web_project_task_relation task_relation on (
              (task_relation.relation_status = '0')
              and ((task_relation.from_company_id = company_list.id)
                  or (task_relation.to_company_id = company_list.id))
              <if test="projectId != null">
                  and (task_relation.project_id = #{projectId})
              </if>
              <if test="currentCompanyId != null">
                  <choose>
                      <when test="isPay == '0'.toString()">
                          and (task_relation.from_company_id = #{currentCompanyId})
                      </when>
                      <when test="isPay == '1'.toString()">
                          and (task_relation.to_company_id = #{currentCompanyId})
                      </when>
                      <otherwise>
                          and ((task_relation.from_company_id = #{currentCompanyId}) or
                              (task_relation.to_company_id = #{currentCompanyId}))
                      </otherwise>
                  </choose>
              </if>
            )
        where company_list.status = '0'
    </select>
</mapper>