.m-update-tips{
    padding: 20px 20px;
}

.m-update-tips .m-update-title{
    padding: 10px 20px 20px 20px;
}

.m-update-tips .m-update-title p{
    font-size: 22px;line-height: 22px;
}


.m-update-tips .m-update-left{
    padding: 15px 20px;width: 280px;float: left;
}

.m-update-tips .m-update-right{
    padding: 15px 20px;width: 550px;float: left;
}