<div class="m">
<table class="table table-bordered ">
    <thead>
    <tr>
        <th width="15%">交付名称</th>
        <th width="15%">说明</th>
        <th width="16%">时间</th>
        <th width="14%">负责人</th>
        <th width="10%">发起人</th>
        <th width="10%">发起时间</th>
        <th width="10%">状态</th>
        <th width="10%">操作</th>
    </tr>
    </thead>
    <tbody>
    {{if listDeliver!=null && listDeliver.length>0}}
    {{each listDeliver as d i}}
    <tr data-id="{{d.id}}" data-i="{{i}}">
        <td>
            <a href="javascript:void(0)" class="editable editable-disabled" data-action="xeditable" data-action-type="text" data-field="taskName">
                {{d.name}}
            </a>
        </td>
        <td>
            <a href="javascript:void(0)" class="editable editable-disabled" data-action="xeditable" data-action-type="textarea" data-field="remarks">
                {{d.description}}
            </a>
        </td>
        <td>
            <a href="javascript:void(0)" class="editable editable-click editable-disabled" data-action="xeditable" data-action-type="time" data-value="{{d.endTime}}">
                {{_momentFormat(d.endTime,'YYYY/MM/DD')}}
            </a>
        </td>
        <td>
            {{if d.responseList!=null && d.responseList.length>0}}
            <a href="javascript:void(0)" class="editable editable-click editable-disabled" data-action="xeditable" data-action-type="selectUser">
                {{each d.responseList as r ri}}
                    {{if ri==d.responseList.length-1}}
                        <span data-id="{{r.id}}">{{r.name}}</span>
                    {{else}}
                        <span data-id="{{r.id}}">{{r.name}}</span>,
                    {{/if}}
                {{/each}}
            </a>
            {{/if}}
        </td>
        <td>
            {{d.createByName}}
        </td>
        <td>
            {{d.createDate}}
        </td>
        <td>
            <a href="javascript:void(0)" class="editable editable-disabled" data-action="xeditable" data-action-type="select">
                {{if d.isFinished==0}}
                    未完成
                {{else}}
                    已完成
                {{/if}}
            </a>
        </td>
        <td>
            <a href="javascript:void(0);" data-action="view" data-id="" ><i class="icon iconfont icon-chakan"></i></a>
            <a href="javascript:void(0);" data-action="edit" data-id="" ><i class="icon iconfont icon-bianji"></i></a>
            <a href="javascript:void(0);" data-action="delete" data-id="" ><i class="icon iconfont icon-lajitong text-danger"></i></a>
        </td>
    </tr>
    {{/each}}
    {{else}}
        <tr>
           <td class="text-center" colspan="8">
               暂无数据
           </td>
        </tr>
    {{/if}}
    </tbody>
</table>
</div>