{{if contentTaskList!=null && contentTaskList.length>0}}
{{each contentTaskList as t i}}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6"><h5>计划进度：{{_momentFormat(t.planStartTime,'YYYY/MM/DD')}} - {{_momentFormat(t.planEndTime,'YYYY/MM/DD')}}</h5></div>
            <div class="col-md-6 text-right">
                {{if t.taskState==2 || t.taskState==4}}
                <span class="text-danger">{{t.statusText}}</span>
                {{else}}
                <span class="text-warning">{{t.statusText}}</span>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h5>任务描述：</h5></div>
            <div class="col-md-8">
                <P>
                    {{if t.taskRemark==null || t.taskRemark==''}}
                    <span class="fc-v1-grey">--</span>
                    {{else}}
                    {{t.taskRemark}}
                    {{/if}}
                </P>
            </div>
            <div class="col-md-4 text-right">
                签发人：{{t.issueUserName}} &nbsp;&nbsp;
                签发时间：{{_momentFormat(t.issueTime,'YYYY/MM/DD')}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <a class="btn btn-info btn-sm" data-action="deliveryHistory" data-task-id="{{t.id}}">交付历史</a>
                <a class="btn btn-default btn-sm" data-action="initiateDelivery" data-task-id="{{t.id}}">发起交付</a>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{/if}}