.m_production_list table thead th,
.m_production_list table tbody td {
    white-space: nowrap;
    word-break: keep-all;
}
.m_production_list .edit-span-box{
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}
.m_production_list .edit-span-box.wh-16{
    width: 16px;
    height: 16px;
}
.task-list-box .table-striped>tbody>tr.completeDate-tr td span,
.task-list-box .table-striped>tbody>tr.completeDate-tr .person-in-charge{
    color: #ACB3C2;
}
.task-list-box .icon-iconfontttpodicon2:before{
    content:normal;
}
.editableform select.form-control.input-sm{
    padding: 4px 12px;
}
