<form class="m_production_list task-list-box" style="overflow-x: auto;overflow-y:hidden; min-height: 280px;">
    <table class="tree tree-box table table-bordered  table-striped" style="min-width: 1500px;margin-bottom: 140px;">
        <thead>
        <tr>
            <th width="4%" class="b-r-none"></th>
            <th width="18%" class="b-r-none b-l-none" style="padding-left: 38px;min-width: 400px;">设计任务</th>
            <th width="5%" class="b-r-none">任务描述</th>
            <th width="6%" class="b-r-none">任务负责人</th>
            <th width="9%" class="b-r-none">设计人员</th>
            <th width="8%" class="b-r-none">校对人员</th>
            <th width="8%" class="b-r-none">审核人员</th>
            <th width="14%" class="b-r-none" >计划进度</th>
            <th width="6%" class="b-r-none" >进度提示</th>
            <th width="7%" class="b-r-none" >完成时间</th>
            <th width="5%" class="b-r-none" >完成情况</th>
            <th width="5%" class="b-r-none">任务状态</th>
            <th width="5%" class="">优先级</th>
        </tr>
        </thead>
        {{each productionList as t ti}}
        <tr class="tree-box-tr treegrid-{{t.id}} {{if t.taskPid!=null && t.taskPid!=''}} treegrid-parent-{{t.taskPid}} {{/if}} {{t.completeDate==null?'':'completeDate-tr'}} "
            data-i="{{ti}}" data-id="{{t.id}}" data-pid="{{t.taskPid}}" data-company-id="{{t.companyId}}" data-publish-id="{{t.publishId}}">

            <td class="b-r-none v-middle">
                <div class="list-action-box">
                    <div class="btn-group singleOperation" style="display: none;">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="ic-operation"></span>
                        </button>
                        <ul class="dropdown-menu">

                            {{if t.roleFlag!=null && t.roleFlag.flag1!=null && !(t.taskState=='3'||t.taskState=='4') && t.gradeStatus !=1  && t.isOperaterTask==0}}
                                <li><a href="javascript:void(0);" data-action="addSubTask">添加子任务</a></li>
                            {{/if}}

                            {{if t.roleFlag!=null && t.roleFlag.flag7!=null}}
                                <li><a href="javascript:void(0);" data-action="addSubTaskByDesigner">分解设计任务</a></li>
                            {{/if}}

                            <!-- 任务负责人确认任务 -->
                            {{if t.isOperaterTask==0 && t.completeDate ==null && t.personInChargeId == currentCompanyUserId}}
                                <li><a href="javascript:void(0);" data-action="completeTask" data-status="1" data-original-title="请点击确定完成任务">任务确认完成</a></li>
                            {{/if}}

                            <!-- 任务负责人激活任务 -->
                            {{if t.isOperaterTask==0 && t.completeDate !=null && t.personInChargeId == currentCompanyUserId}}
                                <li><a href="javascript:void(0);" data-action="completeTask" data-status="0" data-original-title="请点击确定激活任务">激活任务</a></li>
                            {{/if}}

                            <!-- 上个任务，是否跟当前是同级 是＝可向上移动 -->
                            {{if !t.first}}
                                <li><a href="javascript:void(0);"  data-action="moveUp">向上移动</a></li>
                            {{/if}}
                            <!-- 下个任务，是否跟当前是同级 是＝可向下移动 -->
                            {{if !t.last}}
                                <li><a href="javascript:void(0);" data-action="moveDown">向下移动</a></li>
                            {{/if}}
                            {{if t.roleFlag!=null && t.roleFlag.flag6!=null}}
                                <li><a href="javascript:void(0);" data-action="delTask" data-canbedelete="">删除</a></li>
                            {{/if}}

                        </ul>
                    </div>
                </div>
            </td>
            <td class="treeTd pt-relative popover-box no-pd-right b-r-none b-l-none v-middle"
                height="40" data-task-state="{{t.taskState=='3'||t.taskState=='4'?'1':'0'}}">

                {{if t.roleFlag!=null && t.roleFlag.flag5!=null }}
                    <span class="show-span taskName pt-relative" data-string="{{t.taskName}}" >
                        {{t.taskName}}
                    </span>
                    <span class="edit-span-box">
                        <a class="tree-td-a" href="javascript:void(0);" data-action="taskNameEdit" data-deal-type="edit" style="display: none;">
                            <i class="ic-edit"></i>
                        </a>
                    </span>
                {{else}}
                    <span class="taskName pt-relative" data-string="{{t.taskName}}">
                        {{t.taskName}}
                    </span>
                {{/if}}
            </td>
            <td class="b-r-none v-middle">

                {{if t.taskRemark==null || t.taskRemark==''}}
                    {{if t.roleFlag!=null && t.roleFlag.flag5!=null }}
                        <span class="fc-v1-grey show-span">未设置</span>
                    {{else}}
                        <span class="fc-v1-grey">--</span>
                    {{/if}}
                {{else}}
                    <span class="edit-span-box wh-16" >
                        <a data-action="viewTaskRemarkEdit" id="viewTaskRemarkEdit{{ti}}"> <i class="ic-describe"></i></a>
                    </span>
                {{/if}}

                {{if t.roleFlag!=null && t.roleFlag.flag5!=null }}
                    <span class="edit-span-box wh-16">
                        <a href="javascript:void(0);"  data-action="taskRemarkEdit" id="taskRemarkEdit{{ti}}" data-deal-type="edit" style="display: none;">
                            <i class="ic-edit"></i>
                        </a>
                    </span>
                {{/if}}

            </td>
            <td class="no-pd v-middle b-r-none">
                <p class="m-b-none">
                    {{if t.roleFlag!=null && t.roleFlag.flag2!=null}}
                        <span class="show-span person-in-charge {{t.personInChargeId == currentCompanyUserId?'text-navy':''}}" data-id="{{t.personInChargeId}}" data-task-id="{{t.id}}" data-user-name="{{t.personInCharge}}"
                          data-toggle="tooltip" data-original-title="{{t.designOrg}}{{t.departName==null?'':'('+t.departName+')'}}">
                            {{t.personInCharge==null?'未设置':t.personInCharge}}
                        </span>
                        <span class="edit-span-box wh-16">
                            <a href="javascript:void(0);" data-action="setPersonInCharge" data-deal-type="edit" data-id="{{t.personInChargeId}}"
                               data-task-id="{{t.id}}" data-user-name="{{t.personInCharge}}" style="display: none;">
                                <i class="ic-edit"></i>
                            </a>
                        </span>
                    {{else}}
                        <span class="person-in-charge" data-toggle="tooltip" data-original-title="{{t.designOrg}}{{t.departName==null?'':'('+t.departName+')'}}">
                            <!--{{if t.completeDate!=null}}
                                <i class="fa fa-check fc-v1-green"></i>
                            {{/if}}-->
                            <span class="{{t.personInChargeId == currentCompanyUserId?'text-navy':''}}">{{t.personInCharge}}</span>
                        </span>
                    {{/if}}
                </p>
            </td>
            <td class="b-r-none v-middle">
                <span class="show-span">
                    {{if t.designUser && t.designUser.userList!=null && t.designUser.userList.length>0 }}
                        <span class="{{t.projectDesignUser.companyUserId == currentCompanyUserId?'text-navy':''}}">{{t.projectDesignUser.userName}}</span>
                        {{each t.designUser.userList as u}}
                            {{if u.id!=t.projectDesignUser.id}}
                                ,
                                <!--{{if u.completeTime!=null}}
                                    <span><i class="fa fa-check fc-v1-green"></i></span>
                                {{/if}}-->
                                    <span>{{u.userName}}</span>
                            {{/if}}
                        {{/each}}
                    {{else}}
                        {{if t.roleFlag!=null && t.roleFlag.flag3!=null && !(t.taskState=='3'||t.taskState=='4') && t.saveExtent!=1 }}
                            <span class="fc-v1-grey">未设置</span>
                        {{else}}
                            <span class="fc-v1-grey">--</span>
                        {{/if}}
                    {{/if}}
                </span>
                <span class="edit-span-box wh-16">
                {{if t.roleFlag!=null && t.roleFlag.flag3!=null && !(t.taskState=='3'||t.taskState=='4') && t.saveExtent!=1 }}
                    <a href="javascript:void(0);" data-action="setTaskDesigner" data-deal-type="edit" style="display: none;">
                        <i class="ic-edit"></i>
                    </a>
                {{/if}}
                </span>
            </td>
            <td class="b-r-none v-middle">
                <span class="show-span">
                    {{if t.checkUser && t.checkUser.userList!=null && t.checkUser.userList.length>0}}
                        <span class="{{t.projectCheckUser.companyUserId == currentCompanyUserId?'text-navy':''}}">{{t.projectCheckUser.userName}}</span>
                        {{each t.checkUser.userList as u}}
                            {{if u.id!=t.projectCheckUser.id}}
                                ,
                                <!--{{if u.completeTime!=null}}
                                    <span><i class="fa fa-check fc-v1-green"></i></span>
                                {{/if}}-->
                                    <span>{{u.userName}}</span>
                            {{/if}}
                        {{/each}}
                    {{else}}
                        {{if t.roleFlag!=null && t.roleFlag.flag3!=null && !(t.taskState=='3'||t.taskState=='4') && t.saveExtent!=1 }}
                            <span class="fc-v1-grey">未设置</span>
                        {{else}}
                            <span class="fc-v1-grey">--</span>
                        {{/if}}
                    {{/if}}
                </span>
                <span class="edit-span-box wh-16">
                {{if t.roleFlag!=null && t.roleFlag.flag3!=null && !(t.taskState=='3'||t.taskState=='4') && t.saveExtent!=1}}
                <a href="javascript:void(0);" data-action="setTaskCheckUser" data-deal-type="edit" style="display: none;">
                    <i class="ic-edit"></i>
                </a>
                {{/if}}
                </span>
            </td>
            <td class="b-r-none v-middle">
                <span class="show-span">
                    {{if t.examineUser && t.examineUser.userList!=null && t.examineUser.userList.length>0}}
                        <span class="{{t.projectExamineUser.companyUserId == currentCompanyUserId?'text-navy':''}}">{{t.projectExamineUser.userName}}</span>
                        {{each t.examineUser.userList as u}}
                            {{if u.id!=t.projectExamineUser.id}}
                                ,
                                <!--{{if u.completeTime!=null}}
                                    <span><i class="fa fa-check fc-v1-green"></i></span>
                                {{/if}}-->
                                    <span>{{u.userName}}</span>
                            {{/if}}
                        {{/each}}
                    {{else}}
                        {{if t.roleFlag!=null && t.roleFlag.flag3!=null && !(t.taskState=='3'||t.taskState=='4') && t.saveExtent!=1 }}
                            <span class="fc-v1-grey">未设置</span>
                        {{else}}
                            <span class="fc-v1-grey">--</span>
                        {{/if}}
                    {{/if}}
                </span>
                <span class="edit-span-box wh-16">
                {{if t.roleFlag!=null && t.roleFlag.flag3!=null && !(t.taskState=='3'||t.taskState=='4') && t.saveExtent!=1}}
                <a href="javascript:void(0);" data-action="setTaskExamineUser" data-deal-type="edit" style="display: none;">
                    <i class="ic-edit"></i>
                </a>
                {{/if}}
                </span>
            </td>
            <td class="b-r-none v-middle">

                <span class="show-span" data-type="planTime" data-start-time="{{t.planStartTime}}" data-end-time="{{t.planEndTime}}">
                    {{if (t.planStartTime==null || t.planStartTime=='') && (t.planEndTime==null || t.planEndTime=='')  && (t.roleFlag!=null && t.roleFlag.flag5!=null)}}
                        <span class="fc-v1-grey">未设置</span>
                    {{else}}

                        {{if _isNullOrBlank(t.planStartTime) && _isNullOrBlank(t.planEndTime)}}
                            --
                        {{else if !_isNullOrBlank(t.planStartTime) && !_isNullOrBlank(t.planEndTime)}}
                            {{_momentFormat(t.planStartTime,'YYYY/MM/DD')}} - {{_momentFormat(t.planEndTime,'YYYY/MM/DD')}} | 共 {{_timeDifference(t.planStartTime,t.planEndTime)}} 天
                        {{else}}
                            {{_momentFormat(t.planStartTime,'YYYY/MM/DD')}} - {{_momentFormat(t.planEndTime,'YYYY/MM/DD')}}
                        {{/if}}
                        {{if (t.changeTime==true)}}
                            <a href="javascript:void(0);" data-action="viewProgressChange" id="viewProgressChange1{{t.id}}"><i class="fa fa-info-circle"></i></a>
                        {{/if}}
                    {{/if}}
                </span>
                <span class="edit-span-box wh-16">
                {{if t.roleFlag!=null && t.roleFlag.flag4!=null}}
                    <a href="javascript:void(0);" data-action="planningSchedule" data-deal-type="edit" style="display: none;">
                        <i class="ic-edit"></i>
                    </a>
                {{/if}}
                </span>
            </td>
            <td class="b-r-none v-middle">
                {{if t.taskState==2 || t.taskState==4}}
                    <span class="text-danger">{{t.statusText}}</span>
                {{else}}
                    <span class="text-warning">{{t.statusText}}</span>
                {{/if}}
            </td>
            <td class="b-r-none v-middle">
                <span>
                    {{if t.completeDate!=null &&  t.completeDate!=''}}
                        {{_momentFormat(t.completeDate,'YYYY/MM/DD')}}
                    {{else}}
                        --
                    {{/if}}
                </span>
            </td>
            <td class="b-r-none v-middle">
                <span>
                    {{if t.completeDate!=null &&  t.completeDate!='' && t.completion!=null && t.completion!=''}}
                        <span class="edit-span-box wh-16" >
                            <a data-action="viewTaskCompletion" id="viewTaskCompletion{{ti}}"> <i class="ic-describe"></i></a>
                        </span>
                    {{else}}
                        --
                    {{/if}}
                </span>
            </td>
            <td class="b-r-none v-middle ">
                <span>
                {{if t.stateHtml!=null && t.stateHtml!=''}}
                {{t.stateHtml}}
                {{/if}}
                </span>
            </td>
            <td class="v-middle ">
                {{if t.roleFlag!=null && t.roleFlag.flag5!=null }}
                <span class="show-span pt-relative">
                    {{if t.priority==5}}
                    紧急
                    {{else if t.priority==4}}
                    高
                    {{else if t.priority==3}}
                    中
                    {{else if t.priority==2}}
                    低
                    {{else if t.priority==1}}
                    无关紧要
                    {{else}}
                    {{/if}}
                </span>
                <span class="edit-span-box">
                    <a class="tree-td-a" href="javascript:void(0);" data-action="priorityEdit" data-deal-type="edit" data-priority="{{t.priority}}" style="display: none;">
                        <i class="ic-edit"></i>
                    </a>
                </span>
                {{else}}
                <span class="pt-relative">
                    {{if t.priority==5}}
                    紧急
                    {{else if t.priority==4}}
                    高
                    {{else if t.priority==3}}
                    中
                    {{else if t.priority==2}}
                    低
                    {{else if t.priority==1}}
                    无关紧要
                    {{else}}
                    {{/if}}
                </span>
                {{/if}}
            </td>
        </tr>
        {{/each}}
        {{if !(productionList && productionList.length>0)}}
        <tr class="no-data">
            <td colspan="13" class="text-center v-middle">
                <div class="m-b-xl m-t-md">
                    <img src="{{_url('/assets/img/default/without_data.png')}}">
                    <span class="fc-dark-blue dp-block">您还没有相关生产安排</span>
                </div>
            </td>
        </tr>
        {{/if}}
    </table>
</form>