<div class="tip-box">
    <div class="text-left">
    未提交：
    <span class="un-submitted">
        {{each unSubmittedUserList as u i}}
            <span class="span-name">{{u.userName}}</span>
            {{if i < unSubmittedUserList.length-1}}
            <span class="span-comma">,</span>
            {{/if}}
        {{/each}}
    </span>
    </div>
    <div class="text-left">
    已提交：
    <span class="submitted">
        {{each submittedUserList as u i}}
            <span class="span-name">{{u.userName}}</span>
            {{if i < submittedUserList.length-1}}
            <span class="span-comma">,</span>
            {{/if}}
        {{/each}}
    </span>
    </div>
</div>