<form class="m_production_list">
    <table class="tree table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th width="23%" class="b-r-none " style="padding-left: 45px;">设计任务</th>
            <th width="12%" class="b-r-none b-l-none">任务描述</th>
            <th width="9%" class="b-r-none b-l-none">任务负责人</th>
            <th width="9%" class="b-r-none b-l-none">设计</th>
            <th width="9%" class="b-r-none b-l-none">校对</th>
            <th width="9%" class="b-r-none b-l-none">审核</th>
            <th width="9%" class="b-r-none b-l-none">开始时间</th>
            <th width="9%" class="b-r-none b-l-none">结束时间</th>
            <th width="8%" class="b-l-none">任务状态</th>
        </tr>
        </thead>
        {{each productionList as t ti}}
        <tr class="tree-box-tr treegrid-{{t.id}} {{if t.taskPid!=null && t.taskPid!=''}} treegrid-parent-{{t.taskPid}} {{/if}}"
            data-i="{{ti}}" data-id="{{t.id}}" data-pid="{{t.taskPid}}" data-company-id="{{t.companyId}}" data-publish-id="{{t.publishId}}">

            <td class="treeTd pt-relative popover-box no-pd-right b-r-none b-l-none"
                height="40" data-task-state="{{t.taskState=='3'||t.taskState=='4'?'1':'0'}}">

                {{if t.taskState=='3'||t.taskState=='4'}}
                    <i class="fa fa-check fc-v1-green"></i>
                {{/if}}
                <span class="taskName pt-relative m-w-300" data-string="{{t.taskName}}">
                    {{t.taskName}}
                </span>
            </td>
            <td class="b-r-none b-l-none v-middle">
                <span class="taskRemark pt-relative m-w-300" data-string="{{t.taskRemark}}">
                    {{t.taskRemark==null || t.taskRemark==''?'--':t.taskRemark}}
                </span>
            </td>
            <td class="no-pd v-middle b-r-none b-l-none">
                <p class="m-xxs">
                    <span>{{t.companyName}} :</span>
                    <span class="person-in-charge" data-toggle="tooltip" data-original-title="{{t.designOrg}}{{t.departName==null?'':'('+t.departName+')'}}">
                        {{if t.completeDate!=null}}
                            <i class="fa fa-check fc-v1-green"></i>
                        {{/if}}
                        {{t.personInChargeName}}
                    </span>
                </p>
            </td>
            <td class="b-r-none b-l-none v-middle">

                <span class="show-span">
                    {{if t.designUser && t.designUser.userList!=null && t.designUser.userList.length>0}}
                        {{t.designUserName}}
                        <span class="fa fa-bookmark-o" tooltip-type="1"  ata-toggle="tooltip" data-original-title=""></span>
                    {{else}}
                        <span class="fc-ccc">--</span>
                    {{/if}}
                </span>
            </td>
            <td class="b-r-none b-l-none v-middle">
                <span class="show-span">
                    {{if t.checkUser && t.checkUser.userList!=null && t.checkUser.userList.length>0}}
                        {{t.checkUserName}}
                        <span class="fa fa-bookmark-o" tooltip-type="2"  ata-toggle="tooltip" data-original-title=""></span>
                    {{else}}
                        <span class="fc-ccc">--</span>
                    {{/if}}
                </span>
            </td>
            <td class="b-r-none b-l-none v-middle">
                <span class="show-span">
                    {{if t.examineUser && t.examineUser.userList!=null && t.examineUser.userList.length>0}}
                        {{t.examineUserName}}
                        <span class="fa fa-bookmark-o" tooltip-type="3"  ata-toggle="tooltip" data-original-title=""></span>
                    {{else}}
                        <span class="fc-ccc">--</span>
                    {{/if}}
                </span>
            </td>
            <td class="b-r-none b-l-none v-middle">
                <span class="show-span">
                    {{if t.planStartTime==null || t.planStartTime==''}}
                        <span class="fc-ccc">--</span>
                    {{else}}
                        {{t.planStartTime}}
                        <a href="javascript:void(0);" data-action="viewProgressChange" id="viewProgressChanges1{{t.id}}"><i class="fa fa-info-circle"></i></a>
                    {{/if}}
                </span>
            </td>
            <td class="b-r-none b-l-none v-middle">
                <span class="show-span">
                    {{if t.planEndTime==null || t.planEndTime==''}}
                        <span class="fc-ccc">--</span>
                    {{else}}
                        {{t.planEndTime}}
                        <a href="javascript:void(0);" data-action="viewProgressChange" id="viewProgressChanges2{{t.id}}"><i class="fa fa-info-circle"></i></a>
                    {{/if}}
                </span>
            </td>
            <td class="v-middle b-l-none v-middle">
                {{if t.stateHtml!=null && t.stateHtml!=''}}
                {{t.stateHtml}}
                {{/if}}
            </td>
        </tr>
        {{/each}}
        {{if !(productionList && productionList.length>0)}}
        <tr>
            <td colspan="9" class="text-center v-middle">
                <div class="m-b-xl m-t-md">
                    <img src="{{_url('/assets/img/default/without_data.png')}}">
                    <span class="fc-dark-blue dp-block">您还没有相关生产安排</span>
                </div>
            </td>
        </tr>
        {{/if}}
    </table>
</form>