<tr class="row-edit edit-box">
    <td class="b-r-none b-m-none"></td>
    <td class="td-class1" colspan="2">
        <input placeholder="设计任务" class="form-control" type="text" name="taskName" style="width: 80%;display: inline-block;">
        <span><span class="wordCount">0</span>/<span>50</span></span>
    </td>
    <!--<td class="b-r-none b-l-none v-middle">
        {{if taskType==null || taskType!='5'}}
        <input placeholder="任务描述" class="form-control" type="text" name="taskRemark" >
        {{/if}}
    </td>-->
    <td class="td-class1">
        <span class="show-span">
            <span class="fc-ccc">{{personInCharge}}</span>
        </span>
        {{if taskType==null || taskType!='5'}}
        <a href="javascript:void(0);" data-action="setTaskLeader" data-user-name="{{personInCharge}}" data-id="{{personInChargeId}}">
            <i class="fa fa-pencil-square-o"></i>
        </a>
        {{/if}}
    </td>
    <td class="td-class1">
        <span class="show-span" data-toggle="tooltip" data-original-title="">
            <span class="fc-ccc">--</span>
        </span>
        <!--<a href="javascript:void(0);" data-action="setTaskDesigner" >-->
        <!--<i class="fa fa-pencil-square-o"></i>-->
        <!--</a>-->
    </td>
    <td class="td-class1">
        <span class="show-span" data-toggle="tooltip" data-original-title="">
            <span class="fc-ccc">--</span>
        </span>
        <!--<a href="javascript:void(0);" data-action="setTaskCheckUser" >-->
        <!--<i class="fa fa-pencil-square-o"></i>-->
        <!--</a>-->
    </td>
    <td class="td-class1">
        <span class="show-span" data-toggle="tooltip" data-original-title="">
            <span class="fc-ccc">--</span>
        </span>
        <!--<a href="javascript:void(0);" data-action="setTaskExamineUser" >-->
        <!--<i class="fa fa-pencil-square-o"></i>-->
        <!--</a>-->
    </td>
    <td class="td-class1" colspan="5">
        <div class="input-group dp-inline-block">
            <input type="text" class="form-control timeInput input-sm " id="ipt_startTime" name="startTime" data-appointmentStartTime=""
                   placeholder="开始日期" readonly onFocus="startTimeFun(this,m_inputProcessTime_onpicked)" value="" style="width: 110px;">
            <span class="input-group-addon no-padding">
                <i class="icon-sm icon-append fa fa-calendar"></i>
            </span>
        </div>
        <div class="input-group dp-inline-block">
            <input type="text" class="form-control timeInput input-sm" id="ipt_endTime" name="endTime" data-appointmentEndTime=""
                   placeholder="结束日期" readonly onFocus="endTimeFun(this,m_inputProcessTime_onpicked)" value="" style="width: 110px;">
            <span class="input-group-addon no-padding">
                <i class="icon-sm icon-append fa fa-calendar" ></i>
            </span>
        </div>
    </td>

    <td class="b-l-none b-m-none">
        <button class="btn btn-primary btn-sm" data-action="submit">创建</button>
        <button class="btn btn-default btn-sm" data-action="cancel">取消</button>
    </td>
</tr>
{{if taskType==null || taskType!='5'}}
<tr class="row-edit edit-box">
    <td class="b-r-none b-t-none"></td>
    <td class="b-r-none b-l-none b-t-none v-middle" colspan="11">
        <input placeholder="任务描述" class="form-control" type="text" name="taskRemark" >
    </td>
    <td class="b-l-none b-t-none"></td>
</tr>
{{/if}}