<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ProjectCostPointEntityMapper" >
  <resultMap id="BaseResultMap" type="com.maoding.projectcost.entity.ProjectCostPointEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="cost_id" property="costId" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="fee_description" property="feeDescription" jdbcType="VARCHAR" />
    <result column="fee_proportion" property="feeProportion" jdbcType="VARCHAR" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, project_id,task_id, status,fee_description, fee_proportion, fee, type, cost_id,flag,create_date,
    create_by, update_date, update_by,seq,pid
  </sql>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from maoding_web_project_cost_point
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getCostPointByTaskId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from maoding_web_project_cost_point
    where task_id = #{taskId,jdbcType=VARCHAR} and status='0'
  </select>

  <select id="getCostPointByTaskIdForTechincal" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from maoding_web_project_cost_point
    where task_id = #{id,jdbcType=VARCHAR} and status='0' and type='2'
  </select>

  <select id="selectByType" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from maoding_web_project_cost_point
    where status='0'
    and project_id = #{projectId,jdbcType=VARCHAR}
    and type = #{type,jdbcType=VARCHAR}
  </select>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from maoding_web_project_cost_point
    where id = #{id,jdbcType=VARCHAR}
  </delete>


  <insert id="insert" parameterType="com.maoding.projectcost.entity.ProjectCostPointEntity" >
    insert into maoding_web_project_cost_point (
    id, project_id, status,fee_description, fee_proportion, fee, type,seq,pid,task_id,cost_id,flag,
    create_date,create_by, update_date, update_by
    )
    values (#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, '0',
    #{feeDescription,jdbcType=VARCHAR},#{feeProportion,jdbcType=VARCHAR},#{fee,jdbcType=DECIMAL},
    #{type,jdbcType=VARCHAR},#{seq,jdbcType=INTEGER},#{pid,jdbcType=VARCHAR},#{taskId,jdbcType=VARCHAR},
    #{costId,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR},
    now(), #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
    )
  </insert>

  <update id="updateById" parameterType="com.maoding.projectcost.entity.ProjectCostPointEntity" >
    update maoding_web_project_cost_point
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="costId != null" >
        cost_id = #{costId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="feeDescription != null" >
        fee_description = #{feeDescription,jdbcType=VARCHAR},
      </if>
      <if test="feeProportion != null" >
        fee_proportion = #{feeProportion,jdbcType=VARCHAR},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      update_date = now(),
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPid" parameterType="java.lang.String" >
    update maoding_web_project_cost_point
     set   status = '1',  update_date = now()
    where pid = #{pid,jdbcType=VARCHAR}
  </update>

  <select id="getTotalFee" parameterType="java.util.Map" resultType="java.lang.Double" >
    SELECT IFNULL(sum(fee),0)
    from maoding_web_project_cost_point
    where status = '0' and project_id = #{projectId,jdbcType=VARCHAR}
    <if test="type != null" >
     AND  type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="costId != null" >
      AND cost_id = #{costId,jdbcType=VARCHAR}
    </if>
    <if test="pid != null" >
      AND  pid = #{pid,jdbcType=VARCHAR}
    </if>
    <if test="pidIsNull != null" >
      AND  (pid is null or pid='')
    </if>
  </select>

</mapper>