/*文档管理器*/
.docmgr{
    border: dashed 1px #eee;
}

.docmgr .uploadItem .progress-bar-u {
    background: #72c02c !important;
}

.docmgr .breadcrumb>li:nth-child(2):before{
    padding: 0 5px;
    color: #ccc;
    content: "";
}

.docmgr .panel-heading a[disabled="disabled"] {
    color: #999;
    cursor: not-allowed;
}

.docmgr .panel-body{
    padding: 0 15px 15px 15px;
}
.file-list .file-icon {
    cursor: default;
    float:left;
    height: 26px;
    width: 26px;
}
.file-icon-dir-small{
    background-image: url(../img/docmgr/docmgr.png);
    background-repeat: no-repeat;
    background-position: -594px -416px;
}
.file-icon-file-small{
    background-image: url(../img/docmgr/docmgr.png);
    background-repeat: no-repeat;
    background-position: -596px -120px;
}
.table-hover>tbody>tr.file-list-row {
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.file-list .file-list-row td{
    line-height: 26px;
    border-top: 1px solid #eee;
}
.file-list .file-list-row .file-operate{
    width: 120px;
}
.file-operate .file-operate-list{
    display: none;
    height: 26px;
}
.file-list .file-list-row .file-size{
    width: 120px;
}

.file-list .file-list-row .file-user{
    width: 120px;
}

.file-list .file-list-row .file-date{
    width: 120px;
}

.file-list .file-list-row .file-not-found{
    text-align: center;
}

.file-list-row .file-name{
    padding: 0;
    overflow: hidden;
}

.file-name .text {
    padding:0 0 0 5px;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.file-name .text a {
    color:#555;
    text-decoration: none;
    cursor: pointer;
}

.file-name .text a:hover {
    color: #06c;
    text-decoration: none;
}
.list-action-box{
    display: inline-block;
    width: 20px;
}
.list-action-box button.dropdown-toggle{
    line-height: 14px;
    padding: 2px 5px;
}
.list-action-box .btn-group .dropdown-menu>li{
    padding: 0;
    border: 0;
}
.list-action-box .btn-group .dropdown-menu>li>a{
    padding: 2px 13px;
    margin: 0;
}
.docmgr .file-list .file-list-items .fa-steam-square{
    height: 26px;
    width: 26px;
    float: left;
    font-size: 26px;
}
.m_projectArchiving .keyword-search{
    width: 289px;display: block;margin-top: 10px;float: right;
}
.m_projectArchiving .keyword-search input{
    width: 250px;height: 30px;
}
.m_projectArchiving .keyword-search button{
    padding: 4px 12px;
}
.m_projectArchiving .select-search-box .select-search-by{
    width: 100%;
}
.m_projectArchiving .select-search-box .select2-selection{
    height: 34px;
    border-radius: 0;
    border: 1px solid #e5e6e7;
}
.m_projectArchiving .select-search-box .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 32px;
}
.m_projectArchiving .select-search-box .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 30px;
}