{{if (fileItems===void 0 || fileItems===null || fileItems.length===0) }}
<tr class="file-list-row no-data">
    <td colspan="5" class="file-not-found text-center">
        <div>
            <img src="{{rootPath}}/assets/img/default/without_file.png">
        </div>
        <span class="fc-dark-blue">当前目录不存在任何文件</span>
    </td>
</tr>
{{else}}
{{each fileItems as item index}}
<tr class="file-list-row">
    <td style="max-width: 200px;">
        <a id={{item.id}} data-pid="{{item.pid}}" data-fileType="{{item.type}}"
           data-download="{{item.fileGroup}}/{{item.filePath}}" data-fileName="{{item.fileName}}"
           href="javascript:void(0);" title="{{item.fileName}}">
            <div class="file-icon {{item.type===0?'file-icon-dir-small':'file-icon-file-small'}}"></div>
            <div class="file-name">
                <div class="text">{{item.fileName}}</div>
            </div>
        </a>
    </td>
    <td class="file-operate">
        <div class="file-operate-list">
            {{if item.type===1}}
            <a class="file-operate-download f-s-16" href="javascript:void(0);"  title="下载"><i
                    class="glyphicon glyphicon-save text-warning"></i></a>
            {{/if}}
            {{if item.isCustomize!==1&&item.editFlag===1}}
            <a class="file-operate-rename f-s-16" href="javascript:void(0);"  title="重命名"><i
                    class="glyphicon glyphicon-edit text-success" ></i></a>
            <a class="file-operate-delete f-s-16" href="javascript:void(0);"><i
                    class="glyphicon glyphicon-trash color-red" ></i></a>
            {{/if}}
        </div>
    </td>
    <td class="file-size">{{item.fileSize}}
    </td>
    <td class="file-user"><span data-toggle="tooltip" data-placement="top" title="{{item.companyName}}">{{item.createBy}}</span></td>
    <td class="file-date">{{_momentFormat(item.createDate,'YYYY/MM/DD')}}</td>
</tr>
{{/each }}
{{/if}}