<style>
    .table-hover>tbody>tr.no-data:hover {
        background-color: transparent;
    }
</style>
<table class="table table-hover table-bordered table-responsive dataTable" >
    <thead>
    <tr>
        <th width="6%">序号</th>
        <th width="10%">
            编号
            <a class="icon-filter pull-right" id="filterExpNo" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        <!--<th width="9%">
            报销类型
            &lt;!&ndash;<a class="icon-filter pull-right" id="filterExpType" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>&ndash;&gt;
        </th>-->
        <th width="10%">
            申请时间
            <a class="icon-filter pull-right" id="filterExpDate" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        <th width="10%">
            申请人
            <a class="icon-filter pull-right" id="filterApproveUserName" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        <th width="10%">
            所在组织
            <a class="icon-filter pull-right" id="filterTheOrg" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        <th width="15%">用途说明</th>
        <th width="10%" class="text-center"><span>申请金额（元）</span></th>
        <th width="10%">
            审批人
        </th>
        <th width="10%">
            审批时间
            <!--<a class="icon-filter pull-right" id="filterApproveDate" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>-->
        </th>
        <!--<th width="10%">
            拨款情况
            <a class="icon-filter pull-right" id="filterAllocationStatus" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>-->
        <th width="10%" class="sorting_desc" data-action="sort" data-sort-type="allocationDate">
            拨款时间
            <a class="icon-filter pull-right" id="filterAllocationDate" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
    </tr>
    </thead>
    <tbody>
    {{each myDataList as p}}
    <tr class="curp" data-action="openShowExp" i="{{$index}}" versionNum="{{p.versionNum}}">
        <td>{{$index+1+pageIndex*10}}</td>
        <td>{{p.expNo}}</td>
        <!--<td>
            {{if p.type==1}}
            报销申请
            {{else}}
            费用申请
            {{/if}}
        </td>-->
        <td>{{_momentFormat(p.expDate,'YYYY/MM/DD')}}</td>
        <td>{{p.userName}}</td>
        <td>{{p.departName}}</td>
        <td>{{p.expUse}}</td>
        <td class="text-right">
            <span class="td-span-pr">{{_expNumberFilter(p.expSumAmount)}}</span>
        </td>
        <td>{{p.auditPersonName}}</td>
        <td>{{_momentFormat(p.approveDate,'YYYY/MM/DD')}}</td>
        <!--<td>
            {{ if p.approveStatus==1}}
                <a type="button" class="btn-u btn-u-xs rounded" data-action="agreeToGrant" data-id="{{p.id}}">同意拨款</a>
            {{else if p.approveStatus==6}}
                已拨款
            {{/if}}
        </td>-->
        <td>

            {{if p.allocationDate!=null && p.allocationDate!=''}}
                {{_momentFormat(p.allocationDate,'YYYY/MM/DD')}}
            {{else if p.approveStatus==1 && p.role!=null && p.role.financialAllocation==1}}
                <a type="button" class="btn btn-primary btn-xs rounded" data-action="agreeToGrant" data-id="{{p.id}}">同意拨款</a>
            {{else}}
                待拨款
            {{/if}}
            {{if p.role!=null && p.role.financialRecall==1}}
                <a type="button" class="btn btn-default btn-xs rounded" data-action="sendBack" data-id="{{p.id}}">退回</a>
            {{/if}}

        </td>
    </tr>
    {{/each}}
    {{if myDataList==null || myDataList.length==0}}
    <tr class="no-data">
        <td colspan="10" align="center">
            <div class="text-center">
                <img src="{{rootPath}}/assets/img/default/without_exp.png">
            </div>
            <span style="color:#4765a0">暂无汇总内容</span>
        </td>
    </tr>
    {{/if}}
    </tbody>
</table>
{{if myDataList!=null && myDataList.length!=0}}
<div class="row">
    <div class="col-md-6">
        &nbsp;&nbsp;总申请金额：<span style="color:#ff756d;">{{_expNumberFilter(expSumAmount)}}</span>元
        &nbsp;&nbsp;总拨款金额：<span style="color:#ff756d;">{{_expNumberFilter(financialAllocationSumAmount)}}</span>元
    </div>
</div>
{{/if}}