<div class="m_feeEntry_settings" >
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th width="35%">收支分类</th>
                <th width="45%">收支分类细类</th>
                <th width="20%">数据来源</th>
            </tr>
        </thead>
        <tbody>
        {{each feeEntryFieldList as f i}}
            <tr>
                <td rowspan="{{f.childList!=null && f.childList.length>0 ?f.childList.length+1:''}}" class="gray-bg v-middle">

                    <div>
                        <label class="i-checks i-checks-label pull-left">
                            <input name="itemCk" type="checkbox" data-code="{{f.code}}"  data-pid="{{f.pid}}" data-id="{{f.id}}"/>
                            <span class="i-checks-span">{{f.name}}</span>
                        </label>
                    </div>
                </td>
                <td>
                    {{if f.childList!=null && f.childList.length>0}}
                    <div>
                        <label class="i-checks i-checks-label pull-left">
                            {{if f.childList[0].showStatus == 1}}
                                {{if f.childList[0].categoryType == 0}}
                                    <input name="itemCk" type="checkbox" data-code="{{f.childList[0].code}}"  data-pid="{{f.childList[0].pid}}" data-id="{{f.childList[0].id}}" checked disabled/>
                                {{else}}
                                    <input name="itemCk" type="checkbox" data-code="{{f.childList[0].code}}"  data-pid="{{f.childList[0].pid}}" data-id="{{f.childList[0].id}}" checked/>
                                {{/if}}
                            {{else}}
                                {{if f.childList[0].categoryType == 0}}
                                    <input name="itemCk" type="checkbox" data-code="{{f.childList[0].code}}"  data-pid="{{f.childList[0].pid}}" data-id="{{f.childList[0].id}}" disabled/>
                                {{else}}
                                    <input name="itemCk" type="checkbox" data-code="{{f.childList[0].code}}"  data-pid="{{f.childList[0].pid}}" data-id="{{f.childList[0].id}}"/>
                                {{/if}}
                            {{/if}}
                            <span class="i-checks-span">{{f.childList[0].name}}</span>
                        </label>
                    </div>
                    {{else}}
                        <button class="btn btn-link btn-add" data-action="addFeeField" title="添加设计任务" data-id="{{f.id}}"><i class="fa fa-plus"></i></button>
                    {{/if}}
                </td>
                <td>
                    {{if f.childList!=null && f.childList.length>0 && (f.childList[0].categoryType==2 || f.childList[0].categoryType==3)}}
                        人工输入
                    {{/if}}
                </td>
            </tr>
            {{if f.childList!=null && f.childList.length>0}}
                {{each f.childList as c ci}}
                    {{if ci>0}}
                    <tr class="">
                        <td>
                            <div>
                                <label class="i-checks i-checks-label pull-left">
                                    {{if c.showStatus==1}}
                                        {{if c.categoryType==0}}
                                            <input name="itemCk" type="checkbox" data-code="{{c.code}}"  data-pid="{{c.pid}}" data-id="{{c.id}}" checked disabled/>
                                        {{else}}
                                            <input name="itemCk" type="checkbox" data-code="{{c.code}}"  data-pid="{{c.pid}}" data-id="{{c.id}}" checked/>
                                        {{/if}}
                                    {{else}}
                                        {{if c.categoryType==0}}
                                            <input name="itemCk" type="checkbox" data-code="{{c.code}}"  data-pid="{{c.pid}}" data-id="{{c.id}}" disabled/>
                                        {{else}}
                                            <input name="itemCk" type="checkbox" data-code="{{c.code}}"  data-pid="{{c.pid}}" data-id="{{c.id}}"/>
                                        {{/if}}

                                    {{/if}}
                                    <span class="i-checks-span">{{c.name}}</span>
                                </label>
                            </div>
                        </td>
                        <td>
                            {{if c.categoryType==2 || c.categoryType==3}}
                            人工输入
                            {{/if}}
                        </td>
                    </tr>
                    {{/if}}
                {{/each}}
                <tr>
                    <td >
                        <button class="btn btn-link btn-add" data-action="addFeeField" title="添加设计任务" data-id="{{f.id}}"><i class="fa fa-plus"></i></button>
                    </td>
                    <td></td>
                </tr>
            {{/if}}
        {{/each}}
        </tbody>
    </table>

</div>
