
.m_expTypeSelect{
}

.m_expTypeSelect select{
    position: relative;font-weight: normal;
}

.m_expTypeSelect select input[name="collectExpType"]{
    width: 100%;background: none;
}

.m_expTypeSelect .typeNameArea .clearBtn{
    position: absolute;right:22px;z-index:999;top: 16px;
}

.m_expTypeSelect .typeNameArea .firstItem{
    color: #4765a0;
}

.m_expTypeSelect .typeNameArea .firstItem{
    color: #4765a0;
}

.m_expTypeSelect .typeNameArea .thumbnail hr{
    margin: 10px 0;
}




