<div class="text-center  border-bottom date-chose-box">
    <span class="f-s-20 pull-left m-l-md">{{_momentFormat(expFixedData.expDate,'YYYY年MM月')}}</span>
    <span class="pull-right m-r-md">支出：<span class="f-s-20">{{_expNumberFilter(expFixedData.expAmount)}}</span> 元</span>
    <span class="pull-right m-r-md">收入：<span class="f-s-20">{{_expNumberFilter(expFixedData.incomeAmount)}}</span> 元</span>
    <div class="clearfix"></div>
</div>
<div class="p-m">
    <form id="expFixedForm">
    <table class="table table-bordered table-responsive">
        <thead>
        <tr>
            <th colspan="2">类别名称</th>
            <th>金额（元）</th>
        </tr>
        </thead>
        <tbody>
        {{if expFixedData.fixedList!=null && expFixedData.fixedList.length>0}}
            {{each expFixedData.fixedList as p pi}}
                {{if p.detailList!=null && p.detailList.length>0}}
                    {{each p.detailList as s si}}
                    <tr>
                        {{if si==0}}
                        <td rowspan="{{p.detailList.length}}" class="v-middle">{{p.expTypeName}}</td>
                        {{/if}}
                        <td class="v-middle">{{s.expTypeName}}</td>
                        <td class="v-middle">
                            <input class="form-control input-sm" type="text" name="expAmount" maxlength="50" value="{{s.expAmount}}" id="{{s.id}}"
                                   data-exptype="{{s.expType}}" data-parent-name="{{p.expTypeName}}" data-name="{{s.expTypeName}}" data-seq="{{s.seq}}">
                        </td>
                    </tr>
                    {{/each}}
                {{/if}}
            {{/each}}
        {{/if}}
        <!--<tr>
            <td rowspan="3">直接人工成本</td>
            <td>投入在项目上的员工工资</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td>投入在项目上的五险一金</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td>管理人员工资</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td rowspan="3">直接人工成本</td>
            <td>管理行政人员的工资</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td>管理行政人员的五险一金</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td>管理行政人员的奖金</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td rowspan="5">房屋物业费用</td>
            <td>办公场地房租</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td>物管费用</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td>水电费用</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td>网络、电话</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td>办公场地维护费用</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td rowspan="4">资产摊销</td>
            <td>办公室装修摊销</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td>办公室设备摊销</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td>软件摊销</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td>不动产折旧</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td>资产减值准备</td>
            <td>应收账款坏账准备</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td rowspan="2">财务费用</td>
            <td>银行手续费</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td>银行利息收入／支出</td>
            <td>333.00</td>
        </tr>
        <tr>
            <td>所得税费用</td>
            <td>减：所得税费用</td>
            <td>未设置</td>
        </tr>-->
        </tbody>
    </table>
    </form>
    <div class="text-right">
        <a class="btn btn-primary" data-action="saveExpFixed">保存</a>
    </div>
</div>