.m_selectedOrgTree{
    position: absolute;
    background-color: #fff;
    padding: 5px;
    top: 34px;
    left: 2px;
    box-shadow: 1px 1px 6px 0 #9a9a9a;
    border-radius: 5px;
    z-index: 9;
}
