<style>

</style>
<table class="table table-hover table-bordered table-responsive">
    <thead>
    <tr>
        <th width="6%">序号</th>
        <th width="10%">
            申请时间
            <a class="icon-filter pull-right" id="filterApplyDate" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        <th width="10%">
            申请人
            <a class="icon-filter pull-right" id="filterApplyName" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        <th width="10%">
            {{if type==4}}
            出差地点
            {{else}}
            请假类型
            <a class="icon-filter pull-right" id="filterLeaveType" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
            {{/if}}
        </th>
        <th width="18%">
            {{if type==4}}
            出差事由
            {{else}}
            请假事由
            {{/if}}
        </th>
        <th width="13%">开始时间</th>
        <th width="13%">结束时间</th>
        <!--<th width="9%">
            {{if type==4}}
            出差时长（天）
            {{else}}
            请假时长（天）
            {{/if}}
        </th>-->
        <th width="10%">
            审批人
            <a class="icon-filter pull-right" id="filterAuditPerson" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        <th width="10%">
            审批时间
        </th>
    </tr>
    </thead>
    <tbody>
    {{each myDataList as p}}
    <tr class="curp" data-action="openShowExp" i="{{$index}}" versionNum="{{p.versionNum}}">
        <td>{{$index+1+pageIndex*10}}</td>
        <td>{{p.applyDate}}</td>
        <td>
            {{p.applyName}}
        </td>
        <td>

            {{if type==4}}
            {{p.address}}
            {{else}}
            {{p.typeName}}
            {{/if}}
        </td>
        <td>{{p.comment}}</td>
        <td>
            {{if type==4}}
            {{_momentFormat(p.startTime,'A')}}
            {{else}}
            {{_momentFormat(p.startTime,'YYYY/MM/DD H:mm')}}

            {{/if}}
        </td>
        <td>
            {{if type==4}}
            {{_momentFormat(p.endTime,'A')}}
            {{else}}
            {{_momentFormat(p.endTime,'YYYY/MM/DD H:mm')}}
            {{/if}}
        </td>
        <!--<td>{{p.leaveTime}}天</td>-->
        <td>{{p.auditPerson}}</td>
        <td>
            {{ p.approveDate}}
        </td>
    </tr>
    {{/each}}
    {{if myDataList==null || myDataList.length==0}}
    <tr class="no-data">
        <td colspan="9" align="center">
            <div class="text-center">
                <img src="{{rootPath}}/assets/img/default/without_exp.png">
            </div>
            <span style="color:#4765a0">暂无内容</span>
        </td>
    </tr>
    {{/if}}
    </tbody>
</table>
