{{if fieldType==1}}
<div class="col-xs-12 form-item" data-type="1" data-field-id="{{fieldId}}">
    <div class="form-group">
        <label class="col-xs-2 control-label">
            {{fieldTitle?fieldTitle:'单行文本'}}
            {{if requiredType==1}}
                <span class="fc-red">*</span>
            {{/if}}
            ：
        </label>
        <div class="col-xs-10">
            <input type="text" class="form-control" name="{{fieldId}}" value="{{fieldValue?fieldValue:''}}" placeholder="{{fieldTooltip?fieldTooltip:'请输入单行文本'}}">
        </div>
    </div>
</div>
{{else if fieldType==2}}
<div class="col-xs-12 form-item " data-type="2" data-field-id="{{fieldId}}">
    <div class="form-group">
        <label class="col-xs-2 control-label">
            {{fieldTitle?fieldTitle:'多行文本'}}
            {{if requiredType==1}}
                <span class="fc-red">*</span>
            {{/if}}
            ：
        </label>
        <div class="col-xs-10">
            <textarea type="text" class="form-control" name="{{fieldId}}" placeholder="{{fieldTooltip?fieldTooltip:'请输入多行文本'}}">{{fieldValue?fieldValue:''}}</textarea>
        </div>
    </div>
</div>
{{else if fieldType==3}}
<div class="col-xs-12 form-item " data-type="3" data-field-id="{{fieldId}}">
    <div class="form-group">
        <label class="col-xs-2 control-label">
            {{fieldTitle?fieldTitle:'日期'}}
            {{if requiredType==1}}
                <span class="fc-red">*</span>
            {{/if}}
            ：
        </label>
        <div class="col-xs-10">
            <div class="input-group">
                <input type="text" class="form-control" name="{{fieldId}}" placeholder="{{fieldTooltip?fieldTooltip:'请选择日期'}}" readonly="" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="{{fieldValue?fieldValue:''}}">
                <span class="input-group-addon ">
                    <i class="icon-append fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>
</div>
{{else if fieldType==4}}
<div class="col-xs-12 form-item " data-type="4" >
    <div class="form-group">
        <label class="col-xs-2 control-label">
            {{fieldTitle?fieldTitle:'开始时间'}}
            {{if requiredType==1}}
            <span class="fc-red">*</span>
            {{/if}}
            ：
        </label>
        <div class="col-xs-4"  data-type="4" data-field-id="{{fieldId}}" data-format-type="{{dateFormatType}}" data-value="{{fieldValue?fieldValue:''}}">
            <div class="row">
                <!-- col-24-xs-10 -->
                <div class="{{dateFormatType==1?'col-24-xs-24':'col-24-xs-13 p-r-none'}}  time-box">
                    <div class="input-group">
                        <input type="text" class="form-control start-time" name="{{fieldId}}" placeholder="{{fieldTooltip?fieldTooltip:'请选择日期'}}" readonly="" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="">
                        <span class="input-group-addon "><i class="icon-append fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-24-xs-5 p-l-xs p-r-none time-hh" style="{{dateFormatType==1 || dateFormatType==3?'display: none;':''}}">
                    <select class="form-control no-padding" name="item_select">
                        <option value="01">1</option>
                        <option value="02">2</option>
                        <option value="03">3</option>
                        <option value="04">4</option>
                        <option value="05">5</option>
                        <option value="06">6</option>
                        <option value="07">7</option>
                        <option value="08">8</option>
                        <option value="09" selected>9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                    </select>
                </div>
                <div class="col-24-xs-6 p-l-xs time-mm" style="{{dateFormatType==1 || dateFormatType==3?'display: none;':''}}">
                    <select class="form-control no-padding" name="item_select">
                        <option value="00">0</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <div class="col-24-xs-11 p-l-xs am-pm" style="{{dateFormatType==1 || dateFormatType==2?'display: none;':''}}">
                    <select class="form-control no-padding" name="item_select">
                        <option value="上午">上午</option>
                        <option value="下午">下午</option>
                    </select>
                </div>
            </div>
        </div>
        <label class="col-xs-2 control-label">
            {{fieldTitle2?fieldTitle2:'结束时间'}}
            {{if requiredType==1}}
            <span class="fc-red">*</span>
            {{/if}}
            ：
        </label>
        <div class="col-xs-4" data-type="4" data-field-id="{{fieldId2}}">
            <div class="row">
                <div class="{{dateFormatType==1?'col-24-xs-24':'col-24-xs-13 p-r-none'}}  time-box" data-format-type="{{dateFormatType}}" data-value="{{fieldValue2?fieldValue2:''}}">
                    <div class="input-group">
                        <input type="text" class="form-control end-time" name="{{fieldId2}}" placeholder="{{fieldTooltip2?fieldTooltip2:'请选择日期'}}" readonly="" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="">
                        <span class="input-group-addon "><i class="icon-append fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-24-xs-5 p-l-xs p-r-none time-hh" style="{{dateFormatType==1 || dateFormatType==3?'display: none;':''}}">
                    <select class="form-control no-padding" name="item_select">
                        <option value="01">1</option>
                        <option value="02">2</option>
                        <option value="03">3</option>
                        <option value="04">4</option>
                        <option value="05">5</option>
                        <option value="06">6</option>
                        <option value="07">7</option>
                        <option value="08">8</option>
                        <option value="09" selected>9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                    </select>
                </div>
                <div class="col-24-xs-6 p-l-xs time-mm" style="{{dateFormatType==1 || dateFormatType==3?'display: none;':''}}">
                    <select class="form-control no-padding" name="item_select">
                        <option value="00">0</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <div class="col-24-xs-11 p-l-xs am-pm" style="{{dateFormatType==1 || dateFormatType==2?'display: none;':''}}">
                    <select class="form-control no-padding" name="item_select">
                        <option value="上午">上午</option>
                        <option value="下午">下午</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
{{else if fieldType==5}}
<div class="col-xs-12 form-item " data-type="5" data-key="{{itemKey}}" data-field-id="{{fieldId}}" data-statistics="{{isStatistics?isStatistics:''}}" data-statistical-condition="{{statisticalCondition?statisticalCondition:''}}" data-field-unit="{{fieldUnit?fieldUnit:''}}">
    <div class="form-group">
        <label class="col-xs-2 control-label">
            {{fieldTitle?fieldTitle:'数字'}}
            {{if requiredType==1}}
            <span class="fc-red">*</span>
            {{/if}}
            ：
        </label>
        <div class="col-xs-10">
            <div class="input-group full-width">
                <input type="text" class="form-control" name="{{fieldId}}"  placeholder="{{fieldTooltip?fieldTooltip:'请输入数字'}}" value="{{fieldValue?fieldValue:''}}">
                {{if fieldUnit!=null && fieldUnit!=''}}
                <span class="input-group-addon ">
                    {{fieldUnit}}
                </span>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{else if fieldType==6}}
<div class="col-xs-12 form-item " data-type="6" data-key="{{itemKey}}" data-field-id="{{fieldId}}">
    <div class="form-group">
        <label class="col-xs-2 control-label">
            {{fieldTitle?fieldTitle:'下拉列表'}}
            {{if requiredType==1}}
            <span class="fc-red">*</span>
            {{/if}}
            ：
        </label>
        <div class="col-xs-10">
            <select name="{{fieldId}}">
                {{if fieldSelectedValueList && fieldSelectedValueList.length>0 && fieldSelectedValueList[0].child!=null}}
                    {{each fieldSelectedValueList as p }}
                        <optgroup data-select2-id="{{p.id}}" label="{{p.name}}">
                            {{if p.child!=null && p.child.length>0}}
                                {{each p.child as c }}
                                    {{if fieldValue==c.id}}
                                        <option value="{{c.id}}" selected>{{c.name}}</option>
                                    {{else}}
                                        <option value="{{c.id}}">{{c.name}}</option>
                                    {{/if}}
                                {{/each}}
                            {{/if}}
                        </optgroup>
                    {{/each}}
                {{else fieldSelectedValueList && fieldSelectedValueList.length>0}}
                    {{if fieldTooltip && fieldTooltip!=''}}
                        <option value="">{{fieldTooltip}}</option>
                    {{/if}}
                    {{each fieldSelectedValueList as o}}
                        {{if fieldValue==o.id}}
                            <option value="{{o.id}}" selected>{{o.name}}</option>
                        {{else}}
                            <option value="{{o.id}}">{{o.name}}</option>
                        {{/if}}

                    {{/each}}
                {{/if}}
            </select>
        </div>
    </div>
</div>
{{else if fieldType==7}}
<div class="col-xs-12 form-item " data-type="7" data-key="{{itemKey}}" data-field-id="{{fieldId}}">
    <div class="form-group">
        <label class="col-xs-2 control-label">
            {{fieldTitle?fieldTitle:'单选框'}}
            {{if requiredType==1}}
            <span class="fc-red">*</span>
            {{/if}}
            ：
        </label>
        <div class="col-xs-10">
            {{if fieldSelectedValueList && fieldSelectedValueList.length>0}}
                {{each fieldSelectedValueList as o}}
                    <div class="pull-left m-r-xs m-t-xs">
                        <label class="i-checks i-checks-label fw-normal">
                            {{if fieldValue==o.id}}
                                <input type="radio"  name="{{fieldId}}" value="{{o.id}}" checked/>
                            {{else}}
                                <input type="radio"  name="{{fieldId}}" value="{{o.id}}"/>
                            {{/if}}
                            <span class="i-checks-span">{{o.name}}</span>
                        </label>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>
{{else if fieldType==8}}
<div class="col-xs-12 form-item " data-type="8" data-key="{{itemKey}}" data-field-id="{{fieldId}}">
    <div class="form-group">
        <label class="col-xs-2 control-label">
            {{fieldTitle?fieldTitle:'复选框'}}
            {{if requiredType==1}}
            <span class="fc-red">*</span>
            {{/if}}
            ：
        </label>
        <div class="col-xs-10">
            {{if fieldSelectedValueList && fieldSelectedValueList.length>0}}
                {{each fieldSelectedValueList as o}}
                    <div class="pull-left m-r-xs m-t-xs">
                        <label class="i-checks i-checks-label fw-normal">
                            {{if fieldValue && fieldValue.indexOf(o.id)>-1}}
                                <input type="checkbox" name="{{fieldId}}" value="{{o.id}}" checked/>
                            {{else}}
                                <input type="checkbox" name="{{fieldId}}" value="{{o.id}}"/>
                            {{/if}}
                            <span class="i-checks-span">{{o.name}}</span>
                        </label>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>
{{else if fieldType==9}}
<div class="col-xs-12 form-item " data-type="9" data-key="{{itemKey}}" data-field-id="{{fieldId}}">
    <div class="form-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <form>
                    <h4 class="title-line">
                        明细(<span data-action="panelIndex">{{panelIndex?panelIndex:'1'}}</span>)
                        <a class="curp pull-right {{panelIndex==null || panelIndex==1?'hide':''}}" href="javascript:void(0)"  data-action="delItem" title="删除明细">
                            <i class="glyphicon glyphicon-remove fc-red"></i>
                        </a>
                    </h4>
                </form>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-2">
            <button class="btn btn-primary btn-sm" data-action="addItem" title="添加明细"><i class="fa fa-plus"></i>&nbsp;添加明细</button>
        </div>
    </div>
</div>
{{else if fieldType=='panelBody9'}}
<div class="panel panel-default">
    <div class="panel-body">
        <form>
            <h4 class="title-line">
                明细(<span data-action="panelIndex">{{panelIndex?panelIndex:'1'}}</span>)
                <a class="curp pull-right {{panelIndex==null || panelIndex==1?'hide':''}}" href="javascript:void(0)"  data-action="delItem" title="删除明细">
                    <i class="glyphicon glyphicon-remove fc-red"></i>
                </a>
            </h4>
        </form>
    </div>
</div>
{{else if fieldType==10}}
<div class="col-xs-12 form-item " data-type="10" data-key="{{itemKey}}" data-field-id="{{fieldId}}">
    <div class="form-group">
        <label class="col-xs-2 control-label">附件：</label>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-md-12 m-b-sm">
                    <span id="showFileLoading"> </span>
                </div>
                <div class="col-md-12 m-b-sm">
                    <span class="uploadmgrContainer"> </span>
                </div>
            </div>
        </div>
    </div>
</div>
{{else if fieldType==12}}
<div class="col-xs-12 form-item " data-type="12" data-key="{{itemKey}}" data-field-id="{{fieldId}}">
    <div class="form-group">
        <label class="col-xs-2 control-label">关联项目：</label>
        <div class="col-xs-10">
            <select name="{{fieldId}}">
                {{if fieldTooltip && fieldTooltip!=''}}
                    <option value="">{{fieldTooltip}}</option>
                {{else}}
                    <option value="">请选择关联项目</option>
                {{/if}}
                {{if fieldSelectedValueList && fieldSelectedValueList.length>0}}
                    {{each fieldSelectedValueList as o}}
                        {{if fieldValue==o.id}}
                            <option value="{{o.id}}" selected>{{o.name}}</option>
                        {{else}}
                            <option value="{{o.id}}">{{o.name}}</option>
                        {{/if}}
                    {{/each}}
                {{/if}}
            </select>
        </div>
    </div>
</div>
{{else if fieldType==11}}
<div class="col-xs-12 form-item " data-type="11" data-key="{{itemKey}}" data-field-id="{{fieldId}}">
    <div class="form-group">
        <label class="col-xs-2 control-label">关联审批：</label>
        <div class="col-xs-10">
            <select name="{{fieldId}}">
                {{if fieldTooltip && fieldTooltip!=''}}
                    <option value="">{{fieldTooltip}}</option>
                {{else}}
                    <option value="">请选择关联审批</option>
                {{/if}}
                {{if fieldSelectedValueList && fieldSelectedValueList.length>0}}
                    {{each fieldSelectedValueList as o}}
                        {{if fieldValue==o.id}}
                            <option value="{{o.id}}" selected>{{o.name}}</option>
                        {{else}}
                            <option value="{{o.id}}">{{o.name}}</option>
                        {{/if}}

                    {{/each}}
                {{/if}}
            </select>
        </div>
    </div>
</div>
{{else if fieldType==13}}
<div class="col-xs-12 form-item " data-type="13" data-key="{{itemKey}}" data-field-id="{{fieldId}}">
    <div class="form-group">
        <label class="col-xs-2 control-label">
            {{fieldTitle?fieldTitle:'纯文本'}}
        </label>
        <div class="col-xs-10">
        </div>
    </div>
</div>
{{else if fieldType==14}}
<div class="col-xs-12 form-item " data-type="14" data-key="{{itemKey}}" data-field-id="{{fieldId}}">
    <div class="hr-line-dashed m-t-none m-b-sm"></div>
</div>
{{/if}}
