<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="GetPermissionByUserAndRoleMapper" >

  <!-- 查询在roleId中的权限（但是没有在roleIds中的权限） -->
  <select id="getPermissionByUserAndRole" resultType="java.lang.String" parameterType="java.util.Map">
    SELECT DISTINCT a.permission_id
    from maoding_web_user_permission a
    LEFT JOIN maoding_web_role_permission b on a.permission_id = b.permission_id
    where a.user_id = #{userId}
    and b.role_id = #{roleId}
    and b.company_id = #{companyId}
    <if test="roleIds != null">
      and a.permission_id NOT IN (
        SELECT DISTINCT a.permission_id
        from maoding_web_user_permission a
        LEFT JOIN maoding_web_role_permission b on a.permission_id = b.permission_id
        where a.user_id = #{userId}
        and b.company_id = #{companyId}
        and b.role_id  in
        <foreach collection="roleIds" index="i" item="role" open="(" separator="," close=")">
          #{role}
        </foreach>
      )
    </if>

  </select>

  <!-- 查询某个人是否具有某个权限-->
  <select id="getCompanyUserIsHasPermission" resultType="int" parameterType="java.util.Map">
    SELECT
    count(DISTINCT  a.id)
    FROM maoding_web_user_permission a
    INNER JOIN maoding_web_role_permission b on a.permission_id = b.permission_id and a.company_id = b.company_id
    WHERE 1=1  and a.company_id = #{companyId,jdbcType=VARCHAR}
    <if test="permissionIds!=null">
      and
      <foreach collection="permissionIds" item="id" index="i" open="(" separator="or" close=")">
        a.permission_id = #{id}
      </foreach>
    </if>
    <if test="userId!=null">
      and a.user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="typeId!=null">
      and (not FIND_IN_SET(#{typeId},b.forbid_relation_type_id) or b.forbid_relation_type_id is null)
    </if>
  </select>

</mapper>