<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ImAccountEntityMapper" >
  <resultMap id="BaseResultMap" type="com.maoding.hxIm.entity.ImAccountEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="account_status" property="accountStatus" jdbcType="TINYINT" />
    <result column="last_queue_no" property="lastQueueNo" jdbcType="BIGINT" />
    <result column="up_version" property="upVersion" jdbcType="BIGINT" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account_status, last_queue_no, up_version, deleted, create_date, create_by, update_date, 
    update_by
  </sql>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from maoding_im_account
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteById" parameterType="java.lang.String" >
    delete from maoding_im_account
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.maoding.hxIm.entity.ImAccountEntity" >
    replace into maoding_im_account (id, account_status, last_queue_no,
      up_version, deleted, create_date, 
      create_by, update_date, update_by
      )
    values (#{id,jdbcType=VARCHAR}, #{accountStatus,jdbcType=TINYINT}, #{lastQueueNo,jdbcType=BIGINT}, 
      #{upVersion,jdbcType=BIGINT}, #{deleted,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>


  <update id="updateById" parameterType="com.maoding.hxIm.entity.ImAccountEntity" >
    update maoding_im_account
    <set >
      <if test="accountStatus != null" >
        account_status = #{accountStatus,jdbcType=TINYINT},
      </if>
      <if test="lastQueueNo != null" >
        last_queue_no = #{lastQueueNo,jdbcType=BIGINT},
      </if>
      <if test="upVersion != null" >
        up_version = #{upVersion,jdbcType=BIGINT},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="update" parameterType="com.maoding.hxIm.entity.ImAccountEntity" >
    update maoding_im_account
    set account_status = #{accountStatus,jdbcType=TINYINT},
      last_queue_no = #{lastQueueNo,jdbcType=BIGINT},
      up_version = #{upVersion,jdbcType=BIGINT},
      deleted = #{deleted,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>