<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ImQueueEntityMapper" >
  <resultMap id="BaseResultMap" type="com.maoding.hxIm.entity.ImQueueEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="queue_no" property="queueNo" jdbcType="BIGINT" />
    <result column="target_id" property="targetId" jdbcType="VARCHAR" />
    <result column="operation" property="operation" jdbcType="VARCHAR" />
    <result column="retry" property="retry" jdbcType="INTEGER" />
    <result column="queue_status" property="queueStatus" jdbcType="TINYINT" />
    <result column="up_version" property="upVersion" jdbcType="BIGINT" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="reason" property="reason" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, queue_no, target_id, operation, retry, queue_status, up_version, deleted, content, reason, create_date,
    create_by, update_date, update_by
  </sql>
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from maoding_im_queue
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from maoding_im_queue
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.maoding.hxIm.entity.ImQueueEntity" >
    insert into maoding_im_queue (id, queue_no, target_id, 
      operation, retry, queue_status, 
      up_version, deleted, create_date, 
      create_by, update_date, update_by, 
      content, reason)
    values (#{id,jdbcType=VARCHAR}, #{queueNo,jdbcType=BIGINT}, #{targetId,jdbcType=VARCHAR}, 
      #{operation,jdbcType=VARCHAR}, #{retry,jdbcType=INTEGER},
      <choose><when test="queueStatus!=null">#{queueStatus}</when><otherwise>0</otherwise></choose>,
      #{upVersion,jdbcType=BIGINT}, #{deleted,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP},
      #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR}, #{reason,jdbcType=LONGVARCHAR})
  </insert>

  <update id="updateById" parameterType="com.maoding.hxIm.entity.ImQueueEntity" >
    update maoding_im_queue
    <set >
      <if test="queueNo != null" >
        queue_no = #{queueNo,jdbcType=BIGINT},
      </if>
      <if test="targetId != null" >
        target_id = #{targetId,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        operation = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="retry != null" >
        retry = #{retry,jdbcType=INTEGER},
      </if>
      <if test="queueStatus != null" >
        queue_status = #{queueStatus,jdbcType=TINYINT},
      </if>
      <if test="upVersion != null" >
        up_version = #{upVersion,jdbcType=BIGINT},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByIdWithBLOBs" parameterType="com.maoding.hxIm.entity.ImQueueEntity" >
    update maoding_im_queue
    set queue_no = #{queueNo,jdbcType=BIGINT},
      target_id = #{targetId,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=VARCHAR},
      retry = #{retry,jdbcType=INTEGER},
      queue_status = #{queueStatus,jdbcType=TINYINT},
      up_version = #{upVersion,jdbcType=BIGINT},
      deleted = #{deleted,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      reason = #{reason,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="update" parameterType="com.maoding.hxIm.entity.ImQueueEntity" >
    update maoding_im_queue
    set queue_no = #{queueNo,jdbcType=BIGINT},
      target_id = #{targetId,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=VARCHAR},
      retry = #{retry,jdbcType=INTEGER},
      queue_status = #{queueStatus,jdbcType=TINYINT},
      up_version = #{upVersion,jdbcType=BIGINT},
      deleted = #{deleted,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>