<div class="col-md-12">
    <div class="alert alert-warning">
        {{msg}}&nbsp;&nbsp;<a href="javascript:void(0);" data-action="reImport">重新导入</a>{{if showSubmit===true}}
        <button type="button" class="btn btn-v1-green btn-sm pull-right" data-action="submit" style="position: relative;top:-5px;">提交有效数据</button>{{/if}}
    </div>
</div>
<div class="col-md-12">
    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="10">
        <thead>
        <tr>
            <th data-sort-ignore="true" data-toggle="true">项目编号</th>
            <th data-sort-ignore="true">项目名称</th>
            <th data-sort-ignore="true">立项组织</th>
            <th data-sort-ignore="true">立项人</th>
            <th data-sort-ignore="true">立项日期</th>
            <th data-sort-ignore="true" data-hide="all">合同签订日期</th>
            <th data-sort-ignore="true" data-hide="all">项目地点</th>
            <th data-sort-ignore="true" data-hide="all">项目状态</th>
            <th data-sort-ignore="true" data-hide="all">甲方</th>
            <th data-sort-ignore="true" data-hide="all">乙方</th>
            <th data-sort-ignore="true" data-hide="all">可导入</th>
            <th data-sort-ignore="true">可导入</th>
            <th data-sort-ignore="true" data-hide="all">项目详情</th>
        </tr>
        </thead>
        <tbody>
        {{if list&&list.length>0 }}
        {{each list as o i}}
        <tr>
            <td>{{o.projectNo}}</td>
            <td>{{o.projectName}}</td>
            <td>{{o.creatorOrgName}}</td>
            <td>{{o.creatorUserName}}</td>
            <td>{{o.projectCreateDate}}</td>
            <td>{{o.contractDate}}</td>
            <td>{{o.province+' '+o.city+' '+o.detailAddress}}</td>
            <td>{{o.projectStatus}}</td>
            <td>{{o.aCompanyName}}</td>
            <td>{{o.bCompanyName}}</td>
            <td>{{if o.valid===true}}
                    <span class="fc-v1-green">是</span>
                {{else}}
                    <span class="fc-v1-red">否，{{o.errorReason}}</span>
                {{/if}}
            </td>
            <td>
                {{if o.valid===true}}
                    <i class="fa fa-check fc-v1-green"></i>
                {{else}}
                    <span class="fc-v1-red">不可导入，{{o.errorReason}}</span>
                {{/if}}
            </td>
            <td>
                {{each o.designContentList as p t}}
                    <strong>{{p.contentName}}:</strong>
                    {{if p.startDate!=null}}
                        <span>开始时间：{{p.startDate}},&nbsp;</span>
                    {{else}}
                        <span>开始时间：未设置,&nbsp;</span>
                    {{/if}}
                    {{if p.endDate!=null}}
                        <span>结束时间：{{p.endDate}},&nbsp;</span>
                    {{else}}
                        <span>结束时间：未设置,&nbsp;</span>
                    {{/if}}
                    <span>工期：{{p.periodString}}</span></br>
                {{/each}}
            </td>
        </tr>
        {{/each}}
        {{/if}}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="11">
                <ul class="pagination pull-right"></ul>
            </td>
        </tr>
        </tfoot>
    </table>
</div>