<form class="userInfoForm sky-form border-none">
    <div class="col-md-12 userInfoOBox  cube-portfolio">
        <div class="col-md-3 margin-top-20 cbp-l-grid-agency cbp-caption-active cbp-caption-zoom cbp-ready" >
        <div class="note">
            <b>注</b>：请点击头像进行上传操作！
        </div>
    </div>
        <div class="col-md-9 margin-top-20">
            <div class="col-md-12">
                <div class="col-md-5 ">
                    <label class="label">姓名<span class="fc-red">*</span></label>
                    <label class="input">
                        <input type="text" name="userName" value="{{userDto.userName}}">
                        <input type="hidden" name="id" value="{{userDto.id}}">
                    </label>
                </div>
                <div class="col-md-7 text-right">
                    <a href="javascript:void(0)" data-action="cancelEditUserInfo" class="btn-u btn-u-default rounded" >取消</a>
                    <a href="javascript:void(0)" data-action="saveUserInfo" class="btn-u rounded" >保存</a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <label class="label">性别</label>
                    <label class="select">
                        <select class="curp" name="sex">
                            <option value="男" {{if userDto.sex=='男'}}selected{{/if}}>男</option>
                            <option value="女" {{if userDto.sex=='女'}}selected{{/if}}>女</option>
                        </select>
                        <i></i>
                        <span class="whiteMask"></span>
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <label class="label">出生日期</label>
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" name="birthday" onFocus="WdatePicker()" value="{{userDto.birthday}}">
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>