<div class="ibox m_userInfo">
    <div class="ibox-title ibox-title-shadow secondary-menu-outbox">
        <div class="row">
            <div class="col-md-12" id="secondary-menu">
                <div class="pull-left m-r-xl">
                    <h3 class="dp-inline-block" >个人设置</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox-content ibox-content-shadow">
        <div class="row">
            <div class="col-md-12" id="content-box">
                <div class=" user-info col-lg-12 no-padding">
                    <div class="ibox">
                        <div class="ibox-content content-basic-info">
                            <div class="row cube-portfolio editableInfo">

                                <div class="col-lg-1 cbp-l-grid-agency cbp-caption-active cbp-caption-zoom cbp-ready">
                                    <div class="imgContent cbp-item-wrapper pt-relative  pull-left pt-relative" style="width: 110px;height: 110px;overflow: hidden;
                        left:-30px;top:-30px; border:5px solid rgb(255,255,255);box-shadow:0 0 2px #e5e6e7;">
                                        <div class="cbp-caption">
                                            <img alt="image" id="headImage" class=" pull-left" src="{{userDto.headImgUrl}}" style="width: 100%;height: 100%;min-height:100px;">
                                            <!--<span class="btnFilePicker" style="display: none">{{userDto.headImg!=null && userDto.headImg!=''?'替换头像':'上传头像'}}</span>-->
                                            <div class="cbp-caption-activeWrap dark-transparent-hover">
                                                <div class="btnFilePicker cbp-l-caption-body" title="上传头像"><i class="fa fa-camera"  style="color: rgba(255,255,255,0.9);"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 m-t-xs">
                                    <h3 class="p-t-15 currentCompanyName f-s-xl fc-dark-blue">
                                        <a href="javascript:void(0);" class="m-l-xs" data-action="text_userName">
                                            {{userDto.userName==null || userDto.userName==''?'未设置':userDto.userName}}
                                        </a>
                                    </h3>
                                    <div class="editableInfo m-t-lg m-l-xs">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="f-s-md">
                                                    <span class="title-span">绑定手机:</span>
                                                    <span data-show name="cellphone">{{userDto.cellphone}}</span>
                                                    <a href="JavaScript:void(0);" data-action="bindPhone">修改</a>
                                                </p>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="f-s-md">
                                                    <span class="title-span">用户密码:</span>
                                                    <a href="JavaScript:void(0);" data-action="changePwd">修改</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content border-no-t">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="" style="margin-bottom: 10px;"><h4 class="title-line">所在组织及权限</h4></div>
                                    <div class="">
                                        {{each userDto.orgpermissionList as p i}}
                                        <div class="clearfix">
                                            <p>
                                            <h4 class="dp-inline-block col1" >{{p.companyName}}</h4>
                                            <span class="text-muted f-s-m">
                                                {{if p.departList && p.departList.length>0}}
                                                    (
                                                        {{each p.departList as d di}}
                                                            {{if di==p.departList.length-1}}
                                                                {{d.departName}} {{d.serverStation==null||d.serverStation==''?'':'- '+d.serverStation}}
                                                            {{else}}
                                                                {{d.departName}} {{d.serverStation==null||d.serverStation==''?'':'- '+d.serverStation}} &nbsp;|&nbsp;
                                                            {{/if}}
                                                        {{/each}}
                                                    )
                                                {{/if}}
                                            </span>
                                            </p>
                                            {{if p.roleList && p.roleList.length>0}}
                                            <ul class="authority-list">
                                                {{each p.roleList as r}}
                                                <li class="m-b-xs">
                                                    <span class="font-bold f-s-m role-name" >{{r.name}}：</span>
                                                    <span class="text-muted f-s-m">
                                                    {{if r.permissionList && r.permissionList.length>0}}
                                                        {{each r.permissionList as m mi}}
                                                            {{if mi==r.permissionList.length-1}}
                                                                {{m.name}}
                                                            {{else}}
                                                                {{m.name}}、
                                                            {{/if}}
                                                        {{/each}}
                                                    {{/if}}
                                                </span>
                                                </li>
                                                {{/each}}
                                            </ul>
                                            {{/if}}
                                        </div>
                                        <div class="headline"></div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


