.m_projectList .project-list table thead th{
    white-space:nowrap;
    position: relative;
    min-width: 100px;
}

.m_projectList .project-list table tr td{
    padding:8px;
    white-space:nowrap;
}
