<div class="project-list of-auto">
    <table class="table table-bordered table-hover cell-border dataTable"  >
        <thead>
        <th>项目编号</th>
        <th>项目名称</th>
        <th>
            立项组织/立项人
            <a class="icon-filter pull-right" id="filterCreateBy" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        {{if columnCodes.indexOf('projectCreateDate')>-1}}
        <th class="sorting_desc" data-action="sort" data-sort-type="createDate">
            立项时间
            <a class="icon-filter pull-right" id="filterCreateDate" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        {{/if}}
        {{if columnCodes.indexOf('signDate')>-1}}
        <th class="sorting" data-action="sort" data-sort-type="signDate">
            合同签订
            <a class="icon-filter pull-right" id="filterSignDate" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        {{/if}}
        {{if columnCodes.indexOf('status')>-1}}
        <th>
            项目状态
            <a class="icon-filter pull-right" id="filterStatus" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        {{/if}}

        {{if columnCodes.indexOf('buildName')>-1}}
        <th>
            功能分类
            <a class="icon-filter pull-right" id="filterBuildName" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        {{/if}}
        {{if columnCodes.indexOf('address')>-1}}
        <th>
            地点
            <a class="icon-filter pull-right" id="filterAddress" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        {{/if}}
        {{if columnCodes.indexOf('partyA')>-1}}
        <th>
            甲方
            <a class="icon-filter pull-right" id="filterPartyA" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        {{/if}}
        {{if columnCodes.indexOf('partyB')>-1}}
        <th>
            乙方
            <a class="icon-filter pull-right" id="filterPartyB" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        {{/if}}
        {{if columnCodes.indexOf('designCompanyName')>-1}}
        <th>
            合作组织
            <a class="icon-filter pull-right" id="filterDesignCompanyName" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        {{/if}}
        <!--{{if columnCodes.indexOf('busPersonInCharge')>-1}}
        <th>
            经营负责人
            <a class="icon-filter pull-right" id="filterBusPersonInCharge" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        {{/if}}
        {{if columnCodes.indexOf('busPersonInChargeAssistant')>-1}}
        <th style="min-width: 130px;">
            经营助理
            <a class="icon-filter pull-right" id="filterBusAss" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        {{/if}}
        {{if columnCodes.indexOf('designPersonInCharge')>-1}}
        <th>
            设计负责人
            <a class="icon-filter pull-right" id="filterDesignPersonInCharge" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        {{/if}}
        {{if columnCodes.indexOf('designPersonInChargeAssistant')>-1}}
        <th style="min-width: 130px;">
            设计助理
            <a class="icon-filter pull-right" id="filterDesignAss" style="display: none;"><i class="icon iconfont icon-shaixuan"></i></a>
        </th>
        {{/if}}-->
        </thead>
        <tbody>
        {{ if projectList&&projectList.length>0}}
            {{each projectList as p i}}
                <tr>
                    <td >
                        {{p.projectNo==null?'--':p.projectNo}}
                    </td>
                    <td >
                        <a href="javascript:void(0)" data-action="gotoProject" data-pId="{{p.id}}" data-pName="{{p.projectName}}" style="font-size: 14px;">
                            {{p.projectName}}
                        </a>
                    </td>
                    <td >
                        {{p.companyName}}/{{p.createBy}}
                    </td>
                    {{if columnCodes.indexOf('projectCreateDate')>-1}}
                    <td >{{_momentFormat(p.projectCreateDate,'YYYY/MM/DD')}}</td>
                    {{/if}}
                    {{if columnCodes.indexOf('signDate')>-1}}
                    <td >{{p.signDate==null?'--':_momentFormat(p.signDate,'YYYY/MM/DD')}}</td>
                    {{/if}}
                    {{if columnCodes.indexOf('status')>-1}}
                    <td >
                        {{if p.status == 0}}
                            进行中
                        {{else if p.status == 2 }}
                            已完成-未结清
                        {{else if p.status == 4 }}
                            已完成-已结清
                        {{else if p.status == 1}}
                            已暂停-未结清
                        {{else if p.status == 5}}
                            已暂停-已结清
                        {{else if p.status == 3 }}
                            已终止-未结清
                        {{else if p.status == 6 }}
                            已终止-已结清
                        {{else}}
                            --
                        {{/if}}
                    </td>
                    {{/if}}
                    {{if columnCodes.indexOf('buildName')>-1}}
                    <td >{{p.buildName==null?'--':p.buildName}}</td>
                    {{/if}}
                    {{if columnCodes.indexOf('address')>-1}}
                    <td >{{p.address==null?'--':p.address}}</td>
                    {{/if}}
                    {{if columnCodes.indexOf('partyA')>-1}}
                    <td >{{p.partyA==null?'--':p.partyA}}</td>
                    {{/if}}
                    {{if columnCodes.indexOf('partyB')>-1}}
                    <td >{{p.partyB==null?'--':p.partyB}}</td>
                    {{/if}}
                    {{if columnCodes.indexOf('designCompanyName')>-1}}
                    <td >{{p.designCompanyName==null?'--':p.designCompanyName}}</td>
                    {{/if}}
                    <!--{{if columnCodes.indexOf('busPersonInCharge')>-1}}
                    <td >{{p.busPersonInCharge==null?'&#45;&#45;':p.busPersonInCharge}}</td>
                    {{/if}}
                    {{if columnCodes.indexOf('busPersonInChargeAssistant')>-1}}
                    <td >{{p.busPersonInChargeAssistant==null?'&#45;&#45;':p.busPersonInChargeAssistant}}</td>
                    {{/if}}
                    {{if columnCodes.indexOf('designPersonInCharge')>-1}}
                    <td >{{p.designPersonInCharge==null?'&#45;&#45;':p.designPersonInCharge}}</td>
                    {{/if}}
                    {{if columnCodes.indexOf('designPersonInChargeAssistant')>-1}}
                    <td >{{p.designPersonInChargeAssistant==null?'&#45;&#45;':p.designPersonInChargeAssistant}}</td>
                    {{/if}}-->
                </tr>
            {{/each}}
        {{else}}
        <tr>
            <td colspan="{{3+columnLen}}" align="center">暂无数据</td>
        </tr>
        {{/if}}
        </tbody>
    </table>
</div>
