<td  class="text-center">
    111
</td>
<td  class="text-center" >
    <a href="javascript:void(0)" data-action="gotoProject"
       data-pId="{{p.id}}"
       data-pName="{{p.projectName}}"
       data-pUrl="{{_url('/iWork/project/projectInformation/'+p.id+'/1')}}" style="font-size: 17px;">{{p.projectName}}
    </a>
    <!--<p class="pInfo">
        立项人：<span class="person">{{p.createBy}}</span>&nbsp;&nbsp;
        经营负责人：<span class="person">{{p.busPersonInCharge}}</span>&nbsp;&nbsp;
        {{if !_isNullOrBlank(p.designPersonInCharge)}}
           设计负责人：<span class="person">{{p.designPersonInCharge}}</span>
        {{/if}}
    </p>-->
</td>
<td class="project-stage text-center no-padding">
    <!--{{if p.designContentList!=null && p.designContentList.length>0}}
    {{p.designContentList[0].contentName}}
    {{/if}}-->

    {{if p.designContentList!=null && p.designContentList.length>1}}
    {{each p.designContentList as c ci}}
    {{if ci == p.designContentList.length-1}}
    <div class="div-td-last">{{c.contentName}}</div>
    {{else}}
    <div class="div-td">{{c.contentName}}</div>
    {{/if}}
    {{/each}}
    {{/if}}

</td>

<td class="text-center no-padding">
    <!--{{if p.designContentList[0].planStartTime!=null && p.designContentList[0].planEndTime!=null}}
        {{p.designContentList[0].planStartTime}} ~ {{p.designContentList[0].planEndTime}}
    {{/if}}-->
    {{if p.designContentList!=null && p.designContentList.length>1}}
    {{each p.designContentList as c ci}}
    {{if ci == p.designContentList.length-1}}
    <div class="div-td-last">
        {{if c.planStartTime!=null && c.planEndTime!=null}}
        {{c.planStartTime}} ~ {{c.planEndTime}}
        {{else}}
        &nbsp;
        {{/if}}
    </div>
    {{else}}
    <div class="div-td">
        {{if c.planStartTime!=null && c.planEndTime!=null}}
        {{c.planStartTime}} ~ {{c.planEndTime}}
        {{else}}
        &nbsp;
        {{/if}}
    </div>
    {{/if}}
    {{/each}}
    {{/if}}
</td>

<!--1:正常进行，2：超时进行，3：正常完成，4.超时完成,5.未开始，10,无状态-->

{{if (!_isNullOrBlank(p.designContentList[0].statusText)&&p.designContentList[0].statusText.indexOf('超时')>-1)}}
<td class="text-center no-padding">
    <small class="label2 bg-v1-red">{{p.designContentList[0].statusText}}
    </small>
</td>
{{else if (!_isNullOrBlank(p.designContentList[0].statusText)&&p.designContentList[0].statusText.indexOf('剩余')>-1)}}
<td class="text-center no-padding">
    <small class="label2 bg-v1-yellow">{{p.designContentList[0].statusText}}
    </small>
</td>
{{else if (!_isNullOrBlank(p.designContentList[0].statusText)&&p.designContentList[0].statusText.indexOf('进行中')>-1)}}
<td class="text-center no-padding">
    <small class="label2 bg-v2-blue">{{p.designContentList[0].statusText}}</small>
</td>
{{else if (!_isNullOrBlank(p.designContentList[0].statusText)&&p.designContentList[0].statusText.indexOf('未开始')>-1)}}
<td class="text-center no-padding">
    <small class="label2 bg-v1-grey">{{p.designContentList[0].statusText}}</small>
</td>
{{else if (!_isNullOrBlank(p.designContentList[0].statusText)&&p.designContentList[0].statusText.indexOf('未发布')>-1)}}
<td class="text-center no-padding">
    <small class="label2 bg-v1-grey">{{p.designContentList[0].statusText}}</small>
</td>
{{else if (!_isNullOrBlank(p.designContentList[0].statusText)&&p.designContentList[0].statusText.indexOf('已完成')>-1)}}
<td class="text-center no-padding">
    <small class="label2 bg-v1-green">{{p.designContentList[0].statusText}}</small>
</td>
{{else if _isNullOrBlank(p.designContentList[0].statusText)}}
<td class="text-center no-padding">
    <small class="label2 bg-v1-grey">未设置进度</small>
</td>
{{else}}
<td class="text-center">
    {{p.designContentList[0].statusText}}
</td>
{{/if}}

<td class="text-center">{{p.companyName}}</td>
<td class="text-center">{{p.createDate}}</td>
<td class="text-center">{{p.createBy}}</td>
<td class="text-center">{{p.busPersonInCharge}}</td>
<td class="text-center">{{p.designPersonInCharge}}</td>