.m_projectList .project-list table thead th{
    white-space:nowrap;
    position: relative;
    min-width: 100px;
}

.m_projectList .project-list table tr td{
    padding:8px;
    white-space:nowrap;
}

.select-column ul>li>a.active{
    color: #fff;
    background-color: #4765a0;
}
.select-column ul>li>a{
    margin: 2px;
    border-radius: 0;
}
