<div class="data-list-filter">
    <ul class="dropdown-menu">
        <li>
            <a data-state-name="全部">
                <span class="check">
                    {{if "全部" == currStateCheck}}
                        <i class="fa fa-check"></i>
                    {{/if}}
                </span>
                全部
            </a>
        </li>
        <li>
            <a data-state-name="进行中">
                <span class="check">
                    {{if "进行中" == currStateCheck}}
                        <i class="fa fa-check"></i>
                    {{/if}}
                </span>
                进行中
            </a>
        </li>
        <li>
            <a data-state-name="已暂停">
                <span class="check">
                    {{if "已暂停" == currStateCheck}}
                        <i class="fa fa-check"></i>
                    {{/if}}
                </span>
                已暂停
            </a>
        </li>
        <li>
            <a data-state-name="已完成">
                <span class="check">
                    {{if "已完成" == currStateCheck}}
                        <i class="fa fa-check"></i>
                    {{/if}}
                </span>
                已完成
            </a>
        </li>
        <li>
            <a data-state-name="已终止">
                <span class="check">
                    {{if "已终止" == currStateCheck}}
                        <i class="fa fa-check"></i>
                    {{/if}}
                </span>
                已终止
            </a>
        </li>
    </ul>
</div>