<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CopyRecordEntityMapper" >
  <resultMap id="BaseResultMap" type="com.maoding.commonModule.entity.CopyRecordEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="target_id" property="targetId" jdbcType="VARCHAR" />
    <result column="company_user_id" property="companyUserId" jdbcType="VARCHAR" />
    <result column="send_company_user_id" property="sendCompanyUserId" jdbcType="VARCHAR" />
    <result column="operate_record_id" property="operateRecordId" jdbcType="VARCHAR" />
    <result column="record_type" property="recordType" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, target_id, company_user_id, send_company_user_id, operate_record_id, record_type, 
    deleted, create_date, create_by, update_date, update_by
  </sql>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from maoding_copy_record
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectCopyByCompanyUserId" resultMap="BaseResultMap" parameterType="com.maoding.commonModule.dto.QueryCopyRecordDTO" >
    select
    <include refid="Base_Column_List" />
    from maoding_copy_record
    where deleted = 0
    <if test="copyCompanyUserId">
      and company_user_id = #{copyCompanyUserId}
    </if>
    and target_id = #{targetId}
    group by company_user_id
  </select>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from maoding_copy_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.maoding.commonModule.entity.CopyRecordEntity" >
    insert into maoding_copy_record (id, target_id, company_user_id, 
      send_company_user_id, operate_record_id, record_type, 
      deleted, create_date, create_by, 
      update_date, update_by)
    values (#{id,jdbcType=VARCHAR}, #{targetId,jdbcType=VARCHAR}, #{companyUserId,jdbcType=VARCHAR}, 
      #{sendCompanyUserId,jdbcType=VARCHAR}, #{operateRecordId,jdbcType=VARCHAR}, #{recordType,jdbcType=INTEGER}, 
      #{deleted,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR})
  </insert>

  <update id="updateById" parameterType="com.maoding.commonModule.entity.CopyRecordEntity" >
    update maoding_copy_record
    <set >
      <if test="targetId != null" >
        target_id = #{targetId,jdbcType=VARCHAR},
      </if>
      <if test="companyUserId != null" >
        company_user_id = #{companyUserId,jdbcType=VARCHAR},
      </if>
      <if test="sendCompanyUserId != null" >
        send_company_user_id = #{sendCompanyUserId,jdbcType=VARCHAR},
      </if>
      <if test="operateRecordId != null" >
        operate_record_id = #{operateRecordId,jdbcType=VARCHAR},
      </if>
      <if test="recordType != null" >
        record_type = #{recordType,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="update" parameterType="com.maoding.commonModule.entity.CopyRecordEntity" >
    update maoding_copy_record
    set target_id = #{targetId,jdbcType=VARCHAR},
      company_user_id = #{companyUserId,jdbcType=VARCHAR},
      send_company_user_id = #{sendCompanyUserId,jdbcType=VARCHAR},
      operate_record_id = #{operateRecordId,jdbcType=VARCHAR},
      record_type = #{recordType,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <update id="updateRelationRecord" parameterType="com.maoding.commonModule.entity.CopyRecordEntity">
    update maoding_copy_record
    set  deleted = 1
    <where>
      <if test="operateRecordId != null" >
        AND operate_record_id = #{operateRecordId,jdbcType=VARCHAR}
      </if>
      <if test="targetId != null" >
        AND target_id = #{targetId,jdbcType=VARCHAR}
      </if>
    </where>
  </update>
</mapper>