.m_showPublicNoticeData .bg-data{
    color: #4765a1;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 10px;
    margin:10px auto 0;
}
.m_showPublicNoticeData .publish-date{
    color: #4765a1;
}
.m_showPublicNoticeData .notice-list-content{
    padding: 0 0 10px;
    margin-bottom: 15px;
}
.publicNoticeListOBox .upload-btn .webuploader-pick{
    background: none;
    color: #4765a1;
    padding: 0;
    margin-top: 7px;
}
.publicNoticeListOBox .upload-btn .webuploader-pick i.fa-upload{
    font-size: 18px;
}
.m_notice .notice-icon-bg{
    width: 48px;
    height: 48px;
    background: #40bbbc;
    display: block;
    border-radius: 24px;
    margin: 30px;
}
.m_notice .notice-icon-bg.project-type{
    background: #7892d3;
}
.m_notice .notice-content-box {
    width: 100%;
    height: 54px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}