.m_imgCropper {
}

.m_imgCropper .webuploader-pick {
    padding: 2px 10px;;
    background: #4765a0;
}

.m_imgCropper .webuploader-container {
    display: inline-block;
}

.m_imgCropper .img-preview {
    background-color: #f7f7f7;
    width: 100%;
    text-align: center;
}

.m_imgCropper .docs-preview {
    margin-right: -15px;
}

.m_imgCropper .img-preview {
    float: left;
    margin-right: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}

.m_imgCropper .img-preview > img {
    max-width: 100%;
}

.m_imgCropper .preview-lg {
    width: 263px;
    height: 148px;
}

.m_imgCropper .preview-md {
    width: 100px;
    height: 100px;
}

.m_imgCropper .preview-sm {
    width: 69px;
    height: 39px;
}

.m_imgCropper .preview-xs {
    width: 35px;
    height: 20px;
    margin-right: 0;
}