.data-list-filter .dropdown-menu{
    display: block;
    top:0px;
    width: auto;
    height: 100%;
    min-width: 100%;
    overflow: auto;
    position: relative;
    border-radius: 0;
    box-shadow: none;
}
.data-list-filter .check{
    width: 20px;display: inline-block;
}
.data-list-filter .i-checks .icheckbox_minimal-green{
    float:left;
}
.data-list-filter .i-checks .i-checks-span{
    display: inline-block;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    float: left;
    margin-left: 4px;
    cursor: pointer;
}

.m_filter_timeCombination .input-group .form-control.time-input{
    width: 110px;
}