<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ProcessTypeEntityMapper" >
  <resultMap id="BaseResultMap" type="com.maoding.process.entity.ProcessTypeEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="target_type" property="targetType" jdbcType="VARCHAR" />
    <result column="condition_field_id" property="conditionFieldId" jdbcType="VARCHAR" />
    <result column="form_id" property="formId" jdbcType="VARCHAR" />
    <result column="form_type" property="formType" jdbcType="VARCHAR" />
    <result column="notice_type" property="noticeType" jdbcType="INTEGER" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, company_id, target_type, condition_field_id,status,type, deleted,form_id,notice_type,seq,form_type,
     create_date, create_by, update_date, update_by
  </sql>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from maoding_process_type
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getCurrentProcessType" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from maoding_process_type
    where deleted = 0
    and company_id = #{companyId}
    and target_type =  #{targetType}
    and status = 1
    order by create_date desc
  </select>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from maoding_process_type
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.maoding.process.entity.ProcessTypeEntity" >
    insert into maoding_process_type (id, company_id, target_type, condition_field_id,
      status,type, deleted,form_id,notice_type,seq,form_type,
      create_date,create_by, update_date, update_by
      )
    values (#{id,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR},
     #{targetType,jdbcType=VARCHAR}, #{conditionFieldId,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER},
       #{formId,jdbcType=VARCHAR}, #{noticeType,jdbcType=INTEGER},
        #{seq,jdbcType=INTEGER}, #{formType,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP},
      #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateById" parameterType="com.maoding.process.entity.ProcessTypeEntity" >
    update maoding_process_type
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="targetType != null" >
        target_type = #{targetType,jdbcType=VARCHAR},
      </if>
      <if test="conditionFieldId != null" >
        condition_field_id = #{conditionFieldId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="formId != null" >
        form_id = #{formId,jdbcType=VARCHAR},
      </if>
      <if test="formType != null" >
        form_type = #{formType,jdbcType=VARCHAR},
      </if>
      <if test="noticeType != null" >
        notice_type = #{noticeType,jdbcType=INTEGER},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="update" parameterType="com.maoding.process.entity.ProcessTypeEntity" >
    update maoding_process_type
    set company_id = #{companyId,jdbcType=VARCHAR},
      target_type = #{targetType,jdbcType=VARCHAR},
      condition_field_id = #{conditionFieldId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      form_id = #{formId,jdbcType=VARCHAR},
      form_type = #{formType,jdbcType=VARCHAR},
      notice_type = #{noticeType,jdbcType=INTEGER},
      seq = #{seq,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <!-- 流程名称属性定义 -->
    <resultMap id="ProcessDefineMap" type="com.maoding.activiti.dto.ProcessDefineDTO">
        <id column="process_type_id" property="id"/>
        <result column="id" property="key"/>
        <result column="form_name" property="name"/>
        <result column="status" property="isActive"/>
        <result column="type_setting" property="type"/>
        <result column="documentation" property="documentation"/>
        <result column="var_name" property="varName"/>
        <result column="var_unit" property="varUnit"/>
        <result column="is_system" property="isSystem"/>
    </resultMap>

    <resultMap id="ProcessDefineGroupMap" type="com.maoding.activiti.dto.ProcessDefineGroupDTO">
    <id column="form_group_id" property="id"/>
    <result column="group_name" property="name"/>
    <collection property="processDefineList" ofType="com.maoding.activiti.dto.ProcessDefineDTO" resultMap="ProcessDefineMap"/>
    </resultMap>

  <select id="listProcessDefineWithGroup" resultMap="ProcessDefineGroupMap" parameterType="com.maoding.activiti.dto.ProcessDefineQueryDTO">
      select
        group_type.id as form_group_id,
        group_type.group_name as group_name,
        process_type.id as process_type_id,
        dynamic_form.*
      from maoding_dynamic_form_group group_type
      left join maoding_process_type process_type on group_type.id = process_type.form_type and process_type.deleted = 0
      left join maoding_dynamic_form dynamic_form  on (process_type.form_id = dynamic_form.id)
    where 1=1
      <if test="currentCompanyId != null">
        and group_type.company_id = #{currentCompanyId}
      </if>

      order by group_type.seq,process_type.seq
  </select>

  <!-- 获取流程列表 -->
  <select id="listProcessDefine" resultMap="ProcessDefineMap" parameterType="com.maoding.activiti.dto.ProcessDefineQueryDTO">
    select
      if(process_ordered.company_id is null,1,0) as is_system,
      process_ordered.*
    from (
      select
        if(process_type.id is null,null,1) as type_setting,
        <choose>
          <when test="currentCompanyId != null">
            concat(#{currentCompanyId},'_',process_type.id,'_1') as process_id,
          </when>
          <otherwise>
            concat(ifnull(concat(process_type.company_id,'_'),''),process_type.id,'_1') as process_id,
        </otherwise>
        </choose>
        process_type.*
      from maoding_dynamic_form process_type
      <where>
        <if test="currentCompanyId != null">
          and (process_type.company_id is null or process_type.company_id = #{currentCompanyId})
        </if>
        <if test="key != null">
          and (process_type.id = #{key})
        </if>
      </where>
      order by process_type.company_id desc
    ) process_ordered
    group by ifnull(process_ordered.seq,process_ordered.id)
    order by ifnull(process_ordered.seq,9999)
  </select>

  <select id="selectByTargetType" resultMap="BaseResultMap" parameterType="com.maoding.dynamicForm.dto.SaveDynamicFormDTO">
    select
      <include refid="Base_Column_List" />
    from
      maoding_process_type
    where
      form_id = #{id}
    <if test="currentCompanyId != null">
      and (company_id = #{currentCompanyId})
    </if>
  </select>

  <select id="selectMaxSeq" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT
      ifnull(MAX(seq),0)
    FROM
      maoding_process_type
    WHERE
      company_id = #{currentCompanyId}
  </select>


  <select id="selectByCompanyIdFormType" resultType="com.maoding.process.entity.ProcessTypeEntity" parameterType="com.maoding.dynamicForm.dto.FormGroupDTO">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    maoding_process_type
    WHERE
    company_id = #{companyId}
    AND
    form_type = #{typeId}
  </select>
</mapper>