<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DeliverEntityMapper" >
  <!-- 插入交付任务 -->
  <insert id="insert" parameterType="com.maoding.deliver.entity.DeliverEntity" >
    insert into md_list_deliver (id, task_title, task_type,
      handler_id, company_id, status,
      create_date, create_by, update_date,
      update_by, target_id, param1,
      param2, param3, param4,
      project_id, task_content,send_company_id,deadline,complete_date)
    values (#{id,jdbcType=VARCHAR}, #{taskTitle,jdbcType=VARCHAR}, #{taskType,jdbcType=INTEGER},
      #{handlerId,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, '0',now(),
      #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{targetId,jdbcType=VARCHAR}, #{param1,jdbcType=VARCHAR},
      '0', #{param3,jdbcType=VARCHAR}, '0',
      #{projectId,jdbcType=VARCHAR}, #{taskContent,jdbcType=LONGVARCHAR},
       #{sendCompanyId,jdbcType=VARCHAR}, #{deadline,jdbcType=DATE}, #{completeDate,jdbcType=DATE})
  </insert>

  <!-- 根据id进行更新 -->
  <update id="updateById" parameterType="com.maoding.deliver.entity.DeliverEntity" >
    update maoding_web_my_task
    <set >
      <if test="taskTitle != null" >
        task_title = #{taskTitle,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null and taskType!=0" >
        task_type = #{taskType,jdbcType=INTEGER},
      </if>
      <if test="handlerId != null" >
        handler_id = #{handlerId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      update_date =now(),
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="targetId != null" >
        target_id = #{targetId,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null" >
        param1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        param2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        param3 = #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null" >
        param4 = #{param4,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="taskContent != null" >
        task_content = #{taskContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="sendCompanyId != null" >
        send_company_id = #{sendCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=DATE},
      </if>
      <if test="completeDate != null" >
        complete_date = #{completeDate,jdbcType=DATE},
      </if>
      <if test="status != null and status=='1'.toString() and completeDate == null" >
        complete_date = now(),
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- 查询交付任务 -->
  <resultMap id="DeliverMap" type="com.maoding.deliver.dto.DeliverDTO">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="description" property="description"/>
    <result column="end_time" property="endTime"/>
    <result column="create_by" property="createBy"/>
    <result column="create_date" property="createDate"/>
    <result column="is_finished" property="isFinished"/>
    <collection property="responseList" ofType="com.maoding.deliver.dto.ResponseDTO">
      <id column="response_id" property="id"/>
      <result column="response_name" property="name"/>
      <result column="response_is_finised" property="isFinished"/>
    </collection>
  </resultMap>

  <select id="listDeliver" parameterType="com.maoding.mytask.dto.MyTaskQueryDTO" resultMap="DeliverMap">
    select
        deliver_task.id -- 交付任务编号
        ,deliver_task.task_title as name -- 交付任务名称
        ,deliver_task.task_content as description -- 说明
        ,deliver_task.deadline as end_time -- 截止时间
        ,deliver_task.create_by -- 发起人
        ,deliver_task.create_date -- 发起时间
        ,if(deliver_task.complete_date is null,'0','1') as is_finished -- 是否已经结束
        ,account.id as response_id -- 负责人编号
        ,account.user_name as response_name -- 负责人姓名
        ,if(response_task.complete_date is null,'0','1') as response_is_finised -- 负责人是否已结束任务
    from md_list_deliver deliver_task -- 交付任务
        inner join maoding_web_my_task response_task on (response_task.target_id = deliver_task.id and response_task.task_type = 26) -- 负责人任务
        inner join maoding_web_company_user company_user on (company_user.id = response_task.handler_id) -- 负责人角色
        inner join maoding_web_account account on (account.id = company_user.user_id) -- 用户名
        <if test="taskId != null or nodeId != null">
          inner join maoding_web_project_sky_drive node on (
              deliver_task.target_id = node.id
              <if test="nodeId != null">
                and node.id = #{nodeId}
              </if>
            ) -- 交付目录
          <if test="taskId != null">
            inner join maoding_web_project_task issue_task on (issue_task.id = node.task_id
              and issue_task.id = #{taskId}) -- 签发任务
          </if>
        </if>
  </select>
</mapper>