<div class="row cube-portfolio pull-right">
    <div class="col-md-12 cbp-l-grid-agency cbp-caption-active cbp-caption-zoom cbp-ready">
        <div class="thumbnails thumbnail-style cbp-item-wrapper text-center"
             style="box-sizing:border-box;padding:9px;width: 240px;height: 240px; border: solid 1px #eee;">
            <div class="cbp-caption text-center" style="min-height: 220px;">
                <img src="{{filePath}}" class="img-logo"  alt="组织logo" style="max-height: 240px;width: 220px;">
                {{if isEdit}}
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions no-bottom-space">
                                <li>
                                    <a href="javascript:void(0)" id="btnUploadImg"
                                       title="点击设置LOGO"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{if isEdit}}
<div class="clearfix"></div>
<div class="row caption pull-right" style="width: 240px;margin-top: 10px;">
    <h3>组织LOGO</h3>
    <p>LOGO用于组织展示，最佳展示像素为200*200，建议上传png、jpg、bmp、jpeg格式的图像文件.</p>
</div>
{{/if}}