<form class="form-horizontal m_teamInfoShow">

    <div class="form-group">
        <label class="col-24-md-5 col-24-lg-3 control-label">组织名称：</label>
        <div class="col-24-md-19 col-24-lg-21 form-control-static">
            <a href="javascript:void(0)" data-action="text_companyName">{{teamInfo.companyName}}</a>
        </div>
    </div>

    <div class="form-group">
        <label class="col-24-md-5 col-24-lg-3 control-label">公司地址：</label>
        <div class="col-24-md-19 col-24-lg-21 form-control-static" id="city_1">
            <a href="javascript:void(0);" data-action="edit_address" id="address" class="editable editable-click">
                {{if teamInfo.province && teamInfo.province!=''}}
                    {{teamInfo.province}}&nbsp;
                {{/if}}
                {{if teamInfo.city && teamInfo.city!=''}}
                {{teamInfo.city}}&nbsp;
                {{/if}}
                {{if teamInfo.county && teamInfo.county!=''}}
                {{teamInfo.county}}&nbsp;
                {{/if}}
                {{teamInfo.companyAddress}}
            </a>
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label class="col-lg-2 control-label">详细地址：</label>-->
        <!--<div class="col-24-md-19 col-24-lg-21 form-control-static">{{teamInfo.companyAddress}}</div>-->
    <!--</div>-->

    <div class="form-group">
        <label class="col-24-md-5 col-24-lg-3 control-label">服务类型：</label>
        <div class="col-24-md-19 col-24-lg-21 form-control-static">
            <a href="javascript:void(0)" data-action="checklist_serverTypeList" class="editable editable-click">
                {{each teamInfo.serverTypeList as server a}}
                <span class="serverType m-r">{{server.name}}</span>
                {{/each}}
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="col-24-md-5 col-24-lg-3 control-label">联系电话：</label>
        <div class="col-24-md-19 col-24-lg-21 form-control-static">
            <a href="javascript:void(0)" data-action="text_companyPhone">{{teamInfo.companyPhone}}</a>
        </div>
    </div>
    <div class="form-group">
        <label class="col-24-md-5 col-24-lg-3 control-label">传真号码：</label>
        <div class="col-24-md-19 col-24-lg-21 form-control-static">
            <a href="javascript:void(0)" data-action="text_companyFax">{{teamInfo.companyFax}}</a>
        </div>
    </div>
    <div class="form-group">
        <label class="col-24-md-5 col-24-lg-3 control-label">电子邮箱：</label>
        <div class="col-24-md-19 col-24-lg-21 form-control-static">
            <a href="javascript:void(0)" data-action="text_companyEmail">{{teamInfo.companyEmail}}</a>
            </div>
    </div>
    <div class="form-group companyComment" >
        <label class="col-24-md-5 col-24-lg-3 control-label">组织简介：</label>
        <div class="col-24-md-19 col-24-lg-21 form-control-static" style="min-height: 44px;height: auto;">
            <a href="javascript:void(0)" data-action="textarea_companyComment" data-mode="popup">{{teamInfo.companyComment}}</a>
         </div>
        <div class="clearfix"></div>
    </div>
</form>