<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DynamicFormFieldEntityMapper" >
  <resultMap id="BaseResultMap"  type="com.maoding.dynamicForm.entity.DynamicFormFieldEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="form_id" property="formId" jdbcType="VARCHAR" />
    <result column="field_pid" property="fieldPid" jdbcType="VARCHAR" />
    <result column="field_title" property="fieldTitle" jdbcType="VARCHAR" />
    <result column="field_type" property="fieldType" jdbcType="INTEGER" />
    <result column="field_unit" property="fieldUnit" jdbcType="VARCHAR" />
    <result column="is_statistics" property="isStatistics" jdbcType="INTEGER" />
    <result column="field_tooltip" property="fieldTooltip" jdbcType="VARCHAR" />
    <result column="field_default_value" property="fieldDefaultValue" jdbcType="VARCHAR" />
    <result column="field_select_value_type" property="fieldSelectValueType" jdbcType="INTEGER" />
    <result column="seq_x" property="seqX" jdbcType="INTEGER" />
    <result column="seq_y" property="seqY" jdbcType="INTEGER" />
    <result column="required_type" property="requiredType" jdbcType="INTEGER" />
    <result column="date_format_type" property="dateFormatType" jdbcType="INTEGER" />
    <result column="arrange_type" property="arrangeType" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, form_id, field_pid, field_title, field_type,field_unit,is_statistics, field_tooltip, field_default_value,
    field_select_value_type, seq_x, seq_y, required_type,date_format_type,arrange_type,
     deleted, create_date, create_by,
    update_date, update_by
  </sql>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from maoding_dynamic_form_field
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from maoding_dynamic_form_field
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.maoding.dynamicForm.entity.DynamicFormFieldEntity" >
    insert into maoding_dynamic_form_field (id, form_id, field_pid, 
      field_title, field_type, field_unit,is_statistics,field_tooltip,
      field_default_value, field_select_value_type, 
      seq_x, seq_y, required_type, date_format_type,arrange_type,
      deleted, create_date, create_by, 
      update_date, update_by)
    values (#{id,jdbcType=VARCHAR}, #{formId,jdbcType=VARCHAR}, #{fieldPid,jdbcType=VARCHAR}, 
      #{fieldTitle,jdbcType=VARCHAR}, #{fieldType,jdbcType=INTEGER}, #{fieldUnit,jdbcType=VARCHAR},
      #{isStatistics,jdbcType=INTEGER},#{fieldTooltip,jdbcType=VARCHAR},
      #{fieldDefaultValue,jdbcType=VARCHAR}, #{fieldSelectValueType,jdbcType=INTEGER}, 
      #{seqX,jdbcType=INTEGER}, #{seqY,jdbcType=INTEGER}, #{requiredType,jdbcType=INTEGER},
      #{dateFormatType,jdbcType=INTEGER}, #{arrangeType,jdbcType=INTEGER},
      #{deleted,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR})
  </insert>

  <update id="updateById" parameterType="com.maoding.dynamicForm.entity.DynamicFormFieldEntity" >
    update maoding_dynamic_form_field
    <set >
      <if test="formId != null" >
        form_id = #{formId,jdbcType=VARCHAR},
      </if>
      <if test="fieldPid != null" >
        field_pid = #{fieldPid,jdbcType=VARCHAR},
      </if>
      <if test="fieldTitle != null" >
        field_title = #{fieldTitle,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null" >
        field_type = #{fieldType,jdbcType=INTEGER},
      </if>
      <if test="dateFormatType != null" >
        date_format_type = #{dateFormatType,jdbcType=INTEGER},
      </if>
      <if test="arrangeType != null" >
        arrange_type = #{arrangeType,jdbcType=INTEGER},
      </if>
      <if test="isStatistics != null" >
        is_statistics = #{isStatistics,jdbcType=INTEGER},
      </if>
      <if test="field_unit != null" >
        field_type = #{fieldUnit,jdbcType=VARCHAR},
      </if>
      <if test="fieldTooltip != null" >
        field_tooltip = #{fieldTooltip,jdbcType=VARCHAR},
      </if>
      <if test="fieldDefaultValue != null" >
        field_default_value = #{fieldDefaultValue,jdbcType=VARCHAR},
      </if>
      <if test="fieldSelectValueType != null" >
        field_select_value_type = #{fieldSelectValueType,jdbcType=INTEGER},
      </if>
      <if test="seqX != null" >
        seq_x = #{seqX,jdbcType=INTEGER},
      </if>
      <if test="seqY != null" >
        seq_y = #{seqY,jdbcType=INTEGER},
      </if>
      <if test="requiredType != null" >
        required_type = #{requiredType,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="update" parameterType="com.maoding.dynamicForm.entity.DynamicFormFieldEntity" >
    update maoding_dynamic_form_field
    set form_id = #{formId,jdbcType=VARCHAR},
      field_pid = #{fieldPid,jdbcType=VARCHAR},
      field_title = #{fieldTitle,jdbcType=VARCHAR},
      field_type = #{fieldType,jdbcType=INTEGER},
      date_format_type = #{dateFormatType,jdbcType=INTEGER},
      arrange_type = #{arrangeType,jdbcType=INTEGER},
      field_unit = #{fieldUnit,jdbcType=VARCHAR},
      is_statistics = #{isStatistics,jdbcType=INTEGER},
      field_tooltip = #{fieldTooltip,jdbcType=VARCHAR},
      field_default_value = #{fieldDefaultValue,jdbcType=VARCHAR},
      field_select_value_type = #{fieldSelectValueType,jdbcType=INTEGER},
      seq_x = #{seqX,jdbcType=INTEGER},
      seq_y = #{seqY,jdbcType=INTEGER},
      required_type = #{requiredType,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- 查找动态表单控件信息 -->
  <select id="listFormField" resultType="com.maoding.dynamicForm.dto.DynamicFormFieldDTO" parameterType="com.maoding.dynamicForm.dto.FormFieldQueryDTO">
    select
      field_list.*
    from maoding_dynamic_form_field field_list
    where deleted = 0
      <if test="formId != null">
        and field_list.form_id = #{formId}
      </if>
    <if test="fieldPid != null">
      and field_list.field_pid = #{fieldPid}
    </if>
    order by field_list.seq_y,seq_x
  </select>


  <resultMap id="DynamicFormFieldMap"  type="com.maoding.dynamicForm.dto.DynamicFormFieldDTO">
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="form_id" property="formId" jdbcType="VARCHAR" />
    <result column="field_pid" property="fieldPid" jdbcType="VARCHAR" />
    <result column="field_title" property="fieldTitle" jdbcType="VARCHAR" />
    <result column="field_type" property="fieldType" jdbcType="INTEGER" />
    <result column="field_unit" property="fieldUnit" jdbcType="VARCHAR" />
    <result column="is_statistics" property="isStatistics" jdbcType="INTEGER" />
    <result column="field_tooltip" property="fieldTooltip" jdbcType="VARCHAR" />
    <result column="field_default_value" property="fieldDefaultValue" jdbcType="VARCHAR" />
    <result column="field_select_value_type" property="fieldSelectValueType" jdbcType="INTEGER" />
    <result column="seq_x" property="seqX" jdbcType="INTEGER" />
    <result column="seq_y" property="seqY" jdbcType="INTEGER" />
    <result column="required_type" property="requiredType" jdbcType="INTEGER" />
    <result column="date_format_type" property="dateFormatType" jdbcType="INTEGER" />
    <result column="arrange_type" property="arrangeType" jdbcType="INTEGER" />
    <collection property="detailFieldList" ofType="com.maoding.dynamicForm.dto.DynamicFormFieldDTO"
                select="listFormField" column="{fieldPid=id}" fetchType="eager"
    />
  </resultMap>

  <!-- 查找动态表单控件信息 -->
  <select id="listFormFieldByFormId" resultMap="DynamicFormFieldMap" parameterType="com.maoding.dynamicForm.dto.FormFieldQueryDTO">
    select
    field_list.*
    from maoding_dynamic_form_field field_list
    where field_list.deleted = 0
    and field_list.field_pid is null
    <if test="formId != null">
      and field_list.form_id = #{formId}
    </if>
    order by field_list.seq_y,seq_x
  </select>

</mapper>