<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DynamicFormGroupEntityMapper" >
  <resultMap id="BaseResultMap" type="com.maoding.dynamicForm.entity.DynamicFormGroupEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="is_edit" property="isEdit" jdbcType="INTEGER" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id,group_name,is_edit,seq,deleted, create_date, create_by, update_date, update_by
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from maoding_dynamic_form_group
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="listDefaultFormGroup" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from maoding_dynamic_form_group
    where company_id is null
  </select>

  <select id="listFormGroupByCompanyId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from maoding_dynamic_form_group
    where company_id = #{companyId} and deleted = 0
  </select>

  <select id="isInitFormGroup" resultType="java.lang.Boolean" parameterType="java.lang.String" >
    select
    if(count(1)>0,true,FALSE )
    from maoding_dynamic_form_group
    where company_id = #{companyId} -- 此处不需要用deleted = 0过滤
  </select>

  <update id="deleteById" parameterType="java.lang.String" >
    update maoding_dynamic_form_group
    set deleted = 1
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="insert" parameterType="com.maoding.dynamicForm.entity.DynamicFormGroupEntity" >
    insert into maoding_dynamic_form_group (id, company_id, group_name, is_edit,seq,
      deleted, create_date, create_by,
      update_date, update_by)
    values (#{id,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR},
     #{isEdit,jdbcType=INTEGER}, #{seq,jdbcType=INTEGER},
      0, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR})
  </insert>

  <update id="updateById" parameterType="com.maoding.dynamicForm.entity.DynamicFormGroupEntity" >
    update maoding_dynamic_form_group
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="isEdit != null" >
        is_edit = #{isEdit,jdbcType=INTEGER},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.maoding.dynamicForm.entity.DynamicFormGroupEntity" >
    update maoding_dynamic_form_group
    set company_id = #{companyId,jdbcType=VARCHAR},
      group_name = #{groupName,jdbcType=VARCHAR},
      is_edit = #{isEdit,jdbcType=INTEGER},
      seq = #{seq,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectMaxSeq" resultType="java.lang.Integer" parameterType="java.lang.String" >
     SELECT
      ifnull(MAX(seq),0)
    FROM
      maoding_dynamic_form_group
    WHERE
      company_id = #{currentCompanyId}
  </select>


  <select id="selectTypeId" resultType="com.maoding.dynamicForm.entity.DynamicFormGroupEntity" parameterType="com.maoding.dynamicForm.dto.FormGroupDTO" >
    SELECT
    <include refid="Base_Column_List" />
    FROM
    maoding_dynamic_form_group
    WHERE
    company_id = #{companyId}
    AND
    is_edit = #{isEdit}
    AND
    group_name = #{groupName}
  </select>

  <resultMap id="FromGroupMap" type="com.maoding.dynamicForm.dto.FormGroupDTO">
    <id column="id" property="id"/>
    <result column="company_id" property="companyId"/>
    <result column="group_name" property="name"/>
    <result column="group_name" property="groupName"/>
    <result column="is_edit" property="isEdit"/>
    <collection property="formList" ofType="com.maoding.dynamicForm.dto.FormDTO">
      <id column="process_id" property="id"/>
      <result column="form_id" property="formId"/>
      <result column="form_name" property="name"/>
      <result column="form_type" property="formType"/>
      <result column="documentation" property="documentation"/>
      <result column="process_status" property="status"/>
      <result column="form_is_system" property="isSystem"/>
      <result column="process_type" property="type"/>
    </collection>
  </resultMap>

    <!-- 查找动态窗口模板群组 -->
    <select id="listFormGroup" resultMap="FromGroupMap" parameterType="com.maoding.dynamicForm.dto.FormGroupQueryDTO">
        select
            <if test="isIncludeForm == 1">
              process_type.id as process_id,
              process_type.status as process_status,
              process_type.type as process_type,
              process_type.form_type as form_type,
              form_list.id as form_id,
              form_list.form_name,
              form_list.documentation,
              if(form_list.id is null,null,if(form_list.company_id is null,1,0)) as form_is_system,
            </if>
            group_list.*
        from maoding_dynamic_form_group group_list
          <if test="isIncludeForm == 1">
            left join maoding_process_type process_type on (
              process_type.deleted = 0
              and process_type.form_type = group_list.id
              <if test="status != null">
                  and process_type.status = #{status}
              </if>
            )
            left join maoding_dynamic_form form_list on (
              form_list.deleted = 0
              and form_list.id = process_type.form_id
            )
          </if>
        where group_list.deleted = 0
            <if test="currentCompanyId != null">
                and group_list.company_id = #{currentCompanyId}
            </if>
        order by group_list.seq
            <if test="isIncludeForm == 1">
                ,process_type.seq
            </if>
    </select>

</mapper>