<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DynamicFormFieldValueEntityMapper" >
  <resultMap id="BaseResultMap" type="com.maoding.dynamicForm.entity.DynamicFormFieldValueEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="main_id" property="mainId" jdbcType="VARCHAR" />
    <result column="field_id" property="fieldId" jdbcType="VARCHAR" />
    <result column="field_value" property="fieldValue" jdbcType="VARCHAR" />
    <result column="field_value_pid" property="fieldValuePid" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, main_id, field_id, field_value, deleted, create_date, create_by, update_date, 
    update_by
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from maoding_dynamic_form_field_value
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteById" parameterType="java.lang.String" >
    delete from maoding_dynamic_form_field_value
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.maoding.dynamicForm.entity.DynamicFormFieldValueEntity" >
    insert into maoding_dynamic_form_field_value (id, main_id, field_id, 
      field_value,field_value_pid, deleted, create_date,
      create_by, update_date, update_by
      )
    values (#{id,jdbcType=VARCHAR}, #{mainId,jdbcType=VARCHAR}, #{fieldId,jdbcType=VARCHAR}, 
      #{fieldValue,jdbcType=VARCHAR},#{fieldValuePid,jdbcType=VARCHAR}, #{deleted,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP},
      #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateById" parameterType="com.maoding.dynamicForm.entity.DynamicFormFieldValueEntity" >
    update maoding_dynamic_form_field_value
    <set >
      <if test="mainId != null" >
        main_id = #{mainId,jdbcType=VARCHAR},
      </if>
      <if test="fieldId != null" >
        field_id = #{fieldId,jdbcType=VARCHAR},
      </if>
      <if test="fieldValue != null" >
        field_value = #{fieldValue,jdbcType=VARCHAR},
      </if>
      <if test="fieldValuePid != null" >
        field_value_pid = #{fieldValuePid,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.maoding.dynamicForm.entity.DynamicFormFieldValueEntity" >
    update maoding_dynamic_form_field_value
    set main_id = #{mainId,jdbcType=VARCHAR},
      field_id = #{fieldId,jdbcType=VARCHAR},
      field_value = #{fieldValue,jdbcType=VARCHAR},
      field_value_pid = #{fieldValuePid,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>