.m-browser-tips{
    padding: 30px 50px;
    box-sizing:border-box;
}

.m-browser-tips .tips-head{
    text-align: center;
}

.m-browser-tips .tips-head img{
    width:117px;
    height: 50px;
}

.m-browser-tips .tips-content{
    padding: 30px 50px;
    font-size: 18px;
    line-height: 36px;
}

.m-browser-tips .tips-content ul{
    display: inline;
    padding: 0;
    margin: 0;
}

.m-browser-tips .tips-content ul li{
    text-align: center;
    width: 24%;
    padding: 0;
    margin: 0;
    float: left;
    display: block;
}

.m-browser-tips .tips-content ul li img{
    width:100px;
    height: 100px;
}