<style>
    .form-group.designContentBox label.checkbox input{position: absolute;}
    .form-group.designContentBox form{margin: 0;}
    .btn-u{background: #4765a0;font-size: 12px;padding: 2px 12px;line-height: 18px;}
    .btn-u.btn-u-red{background: #e74c3c;}
</style>
<div class="form-group designContentBox p-xs" style="width: 300px;">
{{each designContentList as c}}
<div class="designContentDiv" data-i="{{$index}}">
    <label class="checkbox dp-inline-block">
        {{if c.isChecked==1}}
        <input name="designContent" class="checkbox dinline" type="checkbox" checked value="{{c.id}}"
               content-name="{{c.name}}" design-content-id="{{c.designContentId}}" data-isHas="{{c.isHas}}"/>
        {{/if}}
        {{if c.isChecked!=1}}
        <input name="designContent" class="checkbox dinline" type="checkbox" value="{{c.id}}"
               content-name="{{c.name}}" design-content-id="{{c.designContentId}}"/>
        {{/if}}
        <i></i>
        {{c.name}}
        <!--<span class="timeSpan">{{c.processTimeStr}}</span>-->
        <span class="timeBtn {{if c.isChecked!=1}}hide{{/if}}">
             <a href="javascript:void(0)" type="button" data-action="setDesignContentTime">
                 {{c.processTimeBtnStr==null?'设置进度':c.processTimeBtnStr}}
             </a>
         </span>
    </label>
</div>
{{/each}}
</div>
