
<div class="popover editable-container editable-popup fade top in" role="tooltip">
    <div class="arrow" style="left: 50%;"></div>
    {{if title && title!=''}}
    <h3 class="popover-title">{{title}}</h3>
    {{/if}}
    <div class="popover-content">
        <div>
            <div class="editableform-loading dp-none"></div>
            <form class="editableform">
                <div class="control-group">
                    <div>
                        <div class="editable-input"></div>
                        <div class="editable-error-block help-block " style="display:none;"></div>
                        {{if showAllButton}}
                        <div class="editable-buttons dp-block text-right overflow-hidden">
                            <button type="button" class="btn btn-default btn-sm editable-cancel m-n pull-right">
                                <i class="fa fa-remove"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-sm editable-submit m-r-xs pull-right" >
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                        {{/if}}
                        {{if showCloseButton}}
                        <div class="editable-buttons text-right">
                            <button type="button" class="btn btn-default btn-sm editable-cancel">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>