<div class="designContentOBox" >
    <form class="sky-form rounded-bottom noborder p-m" >
            {{each designContentList as d}}
            <div class=" designContentDiv" data-i="{{$index}}">
                <div class="col-md-12 liBox time-row">

                    <div class="col-md-3 no-padding m-t-sm text-center" title="{{d.contentName}}" style="overflow:hidden;text-overflow:ellipsis;">

                            {{d.contentName}}

                    </div>
                    <div class="col-md-7 no-padding m-t-sm">

                            <!-- 一定存在记录  -->
                            {{if d.projectProcessTimeEntityList && d.projectProcessTimeEntityList.length>0}}

                                <span data-type="startTime">{{d.projectProcessTimeEntityList[0].startTime}}</span>
                                <span>~</span>
                                <span data-type="endTime">{{d.projectProcessTimeEntityList[0].endTime}}</span>
                                {{if d.projectProcessTimeEntityList[0].timeDiffStr!=''}}
                                <span>&nbsp;( <span class="diffDaysTxt">{{d.projectProcessTimeEntityList[0].timeDiffStr}}</span>天 )</span>
                                {{/if}}
                            {{/if}}

                    </div>
                    <div class="col-md-2 text-right btnBox m-t-sm">
                        <a class="btn btn-primary btn-xs rounded {{if d.projectProcessTimeEntityList.length>1}}hide{{/if}}" href="javascript:void(0)" data-action="addTimeChangeRecord">变更</a>
                        <!--<a class="btn btn-xs btn-danger rounded {{if d.projectProcessTimeEntityList.length>1}}hide{{/if}}" href="javascript:void(0)" data-action="delTimeChangeRecord">删除</a>-->
                    </div>
                </div>
                <!--变更 开始-->
                {{each d.projectProcessTimeEntityList as v}}
                    {{if $index>0}}
                        <div class="col-md-12 detailListDiv time-row m-t-sm ">
                            <div class="col-md-3 text-center">

                                    <b>第{{$index}}次变更:</b>

                            </div>
                            <div class="col-md-6 p-l-none" style="background: transparent">

                                    <span data-type="startTime">{{v.startTime}}</span>
                                    {{if (v.startTime!=null && v.startTime!='') || (v.endTime!=null && v.endTime!='')}}
                                    <span>~</span>
                                    {{/if}}
                                    <span data-type="endTime">{{v.endTime}}</span>
                                    {{if (v.startTime!=null && v.startTime!='') && (v.endTime!=null && v.endTime!='')}}
                                    <span>&nbsp;( <span class="diffDaysTxt">{{v.timeDiffStr}}</span>天 )</span>
                                    {{/if}}


                            </div>
                            <div class="col-md-3 text-right btnBox" style="padding-top: 3px;">
                                <a class="btn-u btn-u-xs rounded {{if !(d.projectProcessTimeEntityList.length==$index+1)}}hide{{/if}}"
                                   href="javascript:void(0)" data-action="addTimeChangeRecord">变更</a>
                                <!--<a class="btn-u btn-u-xs btn-u-red rounded {{if !(d.projectProcessTimeEntityList.length==$index+1)}}hide{{/if}}"
                                   href="javascript:void(0)" data-action="delTimeChangeRecord">删除</a>-->
                            </div>
                            <div class="col-md-9 col-md-offset-3 p-l-none m-t-sm">

                                    <b>变更原因：</b> {{v.memo}}

                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    {{/if}}
                {{/each}}
                <!--变更 结束-->
                <div class="clearfix"></div>
            </div>

            {{/each}}
    </form>
</div>
<div class="clearfix"></div>
