
<div class="addRangeOBox">
    <form class="sky-form rounded-bottom" >
        <fieldset>
            <div class="row">
                {{each designRangeList as d}}
                <div class="col-md-3">
                    <label class="checkbox" title="{{d.name}}">
                        {{if d.isChecked==1}}
                        <input name="range" class="checkbox" type="checkbox" checked value="{{d.name}}"/>
                        {{/if}}
                        {{if d.isChecked!=1}}
                        <input name="range" class="checkbox" type="checkbox" value="{{d.name}}"/>
                        {{/if}}
                        <i></i>
                        {{d.name }}
                    </label>
                </div>
                {{/each}}
            </div>
            <div class="row otherRangeRow">
                {{each otherRange as d}}
                <div class="col-md-3 liBox">
                    <div class="col-md-2 no-padding" >
                        <label class="checkbox" title="{{d.designRange}}">
                            <input name="otherRange" class="checkbox" type="checkbox" checked/>
                            <i></i>
                        </label>
                    </div>
                    <div class="col-md-10 out-box no-pd-left no-pd-right">
                        <label class="input">
                            <input id="{{d.id}}" class="designRange form-control" type="text" name="designRange" placeholder="请输入名称" value="{{d.designRange}}"/>
                        </label>
                    </div>
                </div>
                {{/each}}
                <div class="col-md-3">
                    <label class="label hao curp" data-action="addOtherRange">
                        <i class="fa fa-plus-square f-s-xl"></i>
                        <span class="color-dark-blue f-s-m">&nbsp;自定义</span>
                    </label>
                </div>
            </div>
        </fieldset>
    </form>
</div>
