ul.project-menu-ul{
    list-style: none;

}
ul.project-menu-ul li{
    float: left;
    padding: 15px 40px;
}
ul.project-menu-ul li a{
    color: #ccc;
}
ul.project-menu-ul li.active a{
    color: #108ee9;
}