.m_projectBasicInfo form.sky-form {
    border: none;
    margin-bottom: 40px;
}

.m_projectBasicInfo form.sky-form table tbody tr td {
    height: 47px;
    min-height: 47px;
    vertical-align: middle;
}
.m_projectBasicInfo.min-h form.sky-form table tbody tr td {
    height: 30px;
    min-height: 30px;
    vertical-align: middle;
}

.m_projectBasicInfo form.sky-form table tbody tr td:nth-child(odd) {
    background: #f4f4f4;
    text-align: right;
}
.m_projectBasicInfo form.sky-form table tbody tr td.bg-v1-grey{
    background-color: #F4F4F4;
    color: #676a6c;
}

.m_projectBasicInfo form.sky-form table tbody tr td div.col-md-3.design_item {
    width: 18.666%;
}

.m_projectBasicInfo form.sky-form table tbody tr td div.greyBg_item {
    padding: 4px 10px;
    background-color: #f4f4f4;
    border: 1px solid #d9d9d9;
}

.m_projectBasicInfo .no-float {
    float: none;
}

.m_projectBasicInfo .sky-form .webuploader-pick {
    background: #4765a0;
    padding: 2px 10px;
}

.m_projectBasicInfo .adaptWidth2 {
    padding-left: 5px;
    padding-right: 5px;
}

.m_projectBasicInfo .editable-empty, .m_projectBasicInfo .editable-empty:hover, .m_projectBasicInfo .editable-empty:focus {
    color: #ccc;
    font-style: normal;
}

.m_projectBasicInfo .editable-click, .m_projectBasicInfo a.editable-click, .m_projectBasicInfoa .editable-click:hover {
    border: none
}

.m_projectBasicInfo .form-control[readonly] {
    background-color: #fff;
}

.m_projectBasicInfo a.designRangeEditBtn:hover {
    text-underline: none;
    border-bottom: none
}

.m_projectBasicInfo .tt-hint.input-sm {
    font-size: 14px;
}

.m_projectBasicInfo a.normalAElem {
    color: #676a6c;
    text-underline: none;
    cursor: text;
}

.m_projectBasicInfo a.normalAElem:hover {
    border-bottom: none
}

.m_projectBasicInfo .projectDesignContent ul.todo-list li.design_item.designContentDiv {
    padding-left: 0;
}

.m_projectBasicInfo .editable-input select.form-control {
    padding: 0 12px;
}

.m_projectBasicInfo li.design_item.designContentDiv .editable-container .editable-error-block {
    display: none !important;
}

.m_projectBasicInfo .addDesignContentLi .editable-container .editable-error-block {
    display: none !important;
}

/*屏蔽甲方输入框 placehold提示*/
.m_projectBasicInfo .twitter-typeahead input.tt-hint {
    display: none;
}


.m_projectBasicInfo .todo-list.small-list.bg-white>li{
    padding-left: 0;
}

.m_projectBasicInfo a[data-action="addDesignContent"].editable-click, .m_projectBasicInfo a[data-action="addDesignContent"].editable-click:hover {
    border: 1px solid #e7eaec !important;
}

.m_projectBasicInfo li.designContentLi span.designContentDiv {
    display: inline-block;
    border: 1px solid #e5e6e7;
    padding: 10px 10px 10px 20px;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 15px;
    height:57px;
    width: 240px;
}

.m_projectBasicInfo li.designContentLi span.addDesignContentDiv {
    display: inline-block;
    border: 1px dashed #e5e6e7;
    padding: 10px 10px 10px 20px;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 15px;
    height:57px;
    width: 240px;
}

.m_projectBasicInfo li.designContentLi span.designContentDiv label.i-checks {
    margin-bottom: 0;
    float: left;
    margin-right: 15px;
    margin-top: 6px;
}
.m_projectBasicInfo span.content-name{
    width: auto;
    max-width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    line-height: 16px;
}

.m_projectBasicInfo li.designContentLi{
    padding-top: 27px;
}

.m_projectBasicInfo li.designContentLi a[data-action="addDesignContent"]{
    width: 100%;
    height: 100%;
    border: none!important;
    padding-top: 18px;
    border-radius: 0;
}
.m_projectBasicInfo li.designContentLi a[data-action="addDesignContent"]:hover{
    border: none!important;
}

.m_projectBasicInfo .ibox-title .m-r-none{
    margin-bottom: 0px;
}
.m_projectBasicInfo .unit-span-in{
    position: absolute;
    right: 22px;
    top: 5px;
}
.m_projectBasicInfo .ibox-title>h4{
    display: inline-block;
}
.m_projectBasicInfo .ibox-tools{
    display: inline-block;
    float: right;
}
.m_projectBasicInfo .file-span{
    background: #fff;
    padding: 3px 2px 3px 10px;
    border-radius: 5px;
    float: left;
}
.m_projectBasicInfo .file-span:hover{
    background: #f3f3f4;
}
.m_projectBasicInfo .file-del-span{
    width: 14px;
    display: inline-block;
}


