<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="GetProjectDesignBasisMapper" >
  <resultMap id="BaseResultMap" type="com.maoding.project.dto.ProjectDesignBasisDTO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="design_basis" property="designBasis" jdbcType="VARCHAR" />
    <result column="basis_date" property="basisDate" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, project_id, design_basis, basis_date,status,file_path,file_name
  </sql>

  <select id="getDesignBasisByProjectId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
      a.id, a.project_id, design_basis, basis_date,a.status,b.file_path,b.file_name
    from maoding_web_project_design_basis a
    LEFT JOIN maoding_web_project_attach b on a.id = b.target_id and b.file_type='2'
    where a.project_id = #{projectId,jdbcType=VARCHAR}
    order by a.seq
  </select>
</mapper>