<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ProjectDesignBasisEntityMapper" >
  <resultMap id="BaseResultMap" type="com.maoding.project.entity.ProjectDesignBasisEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="design_basis" property="designBasis" jdbcType="VARCHAR" />
    <result column="basis_date" property="basisDate" jdbcType="DATE" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_id, design_basis, basis_date, create_date, create_by, update_date, update_by, 
    status
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from maoding_web_project_design_basis
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getDesignBasisByProjectId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from maoding_web_project_design_basis
    where project_id = #{projectId,jdbcType=VARCHAR}
    order by seq
  </select>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from maoding_web_project_design_basis
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.maoding.project.entity.ProjectDesignBasisEntity" >
    insert into maoding_web_project_design_basis (id, project_id, design_basis, seq,
      basis_date, create_date, create_by,
      update_date, update_by, status
      )
    values (#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{designBasis,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER},
      #{basisDate,jdbcType=DATE}, now(), #{createBy,jdbcType=VARCHAR},
      now(), #{updateBy,jdbcType=VARCHAR}, '0'
      )
  </insert>
  <update id="updateById" parameterType="com.maoding.project.entity.ProjectDesignBasisEntity" >
    update maoding_web_project_design_basis
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="designBasis != null" >
        design_basis = #{designBasis,jdbcType=VARCHAR},
      </if>
      <if test="basisDate != null" >
        basis_date = #{basisDate,jdbcType=DATE},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
        update_date = now(),
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <delete id="deleteDBasisByProjectId" parameterType="java.lang.String" >
    delete from maoding_web_project_design_basis
    where project_id = #{projectId,jdbcType=VARCHAR}
  </delete>
</mapper>