.m_myTask .select2-container--default .select2-selection--single .select2-selection__rendered{
    text-align: left;
}
.m_myTask .search-by-state{
    width: 80px;
}
.m_myTask .btn-pd{
    padding: 9px 10px 9px 10px;
}