<div class="panel panel-default no-margins no-borders m_field_settings">
    <div class="panel-heading no-margins no-padding">
        <div class="b-r pull-left left-title" >
            <h4 class="m-sm m-l">可选字段</h4>
        </div>
        <div class="pull-left right-title" >
            <h4 class="m-sm">当前选定字段<span class="fc-v1-grey fw-normal f-s-xs">(拖拽进行调整顺序)</span></h4>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body no-margins no-padding check-box" style="{{dialogMinHeight}}">
        <div class="b-r left-body">
            {{each optionalTitleGroupList as s}}
            <div class="field-group">
                <div class="col-md-12">
                    <h4>
                        {{s.name}}
                        <label class="i-checks fw-normal pull-right">
                            <input name="itemCk" type="checkbox" value=""/>
                            <span class="i-checks-span">全选</span>
                        </label>
                    </h4>
                    <div class="hr-line-dashed m-t-n-xs m-b-xs"></div>
                </div>
                {{each s.optionalTitleList as sub}}
                <div class="col-md-4 no-pd-right">
                    <label class="i-checks fw-normal">
                        {{if sub.isSelected==1}}
                            {{if sub.canBeHide==0}}
                                <input name="itemCk" type="checkbox" checked value="{{sub.code}}" disabled=""/>
                            {{else}}
                                <input name="itemCk" type="checkbox" checked value="{{sub.code}}"/>
                            {{/if}}
                        {{else}}
                            <input name="itemCk" type="checkbox" value="{{sub.code }}" />
                        {{/if}}
                        <span class="i-checks-span">{{sub.name }}</span>
                    </label>
                </div>
                {{/each}}
                <div class="clearfix"></div>
            </div>
            {{/each}}
        </div>
        <div class="right-body" >
            <ul class="list-group" id="selectedFieldBox">

            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
